@charset "utf-8";

caption {display:none;width:0;height:0;font-size:0;text-indent:-9999px;}
#el_wrapper table {color:#000;}

#el_wrapper {width:1016px;min-height:670px;margin:0 auto;color:#000;font-size:12px;overflow:hidden;position:relative;}
#el_wrapper .header {position:relative;width:1000px !important;min-width:1016px;height:auto;min-height:141px;z-index:45;}
#el_wrapper .header h1 {padding:31px 0;border-bottom:1px solid #000;text-align:center;}
#el_wrapper .header .tmenu {position:absolute;top:69px;left:24px;}
#el_wrapper .header .tmenu ul {clear:both;overflow:hidden;}
#el_wrapper .header .tmenu li {float:left;margin-right:14px;padding-left:16px;background:url('../images/bg_tmenu_bar.gif') 0 2px no-repeat;}
#el_wrapper .header .tmenu li:first-child {padding:0;background:none;}
#el_wrapper .header .tmenu li a {color:#000;font-size:11px;}
#el_wrapper .header .tbanner {position:absolute;top:0;right:0;}
#el_wrapper .header .gnb {position:relative;min-height:51px;}
#el_wrapper .header .gnb ul {border-bottom:1px solid #ccc;text-align:center;}
#el_wrapper .header .gnb li {display:inline-block;*display:inline;margin:0 18px;vertical-align:top;}
#el_wrapper .header .gnb>ul>li>a {font-size:0;}
#el_wrapper .header .gnbsub {clear:both;display:none;position:absolute;top:51px;left:0;min-height:288px;padding-left:40px;background:url('../images/bg_gnbsub.gif') left top repeat-x;text-align:left;overflow:hidden;z-index:100;}
#el_wrapper .header .gnbsub.open {display:block;}
#el_wrapper .header .gnbsub .section {float:left;width:210px;}
#el_wrapper .header .gnbsub h3 {margin:0 0 13px 6px;}
#el_wrapper .header .gnbsub h3.all {height:38px;margin:0 0 10px -40px;}
#el_wrapper .header .gnbsub h3.all a {display:block;height:25px;padding:13px 0 0 47px;}
#el_wrapper .header .gnbsub ul {border-bottom:none;}
#el_wrapper .header .gnbsub li {display:block;margin:0 0 11px 0;text-align:left;}
#el_wrapper .header .gnbsub li a {padding-left:7px;color:#444;}
#el_wrapper .header .gnbsub li a:hover {font-weight:bold;text-decoration:underline;}
#el_wrapper .header #gnbsub3 {left:200px;width:630px;}
#el_wrapper .header #gnbsub4 {left:180px;width:700px;}
#el_wrapper .header #gnbsub4 .section {width:140px !important;}
#el_wrapper .header #gnbsub5 {left:394px;width:280px;}
#el_wrapper .header #gnbsub5 .section {width:140px !important;}
#el_wrapper .header #gnbsub6 {left:230px;width:730px;}
#el_wrapper .header #gnbsub6 .section {width:170px;}
#el_wrapper .header #gnbsub6>div:first-of-type {width:220px !important;}
#el_wrapper .header #gnbsub7 {left:590px;width:150px;}
#el_wrapper .header #gnbsub7 .section {width:110px !important;}

#el_wrapper .maincontents {margin-top:-1px;}
#el_wrapper .maincontents .section {margin-bottom:14px;}
#el_wrapper .maincontents .section2 {clear:both;margin-bottom:14px;overflow:hidden;}
#el_wrapper .maincontents .section2 a {float:left;display:block;}
#el_wrapper .maincontents .section2 a:first-child {margin-right:14px;}

#el_wrapper .contents {position:relative;width:1016px;padding-bottom:20px;}
#el_wrapper .contents #gotop {position:absolute;bottom:186px;right:35px;cursor:pointer;}
#el_wrapper .contents #gotop2 {position:relative;top:-78px;margin-bottom:-68px;text-align:right;}
#el_wrapper .contents .eloca {margin-bottom:25px;padding-top:25px;color:#000;}
#el_wrapper .contents .eloca a {margin:0;color:#000;vertical-align:top;}
#el_wrapper .contents h2 {}
#el_wrapper .contents h3 {margin-bottom:25px;padding-top:25px;color:#040a2b !important;font-size:23px;font-weight:bold;text-align:center;line-height:23px;}
#el_wrapper .contents h3.bar {margin-bottom:21px;padding:9px 0 12px 6px;border-bottom:1px solid #d6d6d6;text-align:left;}
#el_wrapper .contents .subtitle {position:relative;padding:40px 0 63px 0;}
#el_wrapper .contents .subtitle h3 {margin:0;padding:0;}
#el_wrapper .contents .subtitle .eloca {position:absolute;top:96px;left:0;margin:0;padding:0;}
#el_wrapper .contents .subtitle .sorting {position:absolute;top:88px;right:20px;width:131px;height:20px;background:url('../images/bg_selectbox.gif') left top no-repeat;}
#el_wrapper .contents .subtitle .sorting2 {position:absolute;top:88px;right:158px;width:131px;height:20px;background:url('../images/bg_selectbox.gif') left top no-repeat;}
#el_wrapper .contents .subtitle label {position:absolute;top:2px;left:4px;font-size:11px;}
#el_wrapper .contents .subtitle select {width:131px;height:20px;min-height:20px;font-size:11px;line-height:20px;opacity:0;filter:alpha(opacity=0);}

#el_wrapper .contents .collection {margin:20px 0 40px 0;}
#el_wrapper .contents .collection ul {clear:both;overflow:hidden;}
#el_wrapper .contents .collection li {float:left;width:25%;text-align:center;}
#el_wrapper .contents .bestseller {margin:50px 0;text-align:center;}
#el_wrapper .contents .hiddentext {display:none;}
#el_wrapper .contents .store {margin-top:44px;}
#el_wrapper .contents .store dl {clear:both;overflow:hidden;}
#el_wrapper .contents .store dt {float:left;width:109px;height:19px;margin:0 38px 38px 0;padding-left:83px;}
#el_wrapper .contents .store dd {float:left;width:712px;height:19px;margin-bottom:38px;line-height:19px;}
#el_wrapper .contents .store dd .tel {margin-left:16px;}

/* MPP */
#el_wrapper .contents .prodList {position:relative;}
#el_wrapper .contents .prodList ul {clear:both;overflow:hidden;}
#el_wrapper .contents .prodList li {position:relative;float:left;width:310px;min-height:552px;margin-left:43px;margin-bottom:50px;color:#040a2b;text-align:center;}
#el_wrapper .contents .prodList li.fst {margin-left:0;}
#el_wrapper .contents .prodList li .pimg {position:relative;margin-bottom:23px;border:1px solid #d6d6d6;}
#el_wrapper .contents .prodList li .pimg .ptag {position:absolute;top:7px;left:7px;font-size:0;}
#el_wrapper .contents .prodList li .pimg .ptag img {margin-right:3px;}
#el_wrapper .contents .prodList li h4 {height:42px;padding:0 30px;font-size:14px;}
#el_wrapper .contents .prodList li h4 a {color:#040a2b;font-weight:bold;word-break:keep-all;word-wrap:break-word;}
#el_wrapper .contents .prodList li .pdesc {height:39px;padding:0 15px;word-break:keep-all;word-wrap:break-word;}
#el_wrapper .contents .prodList li .pstar {min-height:31px;}
#el_wrapper .contents .prodList li .psize {min-height:37px;}
#el_wrapper .contents .prodList li .psize select {max-width:170px;}
#el_wrapper .contents .prodList li .psize .color {margin-left:29px;}
#el_wrapper .contents .prodList li .psize .color_select {}
#el_wrapper .contents .prodList li .psize .color_select img {margin-top:-7px;vertical-align:top;}
#el_wrapper .contents .prodList li .price {min-height:33px;font-weight:bold;}
#el_wrapper .contents .prodList li .btn {clear:both;position:relative;padding-left:12px;overflow:hidden;}
#el_wrapper .contents .prodList li .btn a {float:left;display:block;margin-right:7px;}
#el_wrapper .contents .prodList .top {display:block;text-align:right;}
#el_wrapper .contents .paging {#margin-top:30px;border-top:none;text-align:center;}
#el_wrapper .contents .paging a {display:inline-block;vertical-align:top;*zoom:1;*display:inline;}
#el_wrapper .contents .paging a span {display:block;padding:0 4px 0 15px;background:url('../images/bg_paging.png') -42px 5px no-repeat;color:#8e8e8e;}
#el_wrapper .contents .paging a.sel span {color:#040a2b;font-weight:bold;}
#el_wrapper .contents .paging a.fst span {background:none;}
#el_wrapper .contents .paging a.prev2 span {width:14px;height:11px;margin:3px 3px 0 0;padding:0;background-position:0 0;font-size:0;text-indent:-9999;}
#el_wrapper .contents .paging a.prev span {width:7px;height:11px;margin:3px 17px 0 0;padding:0;background-position:-14px 0;font-size:0;text-indent:-9999;}
#el_wrapper .contents .paging a.next span {width:7px;height:11px;margin:3px 0 0 21px;padding:0;background-position:-21px 0;font-size:0;text-indent:-9999;}
#el_wrapper .contents .paging a.next2 span {width:14px;height:11px;margin:3px 3px 0 4px;padding:0;background-position:-28px 0;font-size:0;text-indent:-9999;}
#el_wrapper .contents .paging a.all {color:#040a2b;font-weight:bold;text-decoration:underline !important;display:none;}
#el_wrapper .contents .paging a.prev2, #el_wrapper .contents .paging a.prev, #el_wrapper .contents .paging a.next, #el_wrapper .contents .paging a.next2 {background-image:none;}
#el_wrapper .cmask {display:none;position:fixed;top:0;left:0;right:0;bottom:0;width:100%;height:100%;background:#000;opacity:0.3;filter:alpha(opacity=30);z-index:47;cursor:pointer;}

/* MPP Layer Popup*/
#inline_colorchip {display:none;position:absolute;width:310px;height:605px;z-index:48;}
#inline_colorchip .smoosh {background:#fff;}
#inline_colorchip .info {position:absolute;top:300px;left:0;width:310px;padding:9px 0 91px 0;background:transparent url('../images/bg_colorchip_info.png') left top repeat-x;color:#040a2b;text-align:center;z-index:49;}
#inline_colorchip .info .close {display:block;position:absolute;top:11.5px;right:2.5px;width:40px;height:40px;background:url('../images/colorbox_close.gif') 12.5px 12.5px no-repeat;font-size:0;text-indent:-9999;}
#inline_colorchip .info h4 {min-height:45px;padding:25px 60px 0 60px;font-size:14px;}
#inline_colorchip .info h4 a {color:#000;}
#inline_colorchip .info .psize {min-height:32px;}
#inline_colorchip .info .psize .price {margin-right:24px;font-weight:bold;}
#inline_colorchip .info .psize select {width:41px;color:#040a2b;font-size:12px;}
#inline_colorchip .info .pselect {min-height:46px;}
#inline_colorchip .info .pselect select {width:213px;color:#040a2b;font-size:12px;}
#inline_colorchip .info .colorList {width:210px;margin:0 auto;/*padding-left:12px;*/text-align:left;}
#inline_colorchip .info .colorList a {display:inline-block;*zoom:1;*display:inline;width:26px;height:26px;margin:0 -1px 3px 0;font-size:0;text-indent:-9999;vertical-align:top;}
#inline_colorchip .info .colorList a:hover, #inline_colorchip .info .colorList a.on {border:3px solid #000;width:20px;height:20px;}
#inline_colorchip .info .btn {clear:both;position:absolute;bottom:13px;left:13px;overflow:hidden;}
#inline_colorchip .info .btn a {float:left;display:block;margin-right:7px;}

/* SPP */
#el_wrapper .contents .prodView {clear:both;width:940px;margin:0 auto;margin-bottom:50px;padding-bottom:30px;border-bottom:1px solid #ccc;overflow:hidden;}
#el_wrapper .contents .prodView .leftSection {float:left;width:345px;margin-right:40px;padding-top:25px;text-align:center;}
#el_wrapper .contents .prodView .leftSection .pimg {position:relative;margin-bottom:10px;padding-top:35px;}
#el_wrapper .contents .prodView .leftSection .pimg .ptag {position:absolute;top:7px;left:7px;}
#el_wrapper .contents .prodView .leftSection .pimg .ptag img {margin-right:4px;}
#el_wrapper .contents .prodView .leftSection .thumbImg {margin-bottom:25px;font-size:0;}
#el_wrapper .contents .prodView .leftSection .thumbImg a {display:inline-block;width:63px;height:63px;padding:5px;margin-right:5px;border:1px solid #d6d6d6;}
#el_wrapper .contents .prodView .leftSection .share {}
#el_wrapper .contents .prodView .leftSection .pgrade {width:200px;margin:15px auto;text-align:left;}
#el_wrapper .contents .prodView .leftSection .pgrade dt {margin-bottom:5px;}
#el_wrapper .contents .prodView .leftSection .pgrade dd {position:relative;}
#el_wrapper .contents .prodView .leftSection .pgrade .num {position:absolute;bottom:-2px;#bottom:30px;right:5px;color:#656565;font-size:40px;font-weight:bold;line-height:44px;letter-spacing:-0.1em;text-align:right;}
#el_wrapper .contents .prodView .leftSection .btn_write {width:190px;height:33px;#height:25px;margin:0 auto;#margin-top:-30px;#padding-top:8px;background:url('../images/bg_write_board.gif') left top no-repeat;line-height:33px;#line-height:15px;}
#el_wrapper .contents .prodView .leftSection .btn_write a {display:block;color:#000;text-decoration:none;}
#el_wrapper .contents .prodView .leftSection .btn_write .count {display:inline-block;margin-left:15px;padding-left:15px;background:url('../images/bg_write_count.gif') 0 8px no-repeat;#background-position:0 0;vertical-align:top;}
#el_wrapper .contents .prodView .rightSection {float:left;width:555px;padding-top:34px;font-size:12px;line-height:1.3em;}
#el_wrapper .contents .prodView .rightSection .eloca {position:relative;top:0;left:0;margin-bottom:15px;padding:0;}
#el_wrapper .contents .prodView .rightSection h4 {margin-bottom:37px;font-size:16px;font-weight:bold;line-height:20px;}
#el_wrapper .contents .prodView .rightSection .desc {margin-bottom:20px;padding:0 20px 20px 20px;border-bottom:1px solid #d5d5d5;font-size:12px;}
#el_wrapper .contents .prodView .rightSection table {width:515px;margin:0 auto;}
#el_wrapper .contents .prodView .rightSection th {padding:6px 0;font-size:12px;text-align:left;}
#el_wrapper .contents .prodView .rightSection th.alnc {text-align:center;}
#el_wrapper .contents .prodView .rightSection td {padding:6px 0;font-size:12px;}
#el_wrapper .contents .prodView .rightSection td img.imiddle {margin:-3px 0;vertical-align:top;}
#el_wrapper .contents .prodView .rightSection td select {height:20px;margin:-3px 0;padding:0;font-size:12px;}
#el_wrapper .contents .prodView .rightSection td select.wsize {width:70px;}
#el_wrapper .contents .prodView .rightSection tr.answer {display:none;}
#el_wrapper .contents .prodView .rightSection .colorchip {position:relative;clear:both;margin:20px 0;padding:5px 0;border-top:1px solid #ccc;border-bottom:1px solid #ccc;overflow:hidden;}
#el_wrapper .contents .prodView .rightSection .colorchip .smoosh {position:absolute;top:0;bottom:0;left:0;right:0;width:182px;text-align:center;}
#el_wrapper .contents .prodView .rightSection .colorchip .smoosh .helper {display:inline-block;*display:inline;height:100%;vertical-align:middle;}
#el_wrapper .contents .prodView .rightSection .colorchip .smoosh img {#margin-top:25px;vertical-align:middle;}
#el_wrapper .contents .prodView .rightSection .colorchip .colorList {position:relative;width:240px;margin-left:182px;padding:26px 30px 23px 0;}
#el_wrapper .contents .prodView .rightSection .colorchip .colorList .name {display:none;position:absolute;top:0;left:0;margin-bottom:15px;color:#040a2b;font-size:12px;}
#el_wrapper .contents .prodView .rightSection .colorchip .colorList a {display:inline-block;margin:0 0 3px -2px;border:2px solid #fff;*zoom:1;*display:inline;}
#el_wrapper .contents .prodView .rightSection .colorchip .colorList a span {display:block;width:25px;height:25px;margin:1px;font-size:0;text-indent:-9999px;}
#el_wrapper .contents .prodView .rightSection .colorchip .colorList a.on, #el_wrapper .contents .prodView .rightSection .colorchip .colorList a:hover {border:2px solid #000;}
#el_wrapper .contents .prodView .rightSection .btn {margin-top:24px;}
#el_wrapper .contents .prodView .rightSection .btn a {font-size:0;}
#el_wrapper .contents .prodView .rightSection .btn img {margin-right:6px;}
#el_wrapper .contents .prodView .rightSection .note {margin-top:6px;padding-left:13px;background:url('../images/icon_note.gif') 2px 2px no-repeat;color:#040a2b;}

#el_wrapper .contents .prodVideo {clear:both;width:940px;margin:0 auto 50px auto;overflow:hidden;}
#el_wrapper .contents .prodVideo h5 {margin-bottom:7px;padding-left:11px;font-size:14px;font-weight:bold;}
#el_wrapper .contents .prodVideo iframe {float:left;width:640px;border:1px solid #dcdcdc;}
#el_wrapper .contents .prodVideo .description {float:left;width:297px;height:390px;border:1px solid #dcdcdc;border-left:none;}
#el_wrapper .contents .prodVideo .description .inner {height:370px;padding:10px;overflow-y:scroll;}
#el_wrapper .contents .prodSpec {width:940px;margin:0 auto 50px auto;}

#el_wrapper .contents .prodWith {width:940px;margin:0 auto 100px auto;}
#el_wrapper .contents .prodWith ul {clear:both;width:816px;margin:0 auto;overflow:hidden;}
#el_wrapper .contents .prodWith li {float:left;width:212px;padding:0 30px;text-align:center;}
#el_wrapper .contents .prodWith li .pimg {padding-bottom:30px;}
#el_wrapper .contents .prodWith li .pname {min-height:45px;font-weight:bold;}
#el_wrapper .contents .prodWith li .pname a {color:#000;}
#el_wrapper .contents .prodWith li .pdesc {min-height:43px;}
#el_wrapper .contents .prodWith li .price {margin-bottom:13px;font-weight:bold;}
#el_wrapper .contents .prodWith li>a {font-size:0;}

#el_wrapper .contents .prodTabs {margin-top:60px;}
#el_wrapper .contents .prodTabs .tabs {clear:both;height:35px;margin-bottom:30px;background:url('../images/bg_prod_tabs2.gif') left top repeat-x;border-left:1px solid #ccc;overflow:hidden;}
#el_wrapper .contents .prodTabs .tabs li {position:relative;float:left;width:140px;border-top:1px solid #ccc;border-right:1px solid #ccc;text-align:center;}
#el_wrapper .contents .prodTabs .tabs li a {display:inline-block;height:25px;padding-top:8px;text-decoration:none;text-align:center;}
#el_wrapper .contents .prodTabs .tabs li.selected {background:#fff;border-top:2px solid #000;border-left:2px solid #000;border-right:2px solid #000;font-weight:bold;}
#el_wrapper .contents .prodTabs .tabscont {}

/*tabs*/
#tabs {position:relative;background:url('../images/bg_prod_tabs.gif') left top repeat-x;overflow:hidden;zoom:1;}
#tabs .ui-tabs-nav {position:relative;margin:0px;padding:0px;list-style:none;z-index:1;}
#tabs .ui-tabs-nav li {position:relative;float:left;width:182px;margin-left:1px;background:#f7f7f7;border-top:1px solid #f7f7f7;border-left:1px solid #f7f7f7;border-right:1px solid #f7f7f7;text-align:center;}
#tabs .ui-tabs-nav li:first-child {width:183px;margin-left:0;}
#tabs .ui-tabs-nav li a.tabli {display:inline-block;height:40px;color:#000;font-size:14px;text-decoration:none;text-align:center;line-height:41px;}
#tabs .ui-tabs-nav li.ui-tabs-active {background:#fff;font-weight:bold;border-top:1px solid #d5d5d5;border-left:1px solid #d5d5d5;border-right:1px solid #d5d5d5;}
#tabs .ui-tabs-nav li.ui-tabs-active a.tabli {height:41px;}
#tabs .ui-tabs-hide {display:none !important;}
#tabs .ui-tabs-panel {position:relative;top:0px;left:-1px;width:555px;margin:0px;padding:30px 0 0 0;background:#fff;font-weight:normal;text-align:left;overflow:hidden;}
#tabs #tabsdiv-2 {margin-left:-186px;}
#tabs #tabsdiv-3 {margin-left:-371px;}

#tabs2 {margin-bottom:60px;padding:0;border:none;}
#tabs2 .ui-tabs-nav {clear:both;height:35px;margin-bottom:20px;padding:0;background:url('../images/bg_prod_tabs2.gif') left top repeat-x;border-left:1px solid #ccc;overflow:hidden;}
#tabs2 .ui-tabs-nav li {position:relative;float:left;width:140px;margin:0;border-top:1px solid #ccc;border-right:1px solid #ccc;background:none;text-align:center;}
#tabs2 .ui-tabs-nav li a.tabli {display:inline-block;width:100%;height:25px;padding:8px 0 0 0;color:#000;text-decoration:none;text-align:center;}
#tabs2 .ui-tabs-nav li.ui-tabs-active {background:#fff;border-top:2px solid #000;border-left:2px solid #000;border-right:2px solid #000;font-weight:bold;}
#tabs2 .ui-tabs-panel {padding:20px 0 50px 0;}
#tabs2 .ui-tabs-panel p {margin-bottom:50px;}

#el_wrapper .contents .reviewTable {width:555px !important;margin-bottom:20px !important;border-top:1px solid #000;border-bottom:1px solid #000;}
#el_wrapper .contents .reviewTable th {margin:0;padding:8px 0px;background:#f9f9f9;border-collapse:collapse;text-align:center !important;}
#el_wrapper .contents .reviewTable td {margin:0;padding:6px 0px;border-top:1px solid #ccc;text-align:center;}
#el_wrapper .contents .reviewTable td a {color:#000;}
#el_wrapper .contents .reviewTable td.pl {text-align:left !important;}
#el_wrapper .contents .reviewTable td.pl img {vertical-align:bottom;}
#el_wrapper .contents .reviewTable tr.answer td {background:#f9f9f9;font-size:11px;text-align:left;}
#el_wrapper .contents .reviewTable tr.answer td .rview {clear:both;margin:10px 10px 10px 40px;font-size:11px;line-height:15px;overflow:hidden;}
#el_wrapper .contents .reviewTable tr.answer td .rview img {float:left;padding-right:10px;}


/*slidejs*/
#main_slides, #collection_slides {position:relative;z-index:1;}
#el_wrapper .slides_container {position:relative;z-index:2;}
#el_wrapper #main_slides .prev, #el_wrapper #collection_slides .prev {display:none;}
#el_wrapper #main_slides .next, #el_wrapper #collection_slides .next {display:none;}
#el_wrapper .pagination_slides {position:absolute;right:53px;bottom:20px;z-index:3;text-align:right;}
#el_wrapper .pagination_slides li {display:inline-block;*display:inline;*zoom:1;}
#el_wrapper .pagination_slides li a {display:block;width:12px;height:12px;margin:0 3px;background:url('../images/bxslider_controls.png') -17px -1px no-repeat;font-size:0;text-indent:-9999;}
#el_wrapper .pagination_slides li.current a {background:url('../images/bxslider_controls.png') -1px -1px no-repeat;}
#el_wrapper .play {display:block;position:absolute;right:34px;bottom:18px;width:13px;height:15px;margin:0 3px;background:url('../images/bxslider_controls.png') -35px 0 no-repeat;font-size:0;text-indent:-9999px;z-index:3;}
#el_wrapper .pause {display:block;position:absolute;right:19px;bottom:18px;width:11px;height:15px;margin:0 3px;background:url('../images/bxslider_controls.png') -52px 0 no-repeat;font-size:0;text-indent:-9999px;z-index:3;}


/*tooltip*/
.tooltipster-default {max-width:300px;height:38px;padding-right:3px;background:url('../images/bg_tooltip.png') left top no-repeat;}
.tooltipster-default .tooltipster-content {padding:6px 10px 8px 10px;background:url('../images/bg_tooltip_right.png') right top no-repeat;color:#000;font-size:12px;line-height:16px;overflow:hidden;}
.tooltipster-icon {margin-left:4px;cursor:help;}
.tooltipster-base {position:absolute;top:0;left:0;width:auto;padding:0;font-size:0;line-height:0;z-index:9999999;pointer-events:none;overflow:visible;}
.tooltipster-base .tooltipster-content {overflow:hidden;}
.tooltipster-arrow {display:none;}
.tooltipster-fade {opacity:0;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;-ms-transition-property:opacity;transition-property:opacity;}
.tooltipster-fade-show {opacity:1;}

.tooltipster-noir {width:308px;border:1px solid #000;background:#fff;color:#2c2c2c;}
.tooltipster-noir .tooltipster-content {padding:8px 10px;font-size:12px;line-height:16px;text-align:center;}
.tooltipster-arrow {display:block;position:absolute;top:0;left:0;width:100%;height:100%;z-index:-1;text-align:center;}
.tooltipster-arrow span, .tooltipster-arrow-border {display:block;position:absolute;width:0;height:0;}
.tooltipster-arrow-top span, .tooltipster-arrow-top-right span, .tooltipster-arrow-top-left span {bottom:-8px;border-left:8px solid transparent !important;border-right:8px solid transparent !important;border-top:8px solid;}
.tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-top-left .tooltipster-arrow-border {bottom:-8px;border-left:9px solid transparent !important;border-right:9px solid transparent !important;border-top:9px solid;}
.tooltipster-arrow-bottom span, .tooltipster-arrow-bottom-right span, .tooltipster-arrow-bottom-left span {top:-8px;border-left:8px solid transparent !important;border-right:8px solid transparent !important;border-bottom:8px solid;}
.tooltipster-arrow-bottom .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {top:-8px;border-left:9px solid transparent !important;border-right:9px solid transparent !important;border-bottom:9px solid;}
.tooltipster-arrow-top span, .tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-bottom span, .tooltipster-arrow-bottom .tooltipster-arrow-border {left:0;right:0;margin:0 auto;}
.tooltipster-arrow-top-left span, .tooltipster-arrow-bottom-left span {left:6px;}
.tooltipster-arrow-top-left .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {left:5px;}
.tooltipster-arrow-top-right span,  .tooltipster-arrow-bottom-right span {right:6px;}
.tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border {right:5px;}
.tooltipster-arrow-left span, .tooltipster-arrow-left .tooltipster-arrow-border {top:50%;right:-7px;margin-top:-7px;border-top:8px solid transparent !important;border-bottom:8px solid transparent !important;border-left:8px solid;}
.tooltipster-arrow-left .tooltipster-arrow-border {margin-top:-8px;border-top:9px solid transparent !important;border-bottom:9px solid transparent !important;border-left:9px solid;}
.tooltipster-arrow-right span, .tooltipster-arrow-right .tooltipster-arrow-border {top:50%;left:-7px;margin-top:-7px;border-top:8px solid transparent !important;border-bottom:8px solid transparent !important;border-right:8px solid;}
.tooltipster-arrow-right .tooltipster-arrow-border {margin-top:-8px;border-top:9px solid transparent !important;border-bottom:9px solid transparent !important;border-right:9px solid;}


/*estee edits*/
#el_wrapper .editsTabs {}
#el_wrapper .editsTabs .ctabs {clear:both;margin-bottom:37px;overflow:hidden;}
#el_wrapper .editsTabs .ctabs li {float:left;width:310px;margin-left:43px;}
#el_wrapper .editsTabs .ctabs li:first-child {margin-left:0;}
#el_wrapper .editsTabs .tabsdiv {display:none;text-align:center;}
#el_wrapper .editsTabs #tabsdiv-1 {display:block;}
#el_wrapper .editsTabs .relProd {padding-top:60px;border-top:1px solid #cacaca;}
#el_wrapper .editsTabs .relProd h4 {margin-bottom:60px;text-align:center;}
#el_wrapper .editsTabs .relProd ul {clear:both;width:100%;overflow:hidden;}
#el_wrapper .editsTabs .relProd li {float:left;width:253px;margin:0 40px;text-align:center;}
#el_wrapper .editsTabs .relProd li p.name {min-height:26px;font-weight:bold;word-break:keep-all;word-wrap:break-word;}
#el_wrapper .editsTabs .relProd li p.desc {min-height:60px;word-break:keep-all;word-wrap:break-word;}


/*brand story*/
#el_wrapper .brandstory {border:1px solid #d9dcdb;}
#el_wrapper .brandstory .ctabs {margin:0 0 19px 0;text-align:center;}
#el_wrapper .brandstory .ctabs li {display:inline-block;width:156px;margin:0 10px;*display:inline;}
#el_wrapper .brandstory .tabsdiv {display:none;position:relative;}
#el_wrapper .brandstory #tabsdiv-1 {display:block;}
#el_wrapper .brandstory .tabsdiv .pos01 {position:absolute;top:2820px;left:474px;width:154px;height:225px;}
#el_wrapper .brandstory .tabsdiv .pos01 img {width:100%;}


/*style & tips*/
#el_wrapper .styletips {width:940px;margin:0 auto;}
#el_wrapper .styletips .tips {position:relative;display:block;width:784px;margin:0px auto;margin-top:79px;height:1218px;}
#el_wrapper .styletips .tips li {position:absolute;z-index:10;overflow:hidden;}
#el_wrapper .styletips .tips li a {display:block;height:100%;z-index:9;cursor:pointer;}
#el_wrapper .styletips .tips .bg {position:absolute;top:0px;left:0px;z-index:3;}
#el_wrapper .styletips .tips .txt {position:absolute;bottom:20px;left:20px;z-index:5;}
#el_wrapper .styletips .tips .txtr {position:absolute;bottom:20px;right:20px;z-index:5;}
#el_wrapper .styletips .tips #mtip1 {top:0px;left:0px;width:522px;height:303px;}
#el_wrapper .styletips .tips #mtip2 {top:0px;right:0px;width:260px;height:303px;}
#el_wrapper .styletips .tips #mtip3 {top:305px;left:0px;width:260px;height:303px;}
#el_wrapper .styletips .tips #mtip4 {top:305px;right:0px;width:522px;height:303px;}
#el_wrapper .styletips .tips #mtip5 {top:610px;left:0px;width:522px;height:303px;}
#el_wrapper .styletips .tips #mtip6 {top:610px;right:0px;width:260px;height:303px;}
#el_wrapper .styletips .tips #mtip7 {top:915px;left:0px;width:260px;height:303px;}
#el_wrapper .styletips .tips #mtip8 {top:915px;right:0px;width:522px;height:303px;}
#el_wrapper .styletips .tipswrap {width:878px;margin:0px auto;}
#el_wrapper .styletips .dwrap {margin-top:60px;overflow:hidden;}
#el_wrapper .styletips .dwrap .step {float:left;border-right:1px solid #aaaaaa;padding-right:7px;width:647px;}
#el_wrapper .styletips .dwrap .step ol {overflow:hidden;}
#el_wrapper .styletips .dwrap .step ol li {display:block;padding-bottom:60px;}
#el_wrapper .styletips .dwrap .step img {vertical-align:top;}
#el_wrapper .styletips .dwrap .relProd {float:right;width:140px;margin-right:40px;}
#el_wrapper .styletips .dwrap .relProd h2 {text-align:center;padding:20px 0px 42px 0px;}
#el_wrapper .styletips .dwrap .relProd .plist li {position:relative;margin-top:8px;overflow:hidden;}
#el_wrapper .styletips .dwrap .relProd .plist li .txt {position:absolute;bottom:-193px;padding:15px 10px 15px 15px;color:#fff;background:transparent url('../images/rpd_bg_styleandtip_01.png') 0px 0px no-repeat;word-break:keep-all;word-wrap:break-word;overflow:hidden;letter-spacing:-0.05em;width:115px;}
#el_wrapper .styletips .btn {clear:both;margin-top:50px;}
#el_wrapper .styletips .btn1 {clear:both;margin:50px 0px;}
#el_wrapper .styletips .bdwrap {border-top:1px solid #cacaca;padding-top:30px;overflow:hidden;}
#el_wrapper .styletips .bdwrap .relProd {width:878px;margin:0px auto;}
#el_wrapper .styletips .bdwrap .relProd .plist {text-align:center;padding-top:30px;}
#el_wrapper .styletips .bdwrap .relProd .plist li {display:inline-block;*display:inline;*zoom:1;padding:0px;vertical-align:top;width:278px;}
#el_wrapper .styletips .bdwrap .relProd .plist li .txt {color:#000;font-weight:bold;word-break:keep-all;word-wrap:break-word;min-height:45px;}

.fos14 {font-size:14px;}


/*colorbox*/
#colorbox {position:absolute;top:0;left:0;z-index:9999;overflow:hidden;outline:0;}
#cboxOverlay {position:fixed;top:0;left:0;width:100%;height:100%;background:#000;z-index:9999;overflow:hidden;}
#cboxWrapper {position:absolute;top:0;left:0;max-width:none;z-index:9999;overflow:hidden;}
#cboxContent {position:relative;background:#fff;border:1px solid #ccc;overflow:hidden;}
.cboxIframe{width:100%;height:100%;background:#fff;}
#cboxError {padding:50px;border:1px solid #ccc;}
#cboxClose {position:absolute;top:7px;right:24px;width:37px;height:15px;margin:0;padding:0;border:0;background:url('../images/cbox_close.gif') 0 0 no-repeat;text-indent:-9999px;overflow:visible;cursor:pointer;}
.el_video {clear:both;padding:25px 22px 0 22px;overflow:hidden;}
.el_video .videoDesc {float:left;width:260px;}
.el_video .videoDesc h1 {margin:0 0 10px 0;color:#c8a051;font-size:14px;font-weight:normal;letter-spacing:-0.05em;}
.el_video .videoDesc p {margin:0;font-size:11px;line-height:18px;}
.el_video .videoDesc .descBox {width:230px;height:198px;margin-top:15px;padding:10px;border:1px solid #c7c7c7;overflow-y:auto;font-size:11px;line-height:14px;}
.el_video .videoCon {float:right;width:560px;height:315px;}


/*dongwha guide*/
#el_wrapper div#sns_links {text-align:center;}
#el_wrapper .airmap {}
#el_wrapper .airmap .alist {clear:both;border-bottom:1px solid #828d6d;overflow:hidden;}
#el_wrapper .airmap .alist li {float:left;cursor:pointer;}
#el_wrapper .airmap .alist li img {display:block;}
#el_wrapper .airmap .amap {margin-top:20px;}
