<div class="board-search">
	<form class="" action="index.html" method="post">		
		<div class="board-search__inner">
			<select name="" id="" class="select1">
				<option value="">전체</option>
				<option value="">내용</option>
				<option value="">아이디</option>
			</select>
			<input type="text" name="" id="" class="input1 board-search__input">
			<a href="#n" class="board-search__btn">검색</a>
		</div>
	</form>			
</div>
<!-- //board-search -->