<div class="breadcrumb">
	<h2 class="hidden">사이트 이동 경로</h2>
	<div class="breadcrumb__item type-home">홈</div>
	<div class="breadcrumb__item">
		<a href="#n" class="breadcrumb__link">Depth1</a>
	</div>
	<div class="breadcrumb__item">
		<a href="#n" class="breadcrumb__link">Depth2</a>
	</div>
	<div class="breadcrumb__item">
		<a href="#n" class="breadcrumb__link">Depth3</a>
	</div>
</div>
<!-- //breadcrumb -->