<div class="breadcrumb">
	<h2 class="hidden">사이트 이동 경로</h2>
	<div class="breadcrumb__item type-home"><a href="#n" class="breadcrumb__link">홈</a></div>
	<div class="breadcrumb__item">
		<a href="#n" class="breadcrumb__link">대분류</a>
		<ul class="crumb-menu">
			<li class="crumb-menu__item"><a href="#n" class="crumb-menu__link">대분류1</a></li>
			<li class="crumb-menu__item"><a href="#n" class="crumb-menu__link">대분류2</a></li>
			<li class="crumb-menu__item"><a href="#n" class="crumb-menu__link">대분류3</a></li>
			<li class="crumb-menu__item"><a href="#n" class="crumb-menu__link">대분류4</a></li>
			<li class="crumb-menu__item"><a href="#n" class="crumb-menu__link">대분류5</a></li>
		</ul>
		<!-- //crumb-menu -->
	</div>
	<div class="breadcrumb__item">
		<a href="#n" class="breadcrumb__link">중분류</a>
		<ul class="crumb-menu">
			<li class="crumb-menu__item"><a href="#n" class="crumb-menu__link">중분류1</a></li>
			<li class="crumb-menu__item"><a href="#n" class="crumb-menu__link">중분류2</a></li>
			<li class="crumb-menu__item"><a href="#n" class="crumb-menu__link">중분류3</a></li>
			<li class="crumb-menu__item"><a href="#n" class="crumb-menu__link">중분류4</a></li>
			<li class="crumb-menu__item"><a href="#n" class="crumb-menu__link">중분류5</a></li>
		</ul>
		<!-- //crumb-menu -->
	</div>
	<div class="breadcrumb__item">
		<a href="#n" class="breadcrumb__link">소분류</a>
		<ul class="crumb-menu">
			<li class="crumb-menu__item"><a href="#n" class="crumb-menu__link">소분류1</a></li>
			<li class="crumb-menu__item"><a href="#n" class="crumb-menu__link">소분류2</a></li>
			<li class="crumb-menu__item"><a href="#n" class="crumb-menu__link">소분류3</a></li>
			<li class="crumb-menu__item"><a href="#n" class="crumb-menu__link">소분류4</a></li>
		</ul>
		<!-- //crumb-menu -->
	</div>
</div>
<!-- //breadcrumb -->