<div class="cart-maininfo_membertype">
	<div class="cart-maininfo_membertype-wrap">
		<p class="cart-maininfo_membertype-text">윤주희님(임직원)은<br><span>다이아몬드+</span> 등급입니다.</p>
		<div class="cart-maininfo_membertype-btngroup">
			<a href="#n" class="cart-maininfo_membertype-button size-12">등급별 혜택</a>
			<a href="#n" class="cart-maininfo_membertype-button size-12">예상등급</a>
		</div>
	</div>
</div>
<div class="cart-maininfo_memberinfo">
	<div class="cart-maininfo_memberinfo-top">
		<a href="#n" class="cart-maininfo_memberinfo-item type-coupon">
			<div class="cart-maininfo_memberinfo-itemwrap">
				<div class="cart-maininfo_item-title">쿠폰</div>
				<div class="cart-maininfo_item-cont">15<span>매</span></div>
			</div>
		</a>
		<a href="#n" class="cart-maininfo_memberinfo-item type-point">
			<div class="cart-maininfo_memberinfo-itemwrap">
				<div class="cart-maininfo_item-title">포인트</div>
				<div class="cart-maininfo_item-cont">1,000<span>P</span></div>
			</div>
		</a>
		<a href="#n" class="cart-maininfo_memberinfo-item type-savemoney">
			<div class="cart-maininfo_memberinfo-itemwrap">
				<div class="cart-maininfo_item-title">적립금</div>
				<div class="cart-maininfo_item-cont">120,000<span>원</span></div>
			</div>
		</a>
		<a href="#n" class="cart-maininfo_memberinfo-item type-savemoney">
			<div class="cart-maininfo_memberinfo-itemwrap">
				<div class="cart-maininfo_item-title">모바일 적립금</div>
				<div class="cart-maininfo_item-cont">120,000<span>원</span></div>
			</div>
		</a>
		<a href="#n" class="cart-maininfo_memberinfo-item type-savemoney">
			<div class="cart-maininfo_memberinfo-itemwrap">
				<div class="cart-maininfo_item-title">브랜드 적립금</div>
				<div class="cart-maininfo_item-cont">120,000<span>원</span></div>
			</div>
		</a>
	</div>
	<div class="cart-maininfo_memberinfo-middle">
		<div class="cart-maininfo_memberinfo-item type-exchangerate">
			<div class="cart-maininfo_memberinfo-itemwrap">
				<div class="cart-maininfo_item-title">오늘의 환율</div>
				<div class="cart-maininfo_item-cont">US $1 = \1,106.50</div>
			</div>
		</div>
	</div>
</div>