<div class="subpop">
	<div class="popup-inner">
		<div class="chanel_pop">
			<img src="../../images/chanel/donghwa_chanel_popup2.jpg" alt="당첨" class="CHANEL"/>
			<a href="javascript:PopupClose('chanel_pop');"><img src="http://image.dutyfree24.com/FileStroage/images/trans.png"  alt="닫기" class="btn_close"/></a>
			<input type="checkbox" alt="개인정보 제3자 제공에 동의합니다" id="chk_ipnut" class="chk_ipnut" />
			<label for="chk_ipnut" class="chk_ipnut_label"></label>
			<a href="eretail.chanel.co.kr  "><img src="http://image.dutyfree24.com/FileStroage/images/trans.png"  alt="샤넬뉴스레터가입하기" class="btn"/></a>
		</div>
		
		<div class="amor_pop">
			<img src="../../images/amor/170710_amor_pop.png" alt="개인정보 제3자 제공동의" class="pop"/>
			<a href="javascript:PopupClose('amor_pop');"><img src="http://image.dutyfree24.com/FileStroage/images/trans.png"  alt="닫기" class="btn_close"/></a>
			<input type="checkbox" alt="개인정보 제3자 제공에 동의합니다" id="chk_ipnut" class="chk_ipnut" />
			<label for="chk_ipnut" class="chk_ipnut_label"></label>
			<a href="javascript:PopupClose('amor_pop');"><img src="http://image.dutyfree24.com/FileStroage/images/trans.png"  alt="확인" class="btn"/></a>
		</div>
	</div>
</div>