<div class="event-item">
	<div class="event-item__img">
		<a href="">
			<!-- <div class="event-item__tag-gift">사은품<br>증정</div> -->
			<!-- <div class="event-item__tag-sale">10%<br>세일</div> -->
			<img src="../../images/temp/@event-item-324x228.jpg" alt="다나한 전용 상품권 증정">
		</a>
	</div>
	<div class="event-item__wrap">
		<div class="event-item__tit"><a href="">다나한 전용 상품권 증정</a></div>
		<div class="event-item__summary">다나한 전용 상품권 증정</div>
		<div class="event-item__etc">2016.10.07 ~ 2016.11.07</div>
	</div>
</div>
<!-- //event-item -->
