<li>
	<a href="#n" class="event-item2">
		<div class="event-item2__img-wrap">
			<img src="../../images/temp/@event-item-324x228.jpg" alt="록시땅 더블 이벤트" class="event-item2__img">
		</div>
		<div class="event-item2__txt-wrap">
			<div class="event-item2__txt">
				<div class="event-item2__tit">록시땅 더블 이벤트</div>
				<div class="event-item2__summary">로즈 오리지넬과 바디 베일 증정</div>
			</div>
		</div>
	</a>
</li>
<li>
	<a href="#n" class="event-item2">
		<div class="event-item2__img-wrap">
			<img src="../../images/temp/@event-item-324x228.jpg" alt="스와로브스" class="event-item2__img">
		</div>
		<div class="event-item2__txt-wrap">
			<div class="event-item2__txt">
				<div class="event-item2__tit">스와로브스</div>
				<div class="event-item2__summary">2016 Fall Collection</div>
			</div>
		</div>
	</a>
</li>
<li>
	<a href="#n" class="event-item2">
		<div class="event-item2__img-wrap">
			<img src="../../images/temp/@event-item-324x228.jpg" alt="라네즈 한정판 출시!" class="event-item2__img">
		</div>
		<div class="event-item2__txt-wrap">
			<div class="event-item2__txt">
				<div class="event-item2__tit">라네즈 한정판 출시!</div>
				<div class="event-item2__summary">럭키슈에뜨 한정판 출시</div>
			</div>
		</div>
	</a>
</li>
<li>
	<a href="#n" class="event-item2">
		<div class="event-item2__img-wrap">
			<img src="../../images/temp/@event-item-324x228.jpg" alt="겐조 향수" class="event-item2__img">
		</div>
		<div class="event-item2__txt-wrap">
			<div class="event-item2__txt">
				<div class="event-item2__tit">겐조 향수</div>
				<div class="event-item2__summary">구매별 사은품 증정</div>
			</div>
		</div>
	</a>
</li>