<div class="footer">

	<div class="footer-links">
		<a href="">동화 면세점 소개</a>
		<a href="">광고/제휴</a>
		<a href="">개인정보취급방침</a>
		<a href="">영상정보처리기기 운영.관리 방침</a>
		<a href="">이용약관</a>
		<a href="">이메일 무단수집 거부</a>
	</div>
	<!-- //footer-link -->

	<div class="footer-family">
		<h2 class="footer-family__tit js-family-btn">패밀리사이트</h2>
		<ul class="footer-family__list js-family-body">
			<li class="footer-family__list-item"><a href="#n" class="footer-family__link">사이트맵</a></li>
			<li class="footer-family__list-item"><a href="#n" class="footer-family__link">사이트맵 사이트맵 사이트맵 사이트맵 사이트맵 사이트맵</a></li>
		</ul>
	</div>
	<!-- //footer-family -->

	<div class="footer-info">
		<p>
			<span class="footer-info__item">(주) 동화면세점</span>
			<span class="footer-info__item">대표이사 : 신정희</span><br>
			<span class="footer-info__item">서울시 종로구 세종대로 149</span>
			<span class="footer-info__item">사업자등록번호 : 102-81-06181</span>
			<span class="footer-info__item"><a href="" class="footer-info__link">사업자 정보확인</a></span><br>
			<span class="footer-info__item">통신판매신고번호 : 2004-01816</span><br>
			<span class="footer-info__item">고객센터 : 1688-6680</span>
			<span class="footer-info__item">이메일 : webmaster@ondutyfree.com</span>
		</p>
		<p class="footer-info__copyright">Copyright (c) 2015 DongHwa Dutyfree, All Rights Reserved.</p>
	</div>
	<!-- //footer-info -->

	<div class="footer-cert">
		<ul>
			<li>
				<div class="footer-cert__cell">
					<img src="../../images/layout/footer-cert-img1.png" alt="한국정보통신(주) 매매안전거래 서비스 가맹점">
				</div>
				<div class="footer-cert__cell">
					한국정보통신(주) 매매안전거래 서비스 가맹점<br>
					KICC의 이지에스크로 서비스를 통해 안심하고<br>
					거래하시기 바랍니다.
				</div>
			</li>
			<li>
				<div class="footer-cert__cell">
					<img src="../../images/layout/footer-cert-img2.png" alt="정보보호 관리체계 [인증범위] 온라인 면세점 운영 ISMS 인증">
				</div>
				<div class="footer-cert__cell">
					정보보호 관리체계 [인증범위] 온라인 면세점 운영<br>
					ISMS 인증획득 [유효기간] 2014.12.30 ~ 2017.12.29
				</div>
			</li>
		</ul>
	</div>
	<!-- //footer-cert -->

</div>
<!-- //footer -->
