<div class="header">
	<h1 class="site-logo">
		<a href=""><img src="../../images/layout/site-logo.png" alt="동화면세점 Dong Wha Duty Free"></a>
	</h1>
	<div class="user-links">
		<a href="#" class="type-login">로그인</a>
		<a href="#">회원가입</a>
		<a href="#">마이페이지</a>
		<a href="#" class="type-cart">장바구니</a>
		<a href="#" class="type-like">관심상품</a>
		<a href="#" class="type-bookmark">즐겨찾기</a>
		<a href="#" class="type-mobile js-mobile-button">모바일동화</a>
		<a href="#">고객센터</a>
		<a href="#"><span class="font4">中文网</span></a>
	</div>
	<!-- //user-links -->
	<div class="mobile-code js-mobile-body">
		<img src="../../images/layout/mobile-code.png" alt="모바일 동화면세점 QR코드" class="mobile-code__img">
	</div>
	<!-- //mobile-code -->
	
	<div class="header-search">
		<h2 class="hidden">통합 검색</h2>
		<form action="">
			<div class="header-search__wrap">
				<input type="text" name="" value="슈에무라 클렌징 오일 런칭 퀴즈 이벤트" title="검색어 입력">
			</div>
			<div class="header-search__btn">
				<a href="">검색</a>
			</div>
		</form>
		<div id="searchResult"></div>
	</div>
	<!-- //header-search -->
	<div class="header-custom-links">
		<a href="#" class="type-special">쿠폰</a>
		<a href="#" class="type-dpoint">포인트</a>
	</div>
	<!-- //header-custom-links -->
	<div class="header__row">
		<div class="header-category js-category-list">
			<h2 tabindex="0">전체 카테고리</h2>
			<div class="header-category__wrap">
				<ul class="header-category__list1 "></ul>
				<script type="text/javascript">
					for (var i = 0; i < 7; i++) {
						var d1 = $("<li class=\"header-category__item1 js-item1"+(i == 0 ? " is-over" : "")+"\"><a href=\"#\" class=\"header-category__link1\">대분류 "+(i+1)+"</a></li>").appendTo(".header-category__list1");
						d1 = $( "<ul class=\"header-category__list2\"></ul>" ).appendTo(d1);
						$("<li class=\"header-category__item2 js-item2 is-boutique\"><a href=\"#\" class=\"header-category__link2\"><img src=\"../../images/common/web_chanel2.jpg\" alt=\"CHANEL\"></a></li>").appendTo(d1);
						for (var j = 0; j < 7; j++) { 
							var d2 = $("<li class=\"header-category__item2 js-item2"+(j == 0 ? " is-over" : "")+"\"><a href=\"#\" class=\"header-category__link2\">중분류 "+(i+1)+"-"+(j+1)+"</a></li>").appendTo(d1);
							d2 = $( "<ul class=\"header-category__list3\"></ul>" ).appendTo(d2);
							for (var k = 0; k < 14; k++) { 
								$("<li class=\"header-category__item3 js-item3"+(k == 0 ? " is-over" : "")+"\"><a href=\"#\" class=\"header-category__link3\">소분류 "+(i+1)+"-"+(j+1)+"-"+(k+1)+"</a></li>").appendTo(d2);
							}
						}
					}
					$('.js-button').on('click',function(){
						conosole.log($(this).next())
					})
				</script>
				<div class="header-category__aside">
					<div class="suggest-products">
						<h2 class="suggest-products__tit">추천상품</h2>
						<ul class="suggest-products__list2">
							<li class="suggest-products__list2-item">
								<div class="product-item4">
									<a href="" class="product-item4__wrap">
										<div class="product-item4__img-wrap"><img src="http://image.dutyfree24.com/FileStroage/GD/300/9490412280033_300_1.jpg" alt="" class="product-item4__img"></div>
										<div class="product-item4__brand">ReFa CARAT</div>
										<div class="product-item4__tit">ReFa SKIN ReRa Crystal CARAT FACE (WHITE) 피부 탄력 개선 안면 리프팅 및 부기 완화 에스테틱 및 부기 완화 에스테틱 및 부기 완화 에스테틱 및 부기 완화 에스테틱</div>
										<div class="product-item4__price">
												<del class="product-item4__price-before">$32.11</del>$31.22
										</div>
									</a>
								</div><!-- //product-item4 -->
							</li>
							<li class="suggest-products__list2-item">
								<div class="product-item4">
									<a href="" class="product-item4__wrap">
										<div class="product-item4__img-wrap"><img src="http://image.dutyfree24.com/FileStroage/GD/300/9490412280033_300_1.jpg" alt="" class="product-item4__img"></div>
										<div class="product-item4__brand">ReFa CARAT</div>
										<div class="product-item4__tit">ReFa SKIN ReRa Crystal CARAT FACE (WHITE) 피부 탄력 개선 안면 리프팅 및 부기 완화 에스테틱 및 부기 완화 에스테틱 및 부기 완화 에스테틱 및 부기 완화 에스테틱</div>
										<div class="product-item4__price">
												<del class="product-item4__price-before">$32.11</del>$31.22
										</div>
									</a>
								</div><!-- //product-item4 -->
							</li>
							<li class="suggest-products__list2-item">
								<div class="product-item4">
									<a href="" class="product-item4__wrap">
										<div class="product-item4__img-wrap"><img src="http://image.dutyfree24.com/FileStroage/GD/300/9490412280033_300_1.jpg" alt="" class="product-item4__img"></div>
										<div class="product-item4__brand">ReFa CARAT</div>
										<div class="product-item4__tit">ReFa SKIN ReRa Crystal CARAT FACE (WHITE) 피부 탄력 개선 안면 리프팅 및 부기 완화 에스테틱 및 부기 완화 에스테틱 및 부기 완화 에스테틱 및 부기 완화 에스테틱</div>
										<div class="product-item4__price">
												<del class="product-item4__price-before">$32.11</del>$31.22
										</div>
									</a>
								</div><!-- //product-item4 -->
							</li>
							<li class="suggest-products__list2-item">
								<div class="product-item4">
									<a href="" class="product-item4__wrap">
										<div class="product-item4__img-wrap"><img src="http://image.dutyfree24.com/FileStroage/GD/300/9490412280033_300_1.jpg" alt="" class="product-item4__img"></div>
										<div class="product-item4__brand">ReFa CARAT</div>
										<div class="product-item4__tit">ReFa SKIN ReRa Crystal CARAT FACE (WHITE) 피부 탄력 개선 안면 리프팅 및 부기 완화 에스테틱 및 부기 완화 에스테틱 및 부기 완화 에스테틱 및 부기 완화 에스테틱</div>
										<div class="product-item4__price">
												<del class="product-item4__price-before">$32.11</del>$31.22
										</div>
									</a>
								</div><!-- //product-item4 -->
							</li>
						</ul>
					</div>
					<!-- //suggest-products -->
					
				</div>
			</div>
		</div>
		<!-- //header-category -->
		<div class="dw-gnb">
			<h2 class="hidden">주 메뉴</h2>
			<ul>
				<li class="type-best"><a href="#">베스트샵</a></li>
				<li class="type-3hour"><a href="#">3시간전샵</a></li>
				<li class="type-wedding"><a href="#">웨딩샵</a></li>
				<li class="type-plan"><a href="#">기획전</a></li>
				<li class="type-event"><a href="#">이벤트</a></li>
				<li class="type-coupon"><a href="#">동화데이</a></li>
				<li class="type-special"><a href="#">스페셜오더</a></li>
				<li class="type-sale"><a href="#">SALE</a></li>
			</ul>
		</div>
		<!-- //dw-gnb -->
		<div class="header-brand">
			<a href="">전체 브랜드</a>
		</div>
		<!-- //header-brand -->
	</div>
</div>
<!-- //header -->
