<div class="mypage-review_content">
	<div class="mypage-review_content-wrap">
		<div class="mypage-review_content-image"><img src="../../images/cart/cart-product_image.jpg"></div>
		<div class="mypage-review_content-text">가방 너무 예뻐요. 상품평이 왜 다들 좋은지 알겠네요. <br> 사진보다 실물이 예쁘고 들어보면 더 예쁘고 물건 넣어 보면 자연스럽게쳐지는 모습도 좋네요. <br>책을 많이 넣어...</div>
	</div>
</div>