<div class="mypage-qna-answer">
	안녕하세요, 고객님<br>
	동화인터넷면세점 고객센터입니다 고객센터입 니다고객센터입니다고객센터입니다고객 센터입니다고객센터입 니다고객센터입니다고객 센터입 니다고객센터입니다 고객센터입니다고객 센터입니다고객센터 입니다.<br>
	<br>
	동화인터넷면세점을 이용해주셔서 감사 드리며,<br>
	문의하신 출국정보 입력에 대한 답변 드리겠습니다.<br>
	<br>
	동화인터넷면세점 이용 시 출국정보 입력은 결제 단계에서 등록 하도록 되어 있습니다. <br>
	<br>
	첫 주문 시 출국정보 입력 하시면 추가 주문 시엔 자동 셋팅 되며,<br>
	출국정보 입력 하는 페이지 따로 진행하고 있지 않사오니 이용 하시는데 참고 부탁 드릱니다.<br>
	<br>
	더 궁금한 사항이 있으시면 홈페이지 1:1게시판을 이용하여 문의 주시면 됩니다.<br>
	감사합니다.<br>
</div>