<div class="sorderlist-product__detail">
	<div class="mypage-sorderdetail">
		<table class="stable1">
			<thead>
				<tr>
					<th colspan="2" scope="col">신청내역</th>
					<th colspan="2" scope="col">출국정보</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">SKUCODE</th>
					<td>4120404093039</td>
					<th scope="row" class="border-left">편명</th>
					<td>CZ686</td>
				</tr>
				<tr>
					<th scope="row">브랜드명 </th>
					<td>HENDENE</td>
					<th scope="row" class="border-left">출국일시 </th>
					<td>11:20 AM</td>
				</tr>
				<tr>
					<th scope="row">상품명</th>
					<td>Chestnet 250g</td>
					<th scope="row"  rowspan="2" class="border-left vertical-align-top">출국장소</th>
					<td>인천국제공항 </td>
				</tr>
				<tr>
					<th scope="row">수량</th>
					<td>1</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="mypage-sorderdetail__description">
	안녕하세요, 동화인터넷면세점입니다. 고객님께서 신청하신 CK향수 제품은 현재 사이트 내에서 바로 구매가 가능합니다.
	온,오프라인 동시 판매로 소량의 재고를 보유하고 있어 타인이 구매 시 품절의 소지가 있사오니 빠른 구매 부탁 드립니다. 
	바로 구매가 가능한 상품은 스페셜오더가 불가능합니다. 이 점 양해 부탁 드립니다. 감사합니다.
	</div>
</div>