<div class="pagination1">
	<a href="#" class="type-home">처음</a>
	<a href="#" class="type-prev">이전</a>
	<a href="#">1</a>
	<a href="#" class="is-on">2</a>
	<a href="#">3</a>
	<a href="#">4</a>
	<a href="#">5</a>
	<a href="#" class="type-next">다음</a>
	<a href="#" class="type-end">끝</a>
</div>
<!-- //pagination1 -->
