<div class="dialog-layout">
	<div class="dialog-layout__head">
		<h2 class="dialog-tit1">편명검색</h2>
		<a href="" class="dialog-close1" data-ui-dialog="close">닫기</a>
	</div>
	<div class="dialog-layout__body">
		<div class="break-minus"></div>
		<div class="dialog-box1">
			<div class="dialog-para1">
				아래의 편명을 선택 하신 후 상세번호까지 입력하여 주시기 바랍니다.<br>
				<span class="size-12">(아래의 편명에 해당사항이 없을 경우는 <span class="color1">고객센터(1688-6680)</span>문의해 주세요.)</span>
			</div>
			<div class="login-fieldset type-last">
				<div class="login-fieldset__row">
					<input type="text" name="" id="" class="input1 input-login-sm width-100p" placeholder="항공사코드" data-placeholder-type="text">
				</div>
				<div class="login-fieldset__row">
					<input type="password" name="" id="" class="input1 input-login-sm width-100p" placeholder="항공편명" data-placeholder-type="text">
				</div>
			</div>
			<!-- //login-fieldset -->
		</div>
		<!-- //dialog-box1 -->
		<div class="dialog-btn-group">
			<a href="#n" class="btn1 btn-color1 btn-submit-layer-sm" data-ui-dialog="close"><span>취소</span></a>
			<a href="#cartDialog71" class="btn1 btn-color1 btn-revert btn-submit-layer-sm" data-ui-dialog="480"><span>확인</span></a>
		</div>
		<!-- //dialog-btn-group -->


		<h3 class="dialog-tit2">국내항공사(항공코드순)</h3>
		<ul class="cart-flight-number-list">
			<script type="text/javascript">
				for (var i = 0; i < 50; i++) {
					$("<li><i class=\"ico-airline1 ico-ke\"></i>국내항공사(항공코드순)</li>").prependTo($(".cart-flight-number-list").eq(0));
				}
			</script>
		</ul>
		<!-- //cart-flight-number-list -->

		<h3 class="dialog-tit2">해외항공사(항공코드순)</h3>
		<ul class="cart-flight-number-list">
			<script type="text/javascript">
				for (var i = 0; i < 50; i++) {
					$("<li>해외항공사(항공코드순)</li>").prependTo($(".cart-flight-number-list").eq(1));
				}
			</script>
		</ul>
		<!-- //cart-flight-number-list -->

	</div>
</div>
<!-- //dialog-layout -->
