<div class="dialog-layout">
	<div class="dialog-layout__head">
		<h2 class="dialog-tit1">출국정보 등록</h2>
		<a href="" class="dialog-close1" data-ui-dialog="close">닫기</a>
	</div>
	<div class="dialog-layout__body">
		<div class="break-20"></div>
		
		<table class="table3">
			<tbody>
				<tr>
					<th>출국일정</th>
					<td>
						<input type="text" name="" id="" class="input1 datepicker-input1 w166px" placeholder="출국일" data-placeholder-type="text">
						<button type="button" class="datepicker-btn1">달력</button>
						<select class="select1 w64px">
							<option>시</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>
						<select class="select1 w64px">
							<option>분</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>출국장소</th>
					<td>
						<select class="select1 w202px">
							<option value="">출발지역선택</option>
							<option value="">김포공항(해외출국)</option>
							<option value="">김해공항</option>
							<option value="">대구공항</option>
							<option value="">인천공항</option>
							<option value="">제주공항(해외출국)</option>
							<option value="">청주공항</option>
							<option value="">부산국제부두</option>
							<option value="">인천 제1 여객부두</option>
							<option value="">인천 제2 여객부두</option>
						</select>
						<a href="" class="btn1 btn-over-full btn-color1"><span>인도장 확인</span></a>
						<div class="break-5"></div>
						
						<div>
							<div class="box1 gray-999999 size-12">
								<p class="blt1">해외 여행시(국제선 탑승)에 구매가 가능하십니다. 국내 여행시(제주도 등)에는 불가능합니다.</p>
								<p class="blt1">제주공항 출국 시 스프레이 제품류는 구매하실 수 없습니다.</p>
							</div>
						</div>
						<!-- 출발지를 “김해공항”으로 설정 할 경우, 텍스트 출력 -->
						<!-- 
						<div>
							<div class="box1 gray-999999 size-12">
								<p class="blt1">제주공항 출국 시 화기류 제품 구매불가</p>
								<p class="blt1">해외 여행 시(국제선 탑승)에만 구매가 가능하오며, 국내 여행 시(제주도 등)에는 불가능합니다.</p>
								<p class="blt1">김해공항에서 KE1402 / KE1404 / KE1406 / LH719 편을 이용하시는 고객님께서는 면세품 인도장소가 인천공항 동편 인도장이오니 주문 시 인천공항으로 선택바랍니다.</p>
							</div>
						</div> 
						-->
						<!-- 출발지를 “제주공항(해외출국)”으로 설정 할 경우, 텍스트 출력 -->
						<!-- 
						<div>
							<div class="box1 gray-999999 size-12">
								<p class="blt1">제주공항 출국 시 화기류 제품 구매불가</p>
								<p class="blt1">해외 여행 시(국제선 탑승)에만 구매가 가능하오며, 국내 여행 시(제주도 등)에는 불가능합니다.</p>
								<p class="blt1">김해공항에서 KE1402 / KE1404 / KE1406 / LH719 편을 이용하시는 고객님께서는 면세품 인도장소가 인천공항 동편 인도장이오니 주문 시 인천공항으로 선택바랍니다.</p>
							</div>
						</div> 
						-->
					</td>
				</tr>
				<tr>
					<th>편명선택</th>
					<td>
						<input type="text" class="input1 w202px"/>
						<a href="#flightNumber" data-ui-dialog="640" class="btn1 btn-over-full btn-color1"><span>편명검색</span></a>
						<a href="..\customer\고객센터_03면세점가이드_05기내반입제안안내.html" target="_blank" class="btn1 btn-over-full btn-color1"><span>기내반입제한안내</span></a>
						<div class="break-5"></div>
						<div class="box1 gray-999999 size-12">
							<p class="blt1">편명정보가 상이할 경우 상품 수령이 어려우실 수 있으므로 정확히 입력해 주시기 바랍니다.</p>
						</div>
					</td>
				</tr>
				<tr>
					<th>직항/경유 여부</th>
					<td>
						<label class="radio1"><input type="radio" name="directvia" id="" checked><span>직항</span></label>
						<label class="radio1"><input type="radio" name="directvia" id=""><span>경유</span></label>
						<!-- 
						<div>
							<select class="select1 w202px">
								<option>중간도착지</option>
								<option>선택2</option>
								<option>선택3</option>
								<option>선택4</option>
							</select>
						</div> 
						-->
						<div class="break-5"></div>
						<div class="box1 gray-999999 size-12">
							<p class="blt1">기내반입 제한규정을 지키실 경우, 액체류, 젤류 포함 모든 제품이 구매 가능합니다.</p>
							<p class="blt1">동일국가(국외)내 환승하시는 고객님의 경우에는 경유로 체크해 주시기 바랍니다.</p>
						</div>
						<!--
						<div>
							<div class="box1 gray-999999 size-12">
								<p class="blt1 color9">항공기 기내반입 제한 규정으로 경유/도착지에 따라 액체류, 젤류 제품의 구매가 제한되오니 반드시 확인해 주시기 바랍니다.</p>
								<p class="blt1 color9">액체류, 젤류 제품이 구매불가한 경유지로 출국시, 구매하신 규제 제품에 대해서 추후 책임지지 않으니 이점 유의해 주시기 바랍니다.</p>
								<p class="blt1 color9">환승시 해당국가의 보안규정이 달라 액체류에 대한 압수절차를 따라야 할 경우가 있으니, 이용하시는 항공사에 사전문의 해주시기 바랍니다.</p>
							</div>
						</div>
						-->
					</td>
				</tr>
				<tr>
					<th>도착지</th>
					<td>
						<select class="select1 w202px">
							<option value="">도착지역선택</option>
							<option value="">미국, 호주 이외의 모든 국가</option>
							<option value="">캐나다</option>
							<option value="">중국</option>
							<option value="">미국/괌/사이판</option>
							<option value="">호놀룰루/버진아일랜드</option>
							<option value="">호주</option>
						</select>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- //table3 -->
		
		<div class="dialog-btn-group">
			<a href="#n" class="btn1 btn-color1 btn-submit-layer-sm" data-ui-dialog="close"><span>취소</span></a>
			<a href="#cartDialog71" class="btn1 btn-color1 btn-revert btn-submit-layer-sm" data-ui-dialog="480"><span>확인</span></a>
		</div>
		<!-- //dialog-btn-group -->

	</div>
</div>
<!-- //dialog-layout -->
