<div class="dialog-layout">
	<div class="dialog-layout__head">
		<h2 class="dialog-tit1">미리계산하기</h2>
		<a href="" class="dialog-close1" data-ui-dialog="close">닫기</a>
	</div>
	<div class="dialog-layout__body">
		<p class="dialog-para1">
			쿠폰 및 즉시할인 <span class="color1">적립금 사용 시 결제예상금액</span>을 미리 볼 수 있습니다.
		</p>
		<table class="table3 cart-prevcalc_table">
			<tbody>
				<tr>
					<th colspan="2">결제예정금액</th>
					<td>
						<span class="color1 weight-medium">$90.00</span> <span class="gray-999999">(101,700원)</span>
					</td>
				</tr>
				<tr>
					<th rowspan="2">
						쿠폰
						<div class="break-5"></div>
						<button class="btn1 btn-xs btn-color1"><span>다운로드</span></button>
					</th>
					<th>일반쿠폰</th>
					<td class="table3__cell-thick">
						$10 <span class="gray-999999">(1,0170원)</span>
						<div class="break-5"></div>
						<select name="" id="" class="select1 width-100p">
							<option value="">쿠폰을 선택해 주세요.</option>
							<option value="">쿠폰을 선택해 주세요.</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>추가쿠폰</th>
					<td class="table3__cell-thick">
						$10 <span class="gray-999999">(1,0170원)</span>
						<div class="break-5"></div>
						<select name="" id="" class="select1 width-100p">
							<option value="">쿠폰을 선택해 주세요.</option>
							<option value="">쿠폰을 선택해 주세요.</option>
						</select>
					</td>
				</tr>
				<tr>
					<th rowspan="2">
						적립금
					</th>
					<th>브랜드적립금</th>
					<td class="table3__cell-thick">
						$10 <span class="gray-999999">(1,0170원)</span>
						<div class="break-5"></div>
						<select name="" id="" class="select1 width-100p">
							<option value="">브랜드 적립금을 선택해 주세요.</option>
							<option value="">브랜드 적립금을 선택해 주세요.</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>일반적립금</th>
					<td class="table3__cell-thick">
						보유 적립금 : 1,000원 <span class="gray-999999">(사용 가능한 적립금 : 1,000원)</span>
						<div class="break-5"></div>
						<input type="text" class="input1 cart-member-edit-form2" placeholder="0원" data-placeholder-type="text"/>
						&nbsp;&nbsp;<label class="checkbox1"><input type="checkbox" name="" id=""><i></i> 전액사용</label>
						<div class="break-5"></div>
						<p class="blt1 color9 size-12">※ 일반 적립금은 브랜드 적립금과 합산하여 총 구매금액(쿠폰 적용 후)의 30%이하만 사용 하실 수 있습니다.</p>
					</td>
				</tr>
				<tr>
					<th colspan="2">즉시할인적립금</th>
					<td>
						<label class="radio2"><input type="radio" name="" id="" checked><i></i>&nbsp; 전액사용 <span class="gray-999999">(1,000원)</span></label>
						<label class="radio2"><input type="radio" name="" id=""><i></i> 적립</label>
					</td>
				</tr>
				<tr>
					<th colspan="2">E-CASH</th>
					<td class="table3__cell-thick">
						보유 E-CASH : 5,421,900원
						<div class="break-5"></div>
						<input type="text" class="input1 cart-member-edit-form2" placeholder="0원" data-placeholder-type="text"/>
						&nbsp;&nbsp;<label class="checkbox1"><input type="checkbox" name="" id=""><i></i>&nbsp; 전액사용</label>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- //table1 -->
		<div class="break-minus"></div>
		<div class="cart-prevcalc_total-price">
			<div class="cart-prevcalc_totalprice-title">예상 결제 금액</div>
			<div class="cart-prevcalc_totalprice-money">612,780원</div>
		</div>
		<div class="dialog-btn-group">
			<a href="#n" class="btn1 btn-color1 btn-submit-layer-sm" data-ui-dialog="close"><span>취소</span></a>
			<a href="#n" class="btn1 btn-color1 btn-revert btn-submit-layer-sm" data-ui-dialog="close"><span>적용</span></a>
		</div>
	</div>
</div>
<!-- //dialog-layout -->