<div class="dialog-layout">
	<div class="dialog-layout__head">
		<h2 class="dialog-tit1">인도장 안내</h2>
		<a href="" class="dialog-close1" data-ui-dialog="close">닫기</a>
	</div>
	<div class="dialog-layout__body dialog-layout__body_margin">
		
		<div class="transfer-place-guide">
			<div class="transfer-place-guide__col transfer-place-guide__col_width2 transfer-place-guide__col_bg1">
				<ul class="list1 list1_small list1_none-bar list1_inner" data-ui-tab="true" data-ui-hash="false">
					<li class="list1__item is-on"><a href="#map1" class="list1__link js-btn">인천국제공항 서편</a></li>
					<li class="list1__item"><a href="#map2" class="list1__link js-btn">인천국제공항 동편</a></li>
					<li class="list1__item"><a href="#map3" class="list1__link js-btn">인천국제공항 탑승동</a></li>
					<li class="list1__item"><a href="#map4" class="list1__link js-btn">김포국제공항</a></li>
					<li class="list1__item"><a href="#map5" class="list1__link js-btn">김해국제공항</a></li>
					<li class="list1__item"><a href="#map6" class="list1__link js-btn">제주국제공항</a></li>
					<li class="list1__item"><a href="#map7" class="list1__link js-btn">청주공항</a></li>
					<li class="list1__item"><a href="#map8" class="list1__link js-btn">부산항</a></li>
					<li class="list1__item"><a href="#map9" class="list1__link js-btn">인천항 제1여객부두</a></li>
					<li class="list1__item"><a href="#map10" class="list1__link js-btn">인천항 제2여객부두</a></li>
				</ul>
			</div>
			<div class="transfer-place-guide__col transfer-place-guide__col_inner2 transfer-place-guide__col_next">
				
				<div id="map1">
					<img src="../../images/maps/map720x570-1.png" alt="인천국제공항 탑승동 인도장" class="transfer-place-guide__img">
					<div class="break-10"></div>
					<div class="maps-info maps-info_small maps-info_bg-none">
						<div class="maps-info__head">인천국제공항 서편 인도장</div>
						<dl class="dlist1 dlist1_next">
							<dt class="dlist1__term">위치</dt>
							<dd class="dlist1__description">외국항공 및 국내항공 출국 시(티웨이, 이스타 항공 등) 셔틀트레인 하차 후 122번 GATE 옆 인도장 </dd>
							<dt class="dlist1__term">전화</dt>
							<dd class="dlist1__description">032-743-2704</dd>
						</dl>
						<!-- //dlist1 -->
					</div>
					<!-- //maps-info -->
				</div>
				
				<div id="map2">
					<img src="../../images/maps/map720x570-2.png" alt="인천국제공항 동편 인도장" class="transfer-place-guide__img">
					<div class="break-10"></div>
					<div class="maps-info maps-info_small maps-info_bg-none">
						<div class="maps-info__head">인천국제공항 동편 인도장</div>
						<dl class="dlist1 dlist1_next">
							<dt class="dlist1__term">위치</dt>
							<dd class="dlist1__description">대한항공 및 국내항공 출국 시 (제주항공, 진에어) 인천공항 여객 터미널 3번 출국 심사데스크 윗층 (4층) 대한항공 퍼스트 라운지 맞은 편 동화면세점 인도장</dd>
							<dt class="dlist1__term">전화</dt>
							<dd class="dlist1__description">032-743-2704</dd>
						</dl>
						<!-- //dlist1 -->
					</div>
					<!-- //maps-info -->
				</div>

				<div id="map3">
					<img src="../../images/maps/map720x570-3.png" alt="인천국제공항 탑승동 인도장" class="transfer-place-guide__img">
					<div class="break-10"></div>
					<div class="maps-info maps-info_small maps-info_bg-none">
						<div class="maps-info__head">인천국제공항 탑승동 인도장</div>
						<dl class="dlist1 dlist1_next">
							<dt class="dlist1__term">위치</dt>
							<dd class="dlist1__description">외국항공 및 국내항공 출국 시 (이스타 항공 등) 셔틀트레인 하차 후 122번 GATE 옆 동화면세점 인도장<br>※이스타 항공 중 일부 기편은 서편 인도장에서 인도 가능하며, 자세한 사항은 공지사항 참조</dd>
							<dt class="dlist1__term">전화</dt>
							<dd class="dlist1__description">032-743-2753</dd>
						</dl>
						<!-- //dlist1 -->
					</div>
					<!-- //maps-info -->
				</div>

				<div id="map4">
					<img src="../../images/maps/map720x570-4.png" alt="김포국제공항" class="transfer-place-guide__img">
					<div class="break-10"></div>
					<div class="maps-info maps-info_small maps-info_bg-none">
						<div class="maps-info__head">김포국제공항</div>
						<dl class="dlist1 dlist1_next">
							<dt class="dlist1__term">위치</dt>
							<dd class="dlist1__description">3층 37번 38번 GATE 사이 동화면세점 인도장</dd>
							<dt class="dlist1__term">전화</dt>
							<dd class="dlist1__description">02-2666-2729</dd>
						</dl>
						<!-- //dlist1 -->
					</div>
					<!-- //maps-info -->
				</div>

				<div id="map5">
					<img src="../../images/maps/map720x570-5.png" alt="김해국제공항" class="transfer-place-guide__img">
					<div class="break-10"></div>
					<div class="maps-info maps-info_small maps-info_bg-none">
						<div class="maps-info__head">김해국제공항</div>
						<dl class="dlist1 dlist1_next">
							<dt class="dlist1__term">위치</dt>
							<dd class="dlist1__description">2층 1번 GATE 앞 동화면세점 인도장</dd>
							<dt class="dlist1__term">전화</dt>
							<dd class="dlist1__description">051-941-8356</dd>
						</dl>
						<!-- //dlist1 -->
					</div>
					<!-- //maps-info -->
				</div>

				<div id="map6">
					<img src="../../images/maps/map720x570-6.png" alt="제주국제공항" class="transfer-place-guide__img">
					<div class="break-10"></div>
					<div class="maps-info maps-info_small maps-info_bg-none">
						<div class="maps-info__head">제주국제공항</div>
						<dl class="dlist1 dlist1_next">
							<dt class="dlist1__term">위치</dt>
							<dd class="dlist1__description">공항 3층 출국 심사대 통과 후 대기석 지나 동화면세점 인도장</dd>
							<dt class="dlist1__term">전화</dt>
							<dd class="dlist1__description">064-749-8505</dd>
						</dl>
						<!-- //dlist1 -->
					</div>
					<!-- //maps-info -->
				</div>

				<div id="map7">
					<img src="../../images/maps/map720x570-7.png" alt="청주공항" class="transfer-place-guide__img">
					<div class="break-10"></div>
					<div class="maps-info maps-info_small maps-info_bg-none">
						<div class="maps-info__head">청주공항</div>
						<dl class="dlist1 dlist1_next">
							<dt class="dlist1__term">위치</dt>
							<dd class="dlist1__description">2층 출입국 심사대를 통과 후 정면 동화면세점 인도장</dd>
							<dt class="dlist1__term">전화</dt>
							<dd class="dlist1__description">043-212-8270</dd>
						</dl>
						<!-- //dlist1 -->
					</div>
					<!-- //maps-info -->
				</div>

				<div id="map8">
					<img src="../../images/maps/map720x570-8.png" alt="인천항 제1여객부두" class="transfer-place-guide__img">
					<div class="break-10"></div>
					<div class="maps-info maps-info_small maps-info_bg-none">
						<div class="maps-info__head">인천항 제1여객부두</div>
						<dl class="dlist1 dlist1_next">
							<dt class="dlist1__term">위치</dt>
							<dd class="dlist1__description">3층 출국장 출국심사 후 탑승구 방향 엘리베이터 좌측 동화면세점 인도장</dd>
							<dt class="dlist1__term">전화</dt>
							<dd class="dlist1__description">032-886-9881</dd>
						</dl>
						<!-- //dlist1 -->
					</div>
					<!-- //maps-info -->
				</div>

				<div id="map9">
					<img src="../../images/maps/map720x570-9.png" alt="부산항" class="transfer-place-guide__img">
					<div class="break-10"></div>
					<div class="maps-info maps-info_small maps-info_bg-none">
						<div class="maps-info__head">부산항</div>
						<dl class="dlist1 dlist1_next">
							<dt class="dlist1__term">위치</dt>
							<dd class="dlist1__description">3층 출입국 심사대를 통과 후 우측 동화면세점 인도장</dd>
							<dt class="dlist1__term">전화</dt>
							<dd class="dlist1__description">051-441-9356</dd>
						</dl>
						<!-- //dlist1 -->
					</div>
					<!-- //maps-info -->
				</div>

				<div id="map10">
					<img src="../../images/maps/map720x570-10.png" alt="인천항 제2여객부두" class="transfer-place-guide__img">
					<div class="break-10"></div>
					<div class="maps-info maps-info_small maps-info_bg-none">
						<div class="maps-info__head">인천항 제2여객부두</div>
						<dl class="dlist1 dlist1_next">
							<dt class="dlist1__term">위치</dt>
							<dd class="dlist1__description">1층 출국장 출국심사 후 탑승구 좌측 동화면세점 인도장</dd>
							<dt class="dlist1__term">전화</dt>
							<dd class="dlist1__description">032-765-9881</dd>
						</dl>
						<!-- //dlist1 -->
					</div>
					<!-- //maps-info -->
				</div>

				
				<div class="break-minus"></div>
			</div>
		</div>
		<!-- //transfer-place-guide -->

	</div>
</div>
<!-- //dialog-layout -->