<div class="details-search">
	<h2 class="hidden">상세검색</h2>
	<div class="details-search__row">
		<div class="details-search__cell type-fixed">
			<h3 class="details-search__term">종류</h3>
		</div>
		<div class="details-search__cell">
			<ul class="details-search__list">
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; 전체</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; 사은전</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; 세일</label></li>
			</ul>
		</div>
	</div>
	<div class="details-search__row">
		<div class="details-search__cell type-fixed">
			<h3 class="details-search__term">카테고리</h3>
		</div>
		<div class="details-search__cell">
			<ul class="details-search__list">
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; 전체</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; 화장품</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; 향수</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; 가방/지갑</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; 시계/쥬얼리</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; 패션/액세서리</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; 전자제품</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; 식품</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; 국내 브랜드</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; 유아동</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; 남성관</label></li>
			</ul>
		</div>
	</div>
	<div class="details-search__row">
		<div class="details-search__cell type-fixed">
			<h3 class="details-search__term">브랜드</h3>
			<div class="break-5"></div>
			<button type="button" class="btn1 btn-color1 btn-revert search-btn-full"><span>전체보기</span></button>
		</div>
		<div class="details-search__cell">
			<ul class="details-search__list">
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; 코치</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; ETRO</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; ETRO</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; ETRO</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; ETRO</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; ETRO</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; ETRO</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; ETRO</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; ETRO</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; ETRO</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; ETRO</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; ETRO</label></li>
			</ul>
		</div>
	</div>
	<div class="details-search__row">
		<div class="details-search__cell type-fixed">
			<h3 class="details-search__term">기간 선택</h3>
		</div>
		<div class="details-search__cell">
			<ul class="details-search__list">
				<li><label class="radio3"><input type="radio" name="date" value="1" id=""><i></i>&nbsp; 전체</label></li>
				<li class="nowrap">
					<label class="radio3"><input type="radio" name="date" value="2" id=""><i></i>&nbsp; 기간지정</label>
					<div class="details-search__cal-wrap">
						<input type="text" class="input1 mypage-form1 datepicker-input1"><button type="button" class="datepicker-btn1">버튼</button> ~ <input type="text" class="input1 mypage-form1 datepicker-input1"><button type="button" class="datepicker-btn1">버튼</button>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="details-search__btn-group">
		<button type="button" class="btn1 btn-revert btn-color1 search-btn-submit"><span><i class="ico-search1"></i>검색</span></button>
	</div>
	<div class="break-20"></div>
	<p class="align-center">검색 결과 <span class="color9">총 2개</span>의 기획전이 진행 중 입니다.</p>
</div>