<div class="details-search">
	<h2 class="hidden">상세검색</h2>
	<div class="details-search__row">
		<div class="details-search__cell type-fixed">
			<h3 class="details-search__term">카테고리</h3>
		</div>
		<div class="details-search__cell">
			<div class="checkbox-list1">
				<span class="checkbox-list1__item"><label class="checkbox4"><input type="checkbox" name="" id="" class="checkbox4__input"><span class="checkbox4__inner">메이크업 <em class="checkbox4__num">(849)</em></span></label></span>
				<span class="checkbox-list1__item"><label class="checkbox4"><input type="checkbox" name="" id="" class="checkbox4__input"><span class="checkbox4__inner">스킨케어 <em class="checkbox4__num">(849)</em></span></label></span>
				<span class="checkbox-list1__item"><label class="checkbox4"><input type="checkbox" name="" id="" class="checkbox4__input"><span class="checkbox4__inner">썬케어 <em class="checkbox4__num">(849)</em></span></label></span>
				<span class="checkbox-list1__item"><label class="checkbox4"><input type="checkbox" name="" id="" class="checkbox4__input"><span class="checkbox4__inner">클렌징 <em class="checkbox4__num">(849)</em></span></label></span>
				<span class="checkbox-list1__item"><label class="checkbox4"><input type="checkbox" name="" id="" class="checkbox4__input"><span class="checkbox4__inner">헤어케어 <em class="checkbox4__num">(849)</em></span></label></span>
				<span class="checkbox-list1__item"><label class="checkbox4"><input type="checkbox" name="" id="" class="checkbox4__input"><span class="checkbox4__inner">바디케어 <em class="checkbox4__num">(849)</em></span></label></span>
				<span class="checkbox-list1__item"><label class="checkbox4"><input type="checkbox" name="" id="" class="checkbox4__input"><span class="checkbox4__inner">남성용 <em class="checkbox4__num">(849)</em></span></label></span>
			</div>
			<!-- //checkbox-list1 -->
		</div>
	</div>
	<div class="details-search__row">
		<div class="details-search__cell type-fixed">
			<h3 class="details-search__term">브랜드</h3>
			<div class="break-5"></div>
			<button type="button" class="btn1 btn-color1 btn-revert search-btn-full"><span>전체보기</span></button>
		</div>
		<div class="details-search__cell">
			<ul class="details-search__list">
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; 코치</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; ETRO</label></li>
				<!--<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; ETRO</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; ETRO</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; ETRO</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; ETRO</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; ETRO</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; ETRO</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; ETRO</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; ETRO</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; ETRO</label></li>
				<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; ETRO</label></li>-->		
			</ul>
		</div>
	</div>
	
	<div class="slide_toggle">
		<div class="details-search__row">
			<div class="details-search__cell type-fixed">
				<h3 class="details-search__term">성별</h3>
			</div>
			<div class="details-search__cell">
				<ul class="details-search__list">
					<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; 남성</label></li>
					<li><label class="checkbox3"><input type="checkbox" name="" id=""><i></i>&nbsp; 여성</label></li>
				</ul>
			</div>
		</div>
		<div class="details-search__row">
			<div class="details-search__cell type-fixed">
				<h3 class="details-search__term">가격대</h3>
			</div>
			<div class="details-search__cell">
				<div class="range-slider">
					<div class="range-slider__slider-area">
						<div style="range-slider__slider-object">
							<div><input type="text" id="range1" class="range-bar" value="" name="range" data-min="0" data-max="3000" data-from="300" data-to="700" data-type="double" data-prefix="$" data-step="0.01" /></div>
						</div>
					</div>
					<div class="range-slider__pricebox-wrap">
						<input type="text" class="range-slider__val slider-margin-value-min" value="" readonly/> ~
						<input type="text" class="range-slider__val slider-margin-value-max" value="" readonly/>
					</div>
				</div>
			</div>
		</div>
		<div class="details-search__row">
			<div class="details-search__cell type-fixed">
				<h3 class="details-search__term">할인률
				</h3>
			</div>
			<div class="details-search__cell">
				<div class="range-slider">
					<div class="range-slider__slider-area">
						<div style="range-slider__slider-object">
							<div><input type="text" id="range2" class="range-bar" value="" name="range" data-min="0" data-max="100" data-from="10" data-to="30" data-type="double" data-postfix="%" data-step="1" /></div>
						</div>
					</div>
					<div class="range-slider__pricebox-wrap">
						<input type="text" class="range-slider__val slider-margin-value-min" value="" readonly/> ~
						<input type="text" class="range-slider__val slider-margin-value-max" value="" readonly/>
					</div>
				</div>
			</div>
		</div>
		<div class="break-minus"></div>
	</div>
		<div class="option-pick">
			<div class="option-pick__cell type-fixed">
				<span class="option-pick__tag type-all"><i></i>선택 전체해제</span>
			</div>
			<div class="option-pick__cell">
				<span class="option-pick__tag"><i></i>스킨케어</span>
				<span class="option-pick__tag"><i></i>KIPLING</span>
				<span class="option-pick__tag"><i></i>KIPLING</span>
				<!--<span class="option-pick__tag"><i></i>PLING</span>
				<span class="option-pick__tag"><i></i>KIPLING</span>
				<span class="option-pick__tag"><i></i>할인행사</span>
				<span class="option-pick__tag"><i></i>사</span>
				<span class="option-pick__tag"><i></i>할인행사</span>
				<span class="option-pick__tag"><i></i>할인사</span>
				<span class="option-pick__tag"><i></i>할인행사</span>
				<span class="option-pick__tag"><i></i>할인행사</span>
				<span class="option-pick__tag"><i></i>할인행사</span>-->
			</div>
			<div class="option-pick__cell add_btn">
				<a href="javascript:slide_toggle()" class="slide_btn">펼치기</a>
			</div>
		</div>
	
	<!-- //option-pick -->
	<div class="details-search__btn-group">
		<button type="button" class="btn1 btn-revert btn-color1 search-btn-submit"><span><i class="ico-search1"></i>검색</span></button>
		<button type="button" class="btn1 btn-gray1 search-btn-reset"><span><i class="ico-reset1"></i>초기화</span></button>
	</div>
</div>