<div class="search-resultbox">
	<div class="search-resultbox__row">
		<div class="search-resultbox__text">
			<div class="search-resultbox__keyword-category">
				<p><a href="#n">ETRO</a></p>
				<ul>
					<li><a href="#n">가방/지갑 &gt; 가방</a></li>
					<li><a href="#n">가방/지갑 &gt; 가방</a></li>
					<li><a href="#n">패션/악세서리 &gt; 스카프/머플러</a></li>
				</ul>
			</div>
			<div class="search-resultbox__keyword-category">
				<p><a href="#n">STEE LAUDER</a></p>
				<ul>
					<li><a href="#n">가방/지갑 &gt; 가방</a></li>
					<li><a href="#n">가방/지갑 &gt; 가방</a></li>
					<li><a href="#n">패션/악세서리 &gt; 스카프/머플러</a></li>
				</ul>
			</div>
			<div class="search-resultbox__keyword-brand">
				<ul>
					<li>Enc <span class="cell"><a href="n" class="brand-link">브랜드몰</a></span></li>
					<li>TATE <span class="cell"><a href="n" class="brand-link">브랜드몰</a></span></li>
					<li>UNE <span class="cell"><a href="n" class="brand-link">브랜드몰</a></span></li>
				</ul>
			</div>
			<div class="search-resultbox__keyword-brand">
				<ul>
					<li><a href="#n" class="keyword-link">Enc <span class="cell"><span class="count">4,847회</span></span></a></li>
					<li><a href="#n" class="keyword-link">TATE <span class="cell"><span class="count">4,847회</span></span></a></li>
					<li><a href="#n" class="keyword-link">UNE <span class="cell"><span class="count">4,847회</span></span></a></li>
					<li><a href="#n" class="keyword-link">EASTPAK <span class="cell"><span class="count">4,847회</span></span></a></li>
					<li><a href="#n" class="keyword-link">EASTPAK <span class="cell"><span class="count">4,847회</span></span></a></li>
				</ul>
			</div>
		</div>
		<div class="search-resultbox__product">
			<a href="#n" class="suggest-item">
				<div class="suggest-item__heading">키워드 추천상품</div>
				<div class="suggest-item__img-wrap">
					<img src="../../images/temp/@item-210x210-1.jpg" width="210" height="210" alt="Prevage City Smart SPF 50PA++++ 40ml">
				</div>
				<div class="suggest-item__brand">E.ARMANI</div>
				<div class="suggest-item__name productDot">Prevage City Smart SPF 50PA++++ 40ml</div>
				<div class="suggest-item__price-dollar"><del>$32.11</del> <strong>$31</strong>.22</div>
				<div class="suggest-item__price-won">(37,500원)</div>
			</div>
			<!-- //suggest-item -->
		</a>
	</div>
	<div class="search-resultbox__event">
		<div class="search-resultbox__event-title">추천 이벤트 &amp; 기획전 </div>
		<ul class="search-resultbox__event-description">
			<li><a href="">ETRO 패션의 완성! 탑리더의 가을패션 이벤트 ETRO 패션의 완성! 탑리더의 가을패션 이벤트 ETRO 패션의 완성! 탑리더의 가을패션 이벤트 ETRO 패션의 완성! 탑리더의 가을패션 이벤트</a></li>
			<li><a href="">ESTEE LAUDER 아찔한 속눈썹, 마스카라&amp;메이크업 제안전</a></li>
		</ul>
	</div>
</div>
<!-- //search-resultbox -->