<div class="snb">
	<div class="snb-tit">
		<span class="snb-tit__1depth">마이페이지</span>
		<span class="snb-tit__sub">My Page</span>
	</div>
	<!-- //snb-tit -->
	<ul class="side-menu1">
		<li>
			<a href="마이페이지_02쇼핑혜택_01D쿠폰.html">쇼핑혜택</a>
			<ul>
				<li><a href="마이페이지_02쇼핑혜택_01D쿠폰.html">D쿠폰</a></li>
				<li><a href="마이페이지_02쇼핑혜택_02적립금.html">적립금</a></li>
				<li><a href="마이페이지_02쇼핑혜택_03D포인트.html">D포인트</a></li>
			</ul>
		</li>
		<li>
			<a href="마이페이지_03쇼핑컨텐츠_01관심상품.html">쇼핑 컨텐츠</a>
			<ul>
				<li><a href="마이페이지_03쇼핑컨텐츠_01관심상품.html">관심상품</a></li>
			</ul>
		</li>
		<li>
			<a href="마이페이지_04회원정보_00비밀번호확인.html">회원 정보</a>
			<ul>
				<li><a href="마이페이지_04회원정보_99정회원전환.html">정회원 전환</a></li>
				<li><a href="마이페이지_04회원정보_01기번정보관리_수정.html">기본정보관리</a></li>
				<li><a href="마이페이지_04회원정보_06출국정보관리_내역.html">출국정보관리</a></li>
			</ul>
		</li>
	</ul>
	<!-- //side-menu1 -->
</div>
<!-- //snb -->