<div class="snb">
	<div class="snb-tit">
		<span class="snb-tit__1depth">고객센터</span>
		<span class="snb-tit__sub">Customer</span>
	</div>
	<!-- //snb-tit -->
	<ul class="side-menu1">
		<li>
			<a href="고객센터_01FAQ.html">FAQ</a>
		</li>
		<li>
			<a href="고객센터_02문의.html">1:1 문의</a>
		</li>
		<li>
			<a href="고객센터_03면세점가이드_01면세점쇼핑안내_탭1.html">면세점가이드</a>
			<ul>
				<li><a href="고객센터_03면세점가이드_01면세점쇼핑안내_탭2.html">면세점쇼핑안내</a></li>
				<li class="is-on"><a href="고객센터_03면세점가이드_02인터넷쇼핑절차.html">인터넷쇼핑절차</a></li>
				<li><a href="고객센터_03면세점가이드_03결제안내.html">결제안내</a></li>
				<li><a href="고객센터_03면세점가이드_04상품수령안내.html">상품수령안내</a></li>
				<li><a href="고객센터_03면세점가이드_05기내반입제안안내.html">기내반입제한안내</a></li>	
			</ul>
		</li>
		<li>
			<a href="고객센터_03면세점가이드_06인터넷쇼핑문제해결_탭1.html">인터넷쇼핑문제해결</a>
		</li>
		<li>
			<a href="고객센터_03면세점가이드_07공지사항.html">공지사항</a>
		</li>
		<li>
			<a href="">면세점소개</a>
		</li>
	</ul>
	<!-- //side-menu1 -->
</div>
<!-- //snb -->
<div class="break-10"></div>
<div class="side-contact">
	<div><img src="../../images/customer/contact-head.png" alt="동화면세점 콜센터 | 09:30~23:30"></div>
	<div class="contact-tell">한국 서울 <span class="contact-tell__num">1688-6680</span></div>
	<div><img src="../../images/customer/contact-email.png" alt="e-mail : webmaster(at)ondutyfree(dot)com"></div>
</div>
<!-- //customer-contact -->