<div class="snb">
	<div class="snb-tit">
		<span class="snb-tit__1depth">마이페이지</span>
		<span class="snb-tit__sub">My Page</span>
	</div>
	<!-- //snb-tit -->
	<ul class="side-menu1">
		<li>
			<a href="마이페이지_00메인_임직원.html">쇼핑정보</a>
			<ul>
				<li class="is-on"><a href="	마이페이지_00메인_준회원.html">주문내역</a></li>
				<li><a href="마이페이지_01쇼핑정보_02스페셜오더.html">스페셜오더 신청내역</a></li>
			</ul>
		</li>
		<li>
			<a href="마이페이지_02쇼핑혜택_01D쿠폰.html">쇼핑혜택</a>
			<ul>
				<li><a href="마이페이지_02쇼핑혜택_01D쿠폰.html">D쿠폰</a></li>
				<li><a href="마이페이지_02쇼핑혜택_02적립금.html">적립금</a></li>
				<li><a href="마이페이지_02쇼핑혜택_03D포인트.html">D포인트</a></li>
				<li><a href="마이페이지_02쇼핑혜택_03ECASH.html">E-CASH</a></li>
			</ul>
		</li>
		<li>
			<a href="마이페이지_03쇼핑컨텐츠_01관심상품.html">쇼핑 컨텐츠</a>
			<ul>
				<li><a href="마이페이지_03쇼핑컨텐츠_01관심상품.html">관심상품</a></li>
				<li><a href="마이페이지_03쇼핑컨텐츠_02응모한이벤트.html">응모한 이벤트</a></li>
				<li><a href="마이페이지_03쇼핑컨텐츠_03나의상품평.html">1:1 상담 내역</a></li>				
			</ul>
		</li>
		<li>
			<a href="마이페이지_04회원정보_00비밀번호확인.html">회원 정보</a>
			<ul>
				<li><a href="마이페이지_04회원정보_01기번정보관리_수정.html">기본정보관리</a></li>
				<li><a href="마이페이지_04회원정보_02여권정보관리.html">여권정보관리</a></li>
				<li><a href="마이페이지_04회원정보_03비밀번호재설정.html">비밀번호재설정</a></li>
				<li><a href="마이페이지_04회원정보_04제휴사관리.html">제휴사 관리</a></li>
				<li><a href="마이페이지_04회원정보_05멤버쉽관리.html">오프라인멤버쉽카드</a></li>
				<li><a href="마이페이지_04회원정보_06출국정보관리_내역.html">출국정보관리</a></li>
			</ul>
		</li>
	</ul>
	<!-- //side-menu1 -->
</div>
<!-- //snb -->