<div class="tab-list-content__item">
	<div class="tab-list-content__head" tabindex="0">
		<div class="tab-list-content__img-wrap">
			<img src="../../images/temp/brand-ci.jpg" alt="Clinique">
		</div>
	</div>
	<div class="tab-list-content__body">
		<div class="special-brand2">
			<table class="table5">
				<colgroup>
					<col class="special-brand2-col1">
					<col>
					<col>
				</colgroup>
				<thead>
					<tr>
						<th scope="col">카테고리</th>
						<th scope="col">연락처</th>
						<th scope="col">운영시간</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>화장품 &nbsp;<i class="ico-arr-r2"></i>&nbsp; 메이크업</td>
						<td rowspan="2">매장 연락처 문의: 02-399-3000</td>
						<td>09:30 ~ 20:00</td>
					</tr>
					<tr>
						<td>가방/지갑 &nbsp;<i class="ico-arr-r2"></i>&nbsp; 지갑, 비즈니스, 여행가방</td>
						<td>09:30 ~ 20:00</td>
					</tr>
					<tr>
						<td>패션/악세사리 &nbsp;<i class="ico-arr-r2"></i>&nbsp; 선글라스/안경</td>
						<td>02-759-6752</td>
						<td>09:30 ~ 20:00</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>