<div class="wing-left">
	<a href="#n"><img src="../../images/temp/wing-left-img01.png"/><span></span></a>
	<a href="#n"><img src="../../images/temp/wing-left-img02.png"/><span></span></a>
	<div class="wing-banner-set">
		<a href="#n"><img src="../../images/temp/wing-left-img03.png"/><span></span></a>
		<a href="#n"><img src="../../images/temp/wing-left-img03.png"/><span></span></a>
		<a href="#n"><img src="../../images/temp/wing-left-img03.png"/><span></span></a>
	</div>
	<a href="#n"><img src="../../images/temp/wing-left-img04.png"/></a>
	<div class="wing-banner-set">
		<a href="#n"><img src="../../images/temp/wing-left-img05.png"/><span></span></a>
		<a href="#n"><img src="../../images/temp/wing-left-img05.png"/><span></span></a>
		<a href="#n"><img src="../../images/temp/wing-left-img05.png"/><span></span></a>
		<a href="#n"><img src="../../images/temp/wing-left-img05.png"/><span></span></a>
	</div>
</div>
<!-- //wing-left -->

<div class="wing-right">
	<div class="wing-right_menu">
		<ul>
			<li class="wing-right01">
				<a href="#n" class="wing-link" data-link="wing-mydonghwa">
					<span class="wing-link">마이동화</span>
				</a>
			</li>
			<li class="wing-right02">
				<a href="#n" class="wing-link" data-link="wing-exchangerate">
					<span class="wing-link">환율</span>
				</a>
			</li>
			<li class="wing-right03">
				<a href="#n" class="wing-link" data-link="wing-todayview">
					<span class="wing-link">오늘 본 상품</span>
				</a>
				<div class="wing_cnt"><span>118</span></div>
			</li>
			<li class="wing-right04">
				<a href="#n" class="wing-link" data-link="wing-cart">
					<span class="wing-link">장바구니</span>
				</a>
				<div class="wing_cnt"><span>75</span></div>
			</li>
			<li class="wing-right05">
				<a href="#n" class="wing-link" data-link="wing-orderdate">
					<span class="wing-link">주문가능 시간</span>
				</a>
			</li>
			<li class="wing-right06">
				<a href="#n" class="wing-link" data-link="wing-caution">
					<span class="wing-link">구매시 유의사항</span>
				</a>
			</li>
			<li class="wing-right07">
				<a href="../wing/윙배너_01왼쪽.html">
					<span class="wing-link">인도장 안내</span>
				</a>
			</li>
		</ul>
		<a href="#n" class="wing-gotop_button js-go-to-top">맨위로</a>
	</div>
	<!-- //wing-right_menu -->
	<div class="wing-right_content">
		
		<!-- 마이 동화 -->
		<div class="wing-body_wrap wing-mydonghwa">
			<div class="wing-title">
				<span class="wing-title_text">마이동화</span>
				<a href="#n" class="wing-title_close-button"></a>
			</div>
			<!-- //wing-title -->
			<div class="wing-head">
				<span class="wing-head-membername"><span class="color1">홍길동</span>님 반갑습니다.</span>&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="#n" class="wing-button1">마이페이지</a>
			</div>
			<!-- //wing-head -->
			<div class="wing-body">
				<div class="wing-body_onlinelevel">
					<div class="wing-body_title">온라인 등급</div>
					<div class="wing-body_onlinelevel-body">
						<span class="wing-body_onlinelevel-title">다이아몬드 +</span>
						<div class="break-5"></div>
						<a href="#n" class="wing-button2">회원등급 안내</a>
					</div>
				</div>
				<!-- //wing-body_onlinelevel -->
				<div class="wing-body_shopping-merit">
					<div class="wing-body_title">쇼핑혜택</div>
					<div class="wing-body_shoppingmerit-body">
						<table class="table3 wing-body_shoppingmerit-table">
							<tbody>
								<tr>
									<th scope="row">적립금</th>
									<td>1,000원</td>
								</tr>
								<tr>
									<th scope="row"><i class="ico-d1"></i> 쿠폰</span></th>
									<td><span class="gray-999999">0</span> 장</td>
								</tr>
								<tr>
									<th scope="row"><i class="ico-d1"></i> 포인트</span></th>
									<td>2,400P</td>
								</tr>
								<tr>
									<th scope="row"><span class="text-uppercase">e-cash</span></th>
									<td>1,100,000 원</td>
								</tr>
								<tr>
									<th scope="row">모바일 적립금</th>
									<td>1,100,000 원</td>
								</tr>
								<tr>
									<th scope="row">브랜드 적립금</th>
									<td>1,100,000 원</td>
								</tr>
								
							</tbody>
						</table>
					</div>
					<!-- //wing-body_shoppingmerit-body -->
				</div>
				<!-- //wing-body_shopping-merit -->
			</div>
			<!-- //wing-body -->
		</div>
		<!-- //wing-mydonghwa -->
		
		<!-- 오늘의 환율 -->
		<div class="wing-body_wrap wing-exchangerate">
			<div class="wing-title">
				<span class="wing-title_text">오늘의 환율</span>
				<a href="#n" class="wing-title_close-button"></a>
			</div>
			<!-- //wing-title -->
			<div class="wing-head">
				<span class="wing-head-exchange-rate">us $1 = <span class="color1">1,136.5원</span></span>
			</div>
			<!-- //wing-head -->
			<div class="wing-body">
				<div class="wing-body_shopping-merit">
					<div class="wing-body_title">환율계산하기</div>
					<div class="wing-body_shoppingmerit-body">
						<table class="table3 wing-body_shoppingmerit-table">
							<tbody>
								<tr>
									<th scope="row"><span class="wing-money-ico">USD</span></th>
									<td class="align-right"><input class="wing-dollar_input only-number" type="text" value="2.3"/></td>
								</tr>
								<tr>
									<th scope="row"><span class="wing-money-ico2">KRW</span></th>
									<td class="wing-custom1">2,691 원</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- //wing-body_shoppingmerit-body -->
				</div>
				<!-- //wing-body_shopping-merit -->
			</div>
			<!-- //wing-body -->
		</div>
		<!-- //wing-exchangerate -->
		
		<!-- 오늘 본 상품 -->
		<div class="wing-body_wrap wing-todayview">
			<div class="wing-title">
				<span class="wing-title_text">오늘 본 상품</span>
				<a href="#n" class="wing-title_close-button"></a>
			</div>
			<!-- //wing-title -->
			<div class="wing-body">
				<div class="wing-body_productlist-area">
					<div class="wing-body_checkbox-allcheck">
						<label class="checkbox2"><input type="checkbox" name="" id=""><i></i> 전체선택</label>
					</div>
					<!-- //wing-body_checkbox-allcheck -->
					<div class="wing-body_product-list">
						<ul id="wingProduct">
							<li>
								<div class="wing-product_item">
									<div class="wing-product_wrap">
										<div class="wing-product_checkbox"><label class="checkbox1"><input type="checkbox" name="" id=""><i></i></label></div>
										<div class="wing-product_image">
											<div class="wing-product_image-wrap"><img src="../../images/temp/@item-75x75.jpg"/></div>
										</div>
										<div class="wing-product_info">
											<div class="wing-product_info-title">이니스프리</div>
											<div class="wing-product_info-description">LA PRAIRIE #WRM IVORY  LA Concealer Foundation</div>
											<div class="wing-product_info-price1">
												<span class="wing-product_info-price11">$32.11</span>
												<span class="wing-product_info-price12">$29.00</span>
											</div>
											<div class="wing-product_info-price2">(37,500원)</div>
										</div>
										<div>
											<div class="wing-product_image"><div class="wing-product_image-wrap"></div></div>
											<div class="wing-product_info">
												<div class="wing-product_info-cnt">
													<div class="wing-product_info-spinner">
														<div class="spinner-object">
															<input type="number" min="1" max="100" value="1" readonly class="spinner-style"/>
														</div>
													</div>
													<div class="wing-product_info-cntedit"><a href="#n" class="wing-product_info-editbtn">수정</a></div>
												</div>
											</div>
										</div>
										<div class="wing-product_soldout">임시품절</div>
									</div>
								</div>
							</li>
							<li>
								<div class="wing-product_item">
									<div class="wing-product_wrap">
										<div class="wing-product_checkbox"><label class="checkbox1"><input type="checkbox" name="" id=""><i></i></label></div>
										<div class="wing-product_image">
											<div class="wing-product_image-wrap"><img src="../../images/temp/@item-75x75.jpg"/></div>
										</div>
										<div class="wing-product_info">
											<div class="wing-product_info-title">이니스프리</div>
											<div class="wing-product_info-description">LA PRAIRIE #WRM IVORY  LA Concealer Foundation</div>
											<div class="wing-product_info-price1">
												<span class="wing-product_info-price11">$32.11</span>
												<span class="wing-product_info-price12">$29.00</span>
											</div>
											<div class="wing-product_info-price2">(37,500원)</div>
										</div>
										<div>
											<div class="wing-product_image"><div class="wing-product_image-wrap"></div></div>
											<div class="wing-product_info">
												<div class="wing-product_info-cnt">
													<div class="wing-product_info-spinner">
														<div class="spinner-object">
															<input type="number" min="1" max="100" value="1" readonly class="spinner-style"/>
														</div>
													</div>
													<div class="wing-product_info-cntedit"><a href="#n" class="wing-product_info-editbtn">수정</a></div>
												</div>
											</div>
										</div>
										<div class="wing-product_soldout">임시품절</div>
									</div>
								</div>
							</li>
							<li>
								<div class="wing-product_item">
									<div class="wing-product_wrap">
										<div class="wing-product_checkbox"><label class="checkbox1"><input type="checkbox" name="" id=""><i></i></label></div>
										<div class="wing-product_image">
											<div class="wing-product_image-wrap"><img src="../../images/temp/@item-75x75.jpg"/></div>
										</div>
										<div class="wing-product_info">
											<div class="wing-product_info-title">이니스프리</div>
											<div class="wing-product_info-description">LA PRAIRIE #WRM IVORY  LA Concealer Foundation</div>
											<div class="wing-product_info-price1">
												<span class="wing-product_info-price11">$32.11</span>
												<span class="wing-product_info-price12">$29.00</span>
											</div>
											<div class="wing-product_info-price2">(37,500원)</div>
										</div>
										<div>
											<div class="wing-product_image"><div class="wing-product_image-wrap"></div></div>
											<div class="wing-product_info">
												<div class="wing-product_info-cnt">
													<div class="wing-product_info-spinner">
														<div class="spinner-object">
															<input type="number" min="1" max="100" value="1" readonly class="spinner-style"/>
														</div>
													</div>
													<div class="wing-product_info-cntedit"><a href="#n" class="wing-product_info-editbtn">수정</a></div>
												</div>
											</div>
										</div>
										<div class="wing-product_soldout">임시품절</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<!-- //wing-body_product-list -->
					<div class="wing-body_product-foot">
						<!--<div class="wing-body_product-foothead">
							<div class="wing-body_product-foottitle">전체금액</div>
							<div class="wing-body_product-footprice">612,780원</div>
						</div>-->
						<div class="wing-body_product-footbody">
							<a href="#n" class="wing-body_productfoot-button">장바구니</a>
							<a href="#n" class="wing-body_productfoot-button type2">바로구매</a>
						</div>
					</div>
					<!-- //wing-body_product-foot -->
				</div>
				<!-- //wing-body_productlist-area -->
				<!--
				<div class="wing-body_productnodata-area">
					<div class="wing-product_item-nodata">오늘 본 상품이 없습니다.</div>
				</div>
				-->
			</div>
			<!-- //wing-body -->
		</div>
		<!-- //wing-todayview -->
		
		<!-- 장바구니 -->
		<div class="wing-body_wrap wing-cart">
			<div class="wing-title">
				<span class="wing-title_text">장바구니</span>
				<a href="#n" class="wing-title_close-button"></a>
			</div>
			<!-- //wing-title -->
			<div class="wing-head">
				<a href="#n" class="wing-button1">장바구니 바로가기</a>
			</div>
			<!-- //wing-head -->
			<div class="wing-body">
				<div class="wing-body_productlist-area">
					<div class="wing-body_checkbox-allcheck">
						<label class="checkbox2"><input type="checkbox" name="" id=""><i></i> 전체선택</label>
					</div>
					<!-- //wing-body_checkbox-allcheck -->
					<div class="wing-body_product-list">
						<ul id="wingProduct">
							<li>
								<div class="wing-product_item">
									<div class="wing-product_wrap">
										<div class="wing-product_checkbox"><label class="checkbox1"><input type="checkbox" name="" id=""><i></i></label></div>
										<div class="wing-product_image">
											<div class="wing-product_image-wrap"><img src="../../images/temp/@item-75x75.jpg"/></div>
										</div>
										<div class="wing-product_info">
											<div class="wing-product_info-title">이니스프리</div>
											<div class="wing-product_info-description">LA PRAIRIE #WRM IVORY  LA Concealer Foundation</div>
											<div class="wing-product_info-price1">
												<span class="wing-product_info-price11">$32.11</span>
												<span class="wing-product_info-price12">$29.00</span>
											</div>
											<div class="wing-product_info-price2">(37,500원)</div>
										</div>
										<div>
											<div class="wing-product_image"><div class="wing-product_image-wrap"></div></div>
											<div class="wing-product_info">
												<div class="wing-product_info-cnt">
													<div class="wing-product_info-spinner">
														<div class="spinner-object">
															<input type="number" min="1" max="100" value="1" readonly class="spinner-style"/>
														</div>
													</div>
													<div class="wing-product_info-cntedit"><a href="#n" class="wing-product_info-editbtn">수정</a></div>
												</div>
											</div>
										</div>
										<div class="wing-product_soldout">임시품절</div>
									</div>
								</div>
							</li>
							<li>
								<div class="wing-product_item">
									<div class="wing-product_wrap">
										<div class="wing-product_checkbox"><label class="checkbox1"><input type="checkbox" name="" id=""><i></i></label></div>
										<div class="wing-product_image">
											<div class="wing-product_image-wrap"><img src="../../images/temp/@item-75x75.jpg"/></div>
										</div>
										<div class="wing-product_info">
											<div class="wing-product_info-title">이니스프리</div>
											<div class="wing-product_info-description">LA PRAIRIE #WRM IVORY  LA Concealer Foundation</div>
											<div class="wing-product_info-price1">
												<span class="wing-product_info-price11">$32.11</span>
												<span class="wing-product_info-price12">$29.00</span>
											</div>
											<div class="wing-product_info-price2">(37,500원)</div>
										</div>
										<div>
											<div class="wing-product_image"><div class="wing-product_image-wrap"></div></div>
											<div class="wing-product_info">
												<div class="wing-product_info-cnt">
													<div class="wing-product_info-spinner">
														<div class="spinner-object">
															<input type="number" min="1" max="100" value="1" readonly class="spinner-style"/>
														</div>
													</div>
													<div class="wing-product_info-cntedit"><a href="#n" class="wing-product_info-editbtn">수정</a></div>
												</div>
											</div>
										</div>
										<div class="wing-product_soldout">임시품절</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<!-- //wing-body_product-list -->
					<div class="wing-body_product-foot">
						<div class="wing-body_product-foothead">
							<div class="wing-body_product-foottitle">전체금액</div>
							<div class="wing-body_product-footprice">612,780원</div>
						</div>
						<div class="wing-body_product-footbody">
							<a href="#n" class="wing-body_productfoot-button">삭제</a>
							<a href="#n" class="wing-body_productfoot-button type2">바로구매</a>
						</div>
					</div>
					<!-- //wing-body_product-foot -->
				</div>
				<!-- //wing-body_productlist-area -->
				<!--
				<div class="wing-body_productnodata-area">
					<div class="wing-product_item-nodata">장바구니에 담긴 상품이 없습니다.</div>
				</div>
				-->
			</div>
			<!-- //wing-body -->
		</div>
		<!-- //wing-cart -->
		
		<!-- 주문가능 시간 -->
		<div class="wing-body_wrap wing-orderdate">
			<div class="wing-title">
				<span class="wing-title_text">주문가능 시간</span>
				<a href="#n" class="wing-title_close-button"></a>
			</div>
			<!-- //wing-title -->
			<div class="wing-head">
				<a href="#n" class="wing-button1">이용안내 자세히보기</a>
			</div>
			<!-- //wing-head -->
			<div class="wing-body">
				<div class="wing-body_top">
					<div class="wing-body_title">출국 장소</div>
					<div class="wing-body_departure-location">
						<select class="select1 wing-form1">
							<option value="">출국 장소를 선택해주세요.</option>
							<option value="">출국 장소를 선택해주세요.</option>
							<option value="">출국 장소를 선택해주세요.</option>
						</select>
					</div>
					<!-- //wing-body_departure-location -->
					<div class="wing-body_title">출국 일시</div>
					<div class="wing-body_departure-date">
						<div class="wing-body_departuredate-calrow">
							<input type="text" class="input1 wing-form2 datepicker-input1"/><button type="button" class="datepicker-btn1">버튼</button>
						</div>
						<!-- //wing-body_departuredate-calrow -->
						<div class="wing-body_departuredate-daterow">
							<div class="wing-body_departuredate-left">
								<select class="select1 wing-form1">
									<option value="">시</option>
									<option value="">시</option>
									<option value="">시</option>
								</select>
							</div>
							<div class="wing-body_departuredate-right">
								<select class="select1 wing-form1">
									<option value="">분</option>
									<option value="">분</option>
									<option value="">분</option>
								</select>
							</div>
						</div>
						<!-- //wing-body_departuredate-daterow -->
					</div>
					<!-- //wing-body_departure-date -->
					<div class="wing-body_button-group">
						<a href="#n" class="wing-body_button">확인</a>
					</div>
				</div>
				<!-- //wing-body_button-group -->
				<div class="wing-foot_orderdate-text">
					<div class="wing-foot_orderdate-text0">
						출국시간<br><span class="wing-textbold">2016년 12월 25일 05:30</span><br>
					</div>
					<div class="wing-foot_orderdate-text1">
						<span class="wing-textbold">주문이 불가능한 시간입니다.</span><br>단, 3시간전 샵 이용은 가능합니다.
					</div>
					<div class="wing-foot_orderdate-text2"><span class="wing-textbold2">2016.10.30 17:20까지</span><br>주문이 가능합니다</div>
					<div class="wing-foot_orderdate-text3">주문이 불가능한 시간입니다. <span class="wing-textbold2">인천공항</span>은 <span class="wing-textbold2">2016.10.29 17:20까지</span> 주문이 가능합니다.</div>
					<div class="wing-foot_orderdate-buttongroup">
						<a href="#n" class="wing-button3 wing-form1">3시간전샵 바로가기</a>
					</div>
				</div>
				<!-- //wing-foot_orderdate-text -->
			</div>
			<!-- //wing-body -->
		</div>
		<!-- //wing-orderdate -->
		
		<!-- 구매시 유의사항 -->
		<div class="wing-body_wrap wing-caution">
			<div class="wing-title">
				<span class="wing-title_text">구매시 유의사항</span>
				<a href="#n" class="wing-title_close-button"></a>
			</div>
			<!-- wing-title -->
			<div class="wing-body">
				<div class="wing-caution_body">
					면세점에서 구입한 면세물을 직접 휴대 입국 하여 <span class="color1">교환이나 환불을 요청하는 경우 입국 시 반드시 세관에 휴대품 신고 및 유치</span> (교환, 환 불하고자 하는 물품 가격 총액이 미화 $600 이하인 경우는 제외) 해야 하며 신고를 하지 않은 경우 교환/환 불을 해드리지 않습니다. 면세점에서 구입한 물품은 입국 시 세관에 신 고 및 유치 후 면세점 으로 운송하여 면세점 에서 교환/환불을 해드립니다. <br>
					교환된 면세물품(환불 제외)은 면세점에서 직접 받을 수 없으며, 출국 시에 공항 안의 출국장 에서 받아서 가지고 나가야 합니다.<br>
					<br>
					<span class="weight-bold gray-333333">[구매/면세 한도액]</span><br>
					출국시 내국인 구매한도: <span class="color1">미화 $3,000</span><br>
					입국시 세금이 면세 한도액 : <span class="color1">미화 $600</span><br>
					면세범위를 초과한 물품의 국내 반입시 자세한 예상세액은 관세청 홈페이지 (www.customs.go.kr) 내 휴대품 예상 세액조회를 통해 확인할 수 있습니다.<br>
					<a href="http://www.customs.go.kr" target="_blank" class="link1">관세청 바로가기 ▶</a>
				</div>
				<!-- wing-caution_body -->
				<div class="wing-foot_orderdate-buttongroup">
					<a href="#n" class="wing-button3 wing-form1">유의사항 자세히보기</a>
				</div>
				<!-- wing-foot_orderdate-buttongroup -->
			</div>
			<!-- wing-body -->
		</div>
		<!-- //wing-caution -->
	</div>
	<!-- //wing-right_content -->
</div>
<!-- //wing-right -->