
		<div class="wing-body_wrap wing-mydonghwa">
			<div class="wing-title">
				<span class="wing-title_text">마이동화</span>
				<a href="#n" class="wing-title_close-button"></a>
			</div>
			<div class="wing-head">
				<span class="wing-head-membername"><span class="color1">홍길동</span>님 반갑습니다.</span>&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="#n" class="wing-button1">마이페이지</a>
			</div>
			<div class="wing-body">
				<div class="wing-body_onlinelevel">
					<div class="wing-body_title">온라인 등급</div>
					<div class="wing-body_onlinelevel-body">
						<span class="wing-body_onlinelevel-title">다이아몬드 +</span>
						<div class="break-5"></div>
						<a href="#n" class="wing-button2">회원등급 안내</a>
					</div>
				</div>
				<div class="wing-body_shopping-merit">
					<div class="wing-body_title">쇼핑혜택</div>
					<div class="wing-body_shoppingmerit-body">
						<table class="table3 wing-body_shoppingmerit-table">
							<tbody>
								<tr>
									<th scope="row">적립금</th>
									<td>1,000원</td>
								</tr>
								<tr>
									<th scope="row"><span class="wing-circle-ico">D</span> 쿠폰</th>
									<td><span class="gray-999999">0</span> 장</td>
								</tr>
								<tr>
									<th scope="row"><span class="wing-circle-ico">D</span> 포인트</th>
									<td>2,400P</td>
								</tr>
								<tr>
									<th scope="row"><span class="wing-textupper">e-cash</span></th>
									<td>1,100,000 원</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>