- 个人信息用于开发及专业化新服务（项目），参与活动及促销时所获奖品及物品的配送服务，推送广告信息，根据统计学特性提供服务及刊登广告，掌握登录频度或统计会员的服务使用等目的。<br>
<br>
<table>
	<tbody>
		<tr>
			<th align="center">
				目的
			</th>
			<th align="center">
				项目
			</th>
			<th align="center">
				持有期限
			</th>
		</tr>
		<tr>
			<td align="center">
				广告/活动/<span class="inline-block">用于市场营销/</span><span class="inline-block">介绍商品信息以及奖品/</span><span class="inline-block">物品配送</span>
			</td>
			<td align="center">
				<span class="inline-block">手机号码、</span><span class="inline-block">邮箱、</span><span class="inline-block">地址、</span><span class="inline-block">出生日期</span>
			</td>
			<td align="center">
				<span class="inline-block">至达成目的为止</span><span class="inline-block">(至取消同意为止)</span>
			</td>
		</tr>
	</tbody>
</table>
<br>
※ 拒绝同意的权利并拒绝同意时<br>
- 有权拒绝同意上述事项，但若拒绝同意，虽可加入会员，却可能无法享受会员服务优惠等。