제공받는자 : <span class="inline-block">샤넬 코리아 유한회사</span><br>
제공목적 : <span class="inline-block">샤넬의 화장품 홍보 및 마케팅, 프로모션에 사용</span><br>
제공항목 : <span class="inline-block">성명, 핸드폰번호, 생년월일, 성별, 주소, 이메일주소, 제품구매일시, 구매제품, 구매수량, 총주문금액, 주문번호, 동화면세점 ID</span><br>
제공 정보 보유 및 이용 기간 : <span class="inline-block">5년</span>