1. 收集并使用常规识别项目<br>
<br>
<table>
	<tbody>
		<tr>
			<th align="center">
				目的
			</th>
			<th align="center">
				项目
			</th>
			<th align="center">
				持有期限
			</th>
		</tr>
		<tr>
			<td align="center">
				<span class="inline-block">提供会员服务及</span><span class="inline-block">识别/确认会员</span>
			</td>
			<td align="center">
				护照号码
			</td>
			<td align="center">
				<span class="inline-block">至达成目的为止</span><span class="inline-block">(至取消同意为止)</span>
			</td>
		</tr>
	</tbody>
</table>
<br> 
※拒绝同意的权利并拒绝同意时<br>
有权拒绝同意上述 事项，但同意收集并使用常规识别信息是履行服务的必需条件，只有同意上述事项才可提供本公司的会员服务。