- Personal information shall be handled for the purpose of developing and specializing new services (content), delivering giveaways and goods for participating in events and promotional events, providing advertising materials, providing services and displaying advertisements according to demographic characteristics, checking the access frequency, deriving the statistics on members' service use, etc.<br>
<br>
<table>
	<tbody>
		<tr>
			<th align="center">
				Purpose
			</th>
			<th align="center">
				Items
			</th>
			<th align="center">
				Retention period
			</th>
		</tr>
		<tr>
			<td align="center">
				Advertising/promotion/marketing/<br>
				guidance of product information/<br>
				delivery of giveaways and products
			</td>
			<td align="center">
				Mobile phone number, email,<br>
				home address, birth of date
			</td>
			<td align="center">
				Until the purpose is achieved<br>
				(until consent is withdrawn)
			</td>
		</tr>
	</tbody>
</table>
<br>
※ Rights to refuse consent and in case of refusing consent<br>
 - The Customer can refuse to consent to the above items and apply for membership. However, access to some services, such as service benefits may be restricted.