회사는 보다 나은 서비스 제공과 이용자의 편의 제공 등 업무수행을 원활하게 하기 위해 이용자의 개인정보를 동의 받은 이용목적 내에서 다음과 같이 타 업체에 수집, 보관, 처리 등을 위탁하여 처리하고 있습니다. 이용자와의 서비스계약 이행을 위하여 회사가 개인정보 취급 위탁을 위탁하는 업체 이외에 제휴 마케팅을 통한 개인정보의 처리를 위탁하는 경우에는 해당 서비스 화면에 수탁자, 개인정보 취급 위탁을 하는 업무의 내용에 관한 사항을 홈페이지를 통해
미리 고지하고 동의를 획득하겠습니다.<br>
<br> 회사가 이용자의 개인정보를 위탁하는 현황은 다음과 같습니다.<br>
<br>
<table border="" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<th align="center">
				수탁업체
			</th>
			<th align="center">
				위탁 업무내용
			</th>
		</tr>
		<tr>
			<td align="center">
				한국면세점협회
			</td>
			<td align="center">
				상품배송,인도장관리
			</td>
		</tr>
		<tr>
			<td align="center">
				KICC, KSNET, FDSK, 알리페이,<br>
				Alliex, 다날, LG CNS
			</td>
			<td align="center">
				결재처리<br>(LG CNS:카카오알림톡)
			</td>
		</tr>
		<tr>
			<td align="center">
				㈜스탭솔루션, ㈜에스텍시스템,<br>
				㈜잡앤피플코리아, ㈜휴먼리더,<br>
				㈜인터비즈시스템, ㈜키스템프,<br>
				㈜맨파워그룹코리아
			</td>
			<td align="center">
				물류,주차,판매,사무
			</td>
		</tr>
		<tr>
			<td align="center">
				㈜듀티프리이십사
			</td>
			<td align="center">
				온라인관련 업무 및 마케팅, 홍보
			</td>
		</tr>
		<tr>
			<td align="center">
				㈜MPC
			</td>
			<td align="center">
				콜센터 업무(재위탁)
			</td>
		</tr>
		<tr>
			<td align="center">
				㈜처음소프트
			</td>
			<td align="center">
				고객메일 서비스
			</td>
		</tr>
		<tr>
			<td align="center">
				㈜비즈앤블럭, ㈜로버무트,<br>
				㈜하이원시스템즈, ㈜에이스톰테크
			</td>
			<td align="center">
				정보시스템 유지보수
			</td>
		</tr>
		<tr>
			<td align="center">
				㈜슈어엠
			</td>
			<td align="center">
				모바일 사은품 발송
			</td>
		</tr>
		<tr>
			<td align="center">
				㈜엠콤, ㈜SK플래닛
			</td>
			<td align="center">
				멤버십 서비스 제공
			</td>
		</tr>
		<tr>
			<td align="center">
				유알스페이스
			</td>
			<td align="center">
				온라인이벤트서비스
			</td>
		</tr>
		<tr>
			<td align="center">
				㈜LG U+
			</td>
			<td align="center">
				IDC 임대 및 문자서비스
			</td>
		</tr>
	</tbody>
</table>
<br>회사는 위탁계약 체결시관계법령에 따라 위탁업무 수행목적 외 개인정보 처리금지하고 있으며, 수탁자가 개인정보를 안전하게 처리하는지를 관리.감독하고 있습니다.<br>
<br> ※ 동의를 거부할 권리 및 동의를 거부할 경우
<br> - 위 사항에 대한 동의를 거부할 수 있으나 필수정보의 취급위탁에 대한 동의는 서비스 이행을 위하며 필수적이므로, 위 사항에 동의하셔야만 당사의 회원 서비스 제공이 가능합니다.<br>