Provided to :
<span class="inline-block">Chanel Korea, Limited</span>
<br>
Items of Provided Information :
<span class="inline-block">Name/mobile phone number/birth date/gender/home address/email/</span>
<span class="inline-block">date and time of purchase/purchased product/</span>
<span class="inline-block">purchase quantity/total purchase amount/order number/Dongwha Duty Free ID</span>
<br>
Purpose of Provision :
<span class="inline-block">PR, marketing and</span>
<span class="inline-block">promotion of Chanel cosmetics</span>
v
Period of Information Retention and Use :
<span class="inline-block">5 years</span>