1.公司只在取得信息主体个人同意，符合法律的特定规定的情形时向第3方提供个人信息。<br>
<br>
2.公司现今向第3方提供的个人信息情况如下。<br>
<table>
	<tbody>
		<tr>
			<th align="center">
				香奈儿韩国 有限公司
			</th>
			<th align="center">
				姓名/手机号码/出生日期/性别/地址/邮箱/产品购买时日/<br>购买产品/购买数量/总订货金额/订单号/东和免税店ID
			</th>
			<th align="center">
				<span class="inline-block">用于香奈儿化妆品的宣传</span><span class="inline-block">推销及市场营销</span>
			</th>
			<th align="center">
				5年
			</th>
		</tr>
		<tr>
			<td align="center">
				（株）爱茉莉太平洋
			</td>
			<td align="center">
				姓名、性别、出生日期、国籍、居住地（提供至洞）、<br>（株）爱茉莉太平洋旗下产品的相关购买信息<br>（东和免税店ID、购买时日、商品、数量、金额）
			</td>
			<td align="center">
				分析购买数据及宣传企划
			</td>
			<td align="center">
				5年
			</td>
		</tr>
	</tbody>
</table>
<br>
3.未获取信息主体个人同意时，不提供个人信息。顾客可在事后任何时间取消同意提供相关个人信息。<br>
<br>
※ 拒绝同意的权利并拒绝同意时<br> 
- 有权拒绝同意上述事项，但若拒绝同意，虽可加入会员，却可能无法享受会员服务优惠等。