個人情報の提供を受ける者：<span class="inline-block">CHANEL Korea 有限会社</span>
<br>
提供する個人情報項目：<span class="inline-block">氏名/携帯番号/生年月日/性別/住所/メールアドレス/</span><span class="inline-block">商品を購入した日時/購入した商品/購入した数量/</span><span class="inline-block">合計注文金額/注文番号/</span><span class="inline-block">DONGHWA Duty Free ShopのID</span>
<br>
提供を受ける者の個人情報の利用目的：<span class="inline-block">CHANELのコスメティック商品の広報および</span><span class="inline-block">マーケティング活動、プロモーションに利用</span>
<br>
提供を受ける者の保有利用期間：<span class="inline-block">5年</span>