개인정보 수집 항목<br>
<br>
<table>
	<tbody>
		<tr>
			<th align="center" colspan="3">
				구분
			</th>
			<th align="center" rowspan="2">
				수집항목
			</th>
			<th align="center" rowspan="2">
				수집목적
			</th>
		</tr>
		<tr>
			<th align="center">
				단계
			</th>
			<th align="center">
				회원/<br>
				비회원
			</th>
			<th align="center">
				필수/<br>
				선택
			</th>
		</tr>
		<tr>
			<td align="center" rowspan="4">
				회원가입
			</td>
			<td align="center">
				정회원
			</td>
			<td align="center">
				필수
			</td>
			<td>
				아이디, 비밀번호, 성명(국문, 영문), 국적, 아이핀(I-PIN)번호, 생년월일, 성별, 여권번호, 여권만료일, 우편번호, 주소, 휴대폰번호, 이메일, CI/DI(내국인)
			</td>
			<td align="center">
				회원가입 및 회원관리
			</td>
		</tr>
		<tr>
			<td align="center">
				준회원
			</td>
			<td align="center">
				필수
			</td>
			<td>
				SNS인증키(SNS인증시), 메일(이메일인증시), 성명, 생년월일, 휴대폰번호, 전화번호
			</td>
			<td align="center">
				회원가입 및 회원관리
			</td>
		</tr>
		<tr>
			<td align="center">
				공통(회원)
			</td>
			<td align="center">
				선택
			</td>
			<td>
				vip카드번호, 제휴사코드, 추천인ID, 주소, 휴대폰번호, E-mail
			</td>
			<td align="center">
				마케팅 및 광고에 활용<br>(경품/물품배송)
			</td>
		</tr>
		<tr>
			<td align="center">
				비회원
			</td>
			<td align="center">
				필수
			</td>
			<td>
				성명(국문/영문), 국적, 이메일, 여권번호, 여권만료일, 휴대폰번호, 성별, 생년월일, 비밀번호
			</td>
			<td align="center">
				회원가입 및 회원관리
			</td>
		</tr>
		<tr>
			<td align="center">
				상품구매
			</td>
			<td align="center">
				공통(전회원)
			</td>
			<td align="center">
				필수
			</td>
			<td>
				출국일, 출발지, 도착지, 직항/경유 여부, 비행기편명, 신용카드정보, 은행계좌정보
			</td>
			<td align="center">
				재화 또는 서비스 제공
			</td>
		</tr>
		<tr>
			<td align="center" rowspan="3">
				1:1문의<br /> (고객문의)
			</td>
			<td align="center">
				회원
			</td>
			<td align="center">
				필수
			</td>
			<td>
				성명, 이메일, 휴대폰번호, 제목, 내용
			</td>
			<td align="center">
				문의사항처리(이메일)
			</td>
		</tr>
		<tr>
			<td align="center" rowspan="2">
				비회원
			</td>
			<td align="center">
				필수
			</td>
			<td>
				성명, 이메일, 질문유형, 제목, 내용
			</td>
			<td align="center">
				문의사항처리(이메일)
			</td>
		</tr>
		<tr>
			<td align="center">
				선택
			</td>
			<td>
				전화번호, 핸드폰번호
			</td>
			<td align="center">
				문의사항처리<br>(전화/휴대폰번호)
			</td>
		</tr>
	</tbody>
</table>
<br> 다만, 서비스 이용과정에서 접속 IP 정보, 쿠키, 서비스 이용기록, 접속 로그, 모바일 기기정보(OS정보, 모델명) 등이 생성되어 수집될 수 있습니다.<br>
<br> ※동의를 거부할권리 및 동의를 거부할 경우 <br> - 위 사항에 대한 동의를 거부할 수 있으나 개인정보 수집 및 이용동의는 서비스 이행을 위하여 필수적이므로, 위 사항에 동의하셔야만 당사의 회원서비스 제공이 가능합니다.