1.  Collection and use of unique identifying information<br>
<br>
<table>
	<tbody>
		<tr>
			<th align="center">
				Purpose
			</th>
			<th align="center">
				Item
			</th>
			<th align="center">
				Retention period
			</th>
		</tr>
		<tr>
			<td align="center">
				<span class="inline-block">Provision of membership service</span> 
				and 
				<span class="inline-block">Identification/check of members</span>
			</td>
			<td align="center">
				Passport number
			</td>
			<td align="center">
				<span class="inline-block">Until the purpose is achieved</span> <span class="inline-block">(until consent is withdrawn)</span>
			</td>
		</tr>
	</tbody>
</table>
<br>
※ Rights to refuse consent and in the case of refusing consent<br>
- The Customer can refuse to consent to the above items, but consenting to the collection of unique identifying information and its use is essential for the service. Therefore, the Customer must consent to the above items to use membership services provided by the Company.