가. 회사는 정보주체의 동의, 법률의 특별한 규정에 해당하는 경우에만 개인정보를 제3자에게 제공합니다.<br>
<br>
나. 회사는 다음과 같이 개인정보를 제3자에게 제공하고 있습니다.<br>

<table>
	<tbody>
		<tr>
			<th align="center">
				개인정보를<br>제공 받는자
			</th>
			<th align="center">
				제공하는<br>개인정보의 항목
			</th>
			<th align="center">
				제공받는 자의<br>개인정보 이용목적
			</th>
			<th align="center">
				제공받는 자의<br>보유이용 기간
			</th>
		</tr>
		<tr>
			<td align="center">
				㈜아모레퍼시픽
			</td>
			<td align="center">
				성명,성별, 생년월일, 국적, 거주지역(동단위 까지),<br>
				(주)아모레퍼시픽제품에관한 구매정보<br>
				(동화면세점 ID, 구매일시, 상품, 수량, 금액)
			</td>
			<td align="center">
				구매데이터 분석 및<br>프로모션 기획
			</td>
			<td align="center">
				5년
			</td>
		</tr>
	</tbody>
</table>
<br>
다. 정보주체께서 동의하지 않는 경우에는 개인정보를 제공하지 않습니다. 고객은 해당 제공에 대한 동의를 사후에 언제든지 철회할 수 있습니다.<br>
<br> 
※ 동의를 거부할 권리 및 동의를 거부할 경우<br>
- 위 사항에 대한 동의를 거부할 수 있으나 미동의 시 회원가입은 가능하나, 서비스 혜택 등 이용에 제한이 있을 수 있습니다.