Item of personal information collection<br>
<br>
<table>
	<tbody>
		<tr>
			<th align="center" colspan="3">
				Type
			</th>
			<th align="center" rowspan="2">
				Collection Items
			</th>
			<th align="center" rowspan="2">
				Collection Purpose
			</th>
		</tr>
		<tr>
			<th align="center">
				Stage
			</th>
			<th align="center">
				Member/<br>
				Non-member
			</th>
			<th align="center">
				Mandatory/<br>
				Optional
			</th>
		</tr>
		<tr>
			<td align="center" rowspan="4">
				Membership subscription
			</td>
			<td align="center">
				Regular member
			</td>
			<td align="center">
				Mandatory
			</td>
			<td>
				ID, password, full name (Korean, English), nationality,<br>
				I-PIN number, date of birth, gender, passport number,<br>
				passport expiration date, postal code,home address,<br>
				mobile phone number, email, CI/DI (for nationals)
			</td>
			<td align="center">
				<span class="inline-block">Membership subscription</span> &amp; <span class="inline-block">management</span>
			</td>
		</tr>
		<tr>
			<td align="center">
				Associate member
			</td>
			<td align="center">
				Mandatory
			</td>
			<td>
				SNS authentication key (for SNS authentication),<br>
				email (for email authentication), name, date of birth,<br>
				mobile phone number, telephone number
			</td>
			<td align="center">
				<span class="inline-block">Membership subscription</span> &amp; <span class="inline-block">management</span>
			</td>
		</tr>
		<tr>
			<td align="center">
				Common<br>(member)
			</td>
			<td align="center">
				Optional
			</td>
			<td>
				VIP card number, affiliate code, recommender ID,<br>
				home address, mobile phone number, email
			</td>
			<td align="center">
				For marketing and advertising<br>(delivering giveaways/goods)
			</td>
		</tr>
		<tr>
			<td align="center">
				Non-member
			</td>
			<td align="center">
				Mandatory
			</td>
			<td>
				Full name (Korean, English), nationality, email,<br>
				passport number, passport expiration date,<br>
				mobile phone number, gender, date of birth, password
			</td>
			<td align="center">
				<span class="inline-block">Membership subscription</span> &amp; <span class="inline-block">management</span>
			</td>
		</tr>
		<tr>
			<td align="center">
				Product purchase
			</td>
			<td align="center">
				Common<br>(all members)
			</td>
			<td align="center">
				Mandatory
			</td>
			<td>
				Departure date, point of departure, destination,<br>
				direct/passage, flight name,<br>
				credit card information, bank account information
			</td>
			<td align="center">
				Provision of goods or services
			</td>
		</tr>
		<tr>
			<td align="center" rowspan="3">
				<span class="inline-block">1:1 inquiry</span> <span class="inline-block">(customer inquiry)</span>
			</td>
			<td align="center">
				Member
			</td>
			<td align="center">
				Mandatory
			</td>
			<td>
				Name, email, mobile phone number, title, content
			</td>
			<td align="center">
				<span class="inline-block">Inquiry handling</span> <span class="inline-block">(email)</span>
			</td>
		</tr>
		<tr>
			<td align="center" rowspan="2">
				Non-member
			</td>
			<td align="center">
				Mandatory
			</td>
			<td>
				Name, email, inquiry type, title, content
			</td>
			<td align="center">
				<span class="inline-block">Inquiry handling</span> <span class="inline-block">(email)</span>
			</td>
		</tr>
		<tr>
			<td align="center">
				Optional
			</td>
			<td>
				Telephone number, mobile phone number
			</td>
			<td align="center">
				<span class="inline-block">Inquiry handling</span> <span class="inline-block">(telephone/mobile phone number)</span>
			</td>
		</tr>
	</tbody>
</table>
<br>
However, information such as the access IP information, cookie, service use log, access log, and mobile device information (OS information, model name) may be generated and collected while services are being used.<br>
<br>
※ Rights to refuse consent and in the case of refusing consent<br>
- The Customer can refuse the consent to the above items, but consenting to the collection of personal information and its use is essential for the service. Therefore, the Customer must consent to the above items to use membership services provided by the Company.