第1条(目的)<br>
本規約は、㈱DONGHWA免税店が運営するオンラインショップ「DONGHWAインターネット免税店」（以下、「DONGHWA免税店」という）にて提供するインターネット関連サービス（以下、「サービス」という）を利用するにあたり、オンラインショップとユーザーの権利・義務および責任事項を定めることを目的とします。<br>
※PC通信などで行われる電子取引に対しても、その性質に反しない限り、本規約を準用するものとします。<br>
<br>
第2条（定義）<br>
①「DONGHWA免税店」とは、㈱DONGHWA免税店が財貨または用役をユーザーに提供するため、コンピュータなどの情報通信設備を利用し、財貨または用役を取引できるよう設定した仮想の商店のことをいい、同時にオンラインショップを運営する事業者のことをいいます。<br>
②「ユーザー」とは、「DONGHWA免税店」にアクセスし、本規約に従い、「DONGHWA免税店」が提供するサービスを利用する会員および非会員のことをいいます。  <br>
③「会員」とは、「DONGHWA免税店」に個人情報を提供して会員登録を済ませたユーザーのことであり、「DONGHWA免税店」の情報を継続的に受け取り、「DONGHWA免税店」が提供するサービスを継続的に利用できる者のことをいいます。<br>
④「SNS簡易登録（準会員）またはSNS会員」とは、「DONGHWA免税店」に個人情報を一部提供しSNS会社により本人確認手続きが完了した、準会員として会員登録を済ませたユーザーのことであり、購入以外の「DONGHWAインターネット免税店」が提供するサービスを継続的に利用できる者のことをいいます。<br>
⑤「非会員」とは、会員登録をせず、「DONGHWA免税店」が提供するサービスを利用するユーザーのことをいいます。<br>
<br>
第3条(規約の明示と改定)<br>
①「DONGHWA免税店」は、本規約の内容と商号、営業所所在地の住所(お客様の苦情を処理できる住所を含む)、代表者の名前、事業者登録番号、連絡先(電話、ファックス、メールアドレスなど)などをユーザーが把握できるよう、「DONGHWA免税店」の初期サービス画面(前面)に掲示するものとします。ただし、規約の内容は、ユーザーがリンク画面を通じて確認できるようにするものとします。 <br>
②「DONGHWA免税店」は、「電子商取引などでの消費者保護に関する法律」、「規約の規制に関する法律」、「電子文書および電子取引基本法」、「電子署名法」、「情報通信網の利用促進などに関する法律」、「訪問販売などに関する法律」、「消費者保護法」などの関係法令に違反しない範囲内で本規約を改定できるものとします。<br>
③「DONGHWA免税店」が本規約を改定する場合、適用開始日および改定事由を明示し、現行の規約と共に「DONGHWA免税店」の初期画面に、その適用日の7日前から適用日の前日まで告知するものとします。ただし、ユーザーに不利となる変更の場合、最低30日以上の事前猶予期間を設け、告知するものとします。その場合、「DONGHWA免税店」は、改定前後の内容を明確に比較し、ユーザーにわかりやすく表示するものとします。 <br>
④「DONGHWA免税店」が規約を改定する場合、改定された規約はその適用日の後に締結される契約にのみ適用され、その前にすでに締結された契約に対しては、改定前の規約条項が引き続き適用されるものとします。ただし、すでに契約を締結したユーザーが改定規約条項の適用を望む意思を、第3項に定める改定規約の告知期間内に「DONGHWA免税店」に送信し、「DONGHWA免税店」の同意を受けた場合、改定規約条項が適用されるものとします。<br>
⑤本規約に定めのない事項と、本規約の解釈に関しては、「電子商取引などでの消費者保護に関する法律」、「規約の規制に関する法律」、公正取引委員会が定める電子商取引などでの消費者保護指針および関係法令、または商慣習に従うものとします。<br>
<br>
第4条(サービスの提供および変更)<br>
①「DONGHWA免税店」は、次のような業務を遂行するものとします。<br>
   1.財貨または用役に関する情報の提供および購入契約の締結<br>
   2.購入契約が締結された財貨または用役の配送<br>
   3.その他「DONGHWA免税店」が定める業務<br>
②「DONGHWA免税店」は、財貨の品切れまたは技術的な仕様の変更などがある場合、将来締結する契約に基づき、提供する財貨・用役の内容を変更できるものとします。その場合、変更された財貨・用役の内容および提供日を明示し、現在の財貨・用役の内容が掲示されている場所に直ちに告知するものとします。 <br>
③「DONGHWA免税店」が提供することをユーザーと契約締結したサービスの内容を、財貨の品切れまたは技術的な仕様の変更などの事由により変更する場合、その事由をユーザーの通知可能な住所に直ちに通知し、「DONGHWA免税店」はその変更によりユーザーにかかった損害を賠償するものとします。ただし、「DONGHWA免税店」に故意または過失がないことを立証する場合は、この限りではありません。<br>
<br>
第5条(サービスの中断)<br>
①「DONGHWA免税店」は、コンピュータなど情報通信設備の保守点検・交換および故障、通信遮断などの事由が発生した場合、サービスの提供を一時的に中断できるものとします。<br>
②第1項によるサービスの中断があった場合、「DONGHWA免税店」は、第8条に定める方法によりユーザーに通知するものとします。<br>
③「DONGHWA免税店」は、第1項の事由によりサービスの提供が一時的に中断されたことによりかかったユーザーまたは第三者の損害に対して賠償するものとします。ただし、「DONGHWA免税店」に故意または過失がないことを立証する場合は、この限りではありません。<br>
④事業種目の転換、事業の放棄、会社の統合などの理由により、サービスの提供ができなくなる場合、「DONGHWA免税店」は、第8条に定める方法によりユーザーに通知し、当初「DONGHWA免税店」にて提示した条件に従ってお客様に補償するものとします。ただし、「DONGHWA免税店」が補償の基準などを告知しなかった場合、ユーザーのマイレージまたはポイントなどを、「DONGHWA免税店」で使用する通貨価値に相当する現物または現金の形でユーザーに支給するものとします。 <br>
<br>
第6条(会員登録)<br>
①ユーザーは、「DONGHWA免税店」が定める登録フォームに従って会員情報を記入し、本規約に同意するという意思表示をすることで、会員登録の申し込みを行うものとします。<br>
②「DONGHWA免税店」は、第1項のように、会員登録の申し込みをしたユーザーのうち、次のいずれかに該当しない限り、会員として登録するものとします。<br>
  1.登録の申し込みをした者が、本規約の第7条第3項により、過去に会員の資格を喪失したことがある場合。ただし、第7条第3項による会員資格の喪失後、3年が経過した者で、「DONGHWA免税店」の会員再登録の承諾を受けた場合は例外とする。<br>
  2.登録内容に虚偽、不足、誤りがある場合<br>
  3.その他、「DONGHWA免税店」の技術上、会員として登録することに著しく支障があると判断される場合<br>
③会員登録契約の成立時期は、「DONGHWA免税店」の承諾が会員に到達した時点とします。<br>
④会員は、第15条第1項による登録事項に変更がある場合、直ちに電子メールまたはその他の方法により、「DONGHWA免税店」にその変更事項を知らせなければなりません。<br>
<br>
第7条(会員登録解除および資格の喪失など)<br>
①会員は、「DONGHWA免税店」にいつでも会員登録の解除を要請することができ、「DONGHWA免税店」は直ちに会員登録解除の要請を処理するものとします。<br>
②会員が次のいずれかに該当する場合、「DONGHWA免税店」は、会員の資格を制限および停止できるものとします。<br>
1.登録申し込みの内容に虚偽がある場合<br>
2.「DONGHWA免税店」を利用して購入した財貨・用役などの代金、その他「DONGHWA免税店」の利用の際、会員が負担する債務を期日までに支払わない場合<br>
3.他人の「DONGHWA免税店」の利用を妨害したり、その情報を盗用するなど、電子取引秩序に脅威となる場合<br>
4.「DONGHWA免税店」を利用する際、法令と本規約が禁じている、または公序良俗に違反する行為を行う場合<br>
③「DONGHWA免税店」が会員の資格を制限・停止した後、同じ行為が2回以上繰り返されたり、30日以内にその事由が是正されない場合、「DONGHWA免税店」は会員資格を喪失させることができるものとします。<br>
④「DONGHWA免税店」が会員資格を喪失させる場合には、会員登録を抹消します。その場合、会員にその事実を通知し、会員登録を抹消する前、最低30日以上の期間を決め、疎明する機会を付与するものとします。<br>
<br>
第8条(会員に対する通知)<br>
①「DONGHWA免税店」が会員に対して通知する場合、会員が「DONGHWA免税店」に提供したメールアドレスを利用できるものとします。<br>
②「DONGHWA免税店」は、不特定多数の会員に対する通知の場合、1週間以上「DONGHWA免税店」の掲示板に掲示することで、個別通知に代えることができるものとします。ただし、会員本人の取引に関し、重大な影響を及ぼす事項については個別通知するものとします。 <br>
<br>
第9条(購入の申し込み)<br>
「DONGHWA免税店」のユーザーのうち、購入の申し込みは出国予定者のみ可能です。外国人と在外韓国人は購入限度額はありませんが、韓国人の場合、関係法令により3,000ドル(USD)(酒類は1ℓ以下1本、タバコ200本などを含む)の購入限度額があります。ユーザーは、次または次と類似の方法により購入の申し込みを行い、「DONGHWA免税店」は、ユーザーが購入の申し込みを行う際、次の内容をわかりやすく提供しなければなりません。ただし、会員の場合、第2、4、5号の適用を除外できるものとします。 <br>
1.財貨または用役の検索および選択    <br>
2.氏名、住所、電話番号、メールアドレス(または携帯番号)などの入力<br>
3.パスポート番号、出国予定日、飛行機または船の便名、出国空港または港名<br>
4.規約の内容、契約解除権が制限されるサービス、配送料・設置費などの費用の負担に関する内容に対する確認<br>
5.本規約に同意し、上記の4号の事項を確認または拒否する表示(例：マウスクリック)<br>
5.財貨および用役の購入申し込みおよびそれに関する確認または「DONGHWA免税店」の確認に対する同意<br>
7.決済方法の選択 <br>
<br>
第10条(契約の成立)<br>
①「DONGHWA免税店」は、第9条のような購入の申し込みに対し、次のいずれかに該当する場合、承諾しないことができるものとします。ただし、未成年者と契約を締結する場合、法定代理人の同意を得なければ、未成年者本人または法定代理人による契約の取り消しが可能であるという内容を告知しなければなりません。 <br>
1.申し込み内容に虚偽、不足、誤りがある場合<br>
2.未成年者がタバコ、酒類など、青少年保護法により禁じられている財貨および用役を購入する場合<br>
3.その他、「DONGHWA免税店」の技術上、購入申し込みを承諾することに著しく支障があると判断される場合<br>
②「DONGHWA免税店」の承諾が第12条第1項の受信確認通知の形でユーザーが受信した時点で、契約が成立したものとみなします。<br>
③「DONGHWA免税店」の承諾の意思表示には、ユーザーの購入申し込みに対する確認および販売可能かどうかの情報、購入申し込みの訂正・取り消しなどに関する情報などを含めなければなりません。 <br>
<br>
第11条(支払い方法)<br>
「DONGHWA免税店」から購入した財貨または用役に対する代金の支払いは、次のいずれかの方法によるものとします。ただし、「DONGHWA免税店」は、ユーザーの支払い方法に対し、財貨などの代金にいかなる名目の手数料も追加して徴収できないものとします。 <br>
&nbsp;&nbsp; 1.クレジットカード決済<br>
&nbsp;&nbsp; 2.口座振込 <br>
&nbsp;&nbsp; 3.マイレージなどのポイントの使用 <br>
第12条(受信確認通知・購入申し込みの変更および取り消し)<br>
①「DONGHWA免税店」は、ユーザーの購入申し込みがあった場合、ユーザーに受信確認通知をするものとします。<br>
②受信確認通知を受けたユーザーは、意思表示の不一致などがある場合、受信確認通知を受けた後、直ちに購入申し込みの変更および取り消しを要請できるものとします。<br>
③「DONGHWA免税店」は、配送前にユーザーの購入申し込みの変更および取り消しの要請がある場合、遅滞なくその要請に従い、処理します。ただし、すでに代金の支払いが行われた場合、第15条の契約解除などに関する規定に従うものとします。 <br>
<br>
第13条(配送)<br>
①「DONGHWA免税店」は、ユーザーが購入した財貨に対し、配送方法、手段別の配送費用の負担者、配送期間などを明示するものとします。<br>
②物品の引渡しは、一定の引渡し場所を規定し、空港で税関、法務部の審査を済ませた後、出国場内の「DONGHWA免税店」の引渡し場所の担当者に出国者本人がパスポートと引換番号、航空券を提示し、身元を確認してから行われるものとします。原則として、引渡し場所は、本規約に定める次の場所に限るものとします。 <br>
<引渡し場所><br>
-「DONGHWA免税店」の免税品引渡しデスク <br>
-仁川国際空港(出入国審査の後、旅客ターミナル/搭乗コンコースの引渡し場所) <br>
-金浦空港、金海空港、釜山港<br>
-その他詳細はFAQにて表示 <br>
<br>
第14条(払い戻し、返品または交換)<br>
1.「DONGHWA免税店」は、ユーザーが購入申し込みをした財貨または用役が品切れなどの事由により財貨の引渡しまたは用役の提供が不可能な場合、遅滞なくその事由をユーザーに通知し、事前に財貨または用役の代金を受け取った場合には、代金を受け取った日から1営業日以内に払い戻しをするか、払い戻しに必要な措置を取るものとします。<br>
<br>
2.購入した商品の交換または返品の方法は、次の通りです。 <br>
①海外から国際郵便で商品を返品し、交換や払い戻しを要請できるものとします。 <br>
②交換・払い戻しの対象となる物品を旅行者が所持して入国する場合、税関に自主申告しなければなりません(旅行者所持品の免税範囲内にある場合を除く)。 <br>
③旅行者が免税店から購入した免税品を所持して入国し、払い戻しを要請する場合、入国時に必ず税関に所持品の申告および留置(払い戻しを要請する物品の総額が600ドル(USD)以下の場合を除く)しなければなりません。免税法により、申告および留置が行われていない場合、払い戻し不可とします。<br>
④交換された免税品は、出国時に出国場内の引渡し場所で受け取ることができるものとします。 <br>
<br>
3.韓国人の場合、出国時の購入限度額は1人当たり3,000ドル(USD)以下であり、入国時には、免税店で購入した物品を含め、海外から購入して搬入する物品の総額が1人当たり600ドル(USD)を超過する場合、税関に申告後、税金を納付しなければなりません。申告が行われなかった場合、未申告物品に対し、税金の他、追加で加算税が付加され、故意に申告を行わなかったり、偽りの申告を行った場合、関税法により処罰されることがあります。<br>
<br>
第15条(契約の解除など)<br>
①「DONGHWA免税店」と財貨などの購入に関する契約を締結したユーザーは、商品を受領した日から15日以内に契約を解除できるものとします。<br>
②ユーザーは、配送された財貨などを受け取った後、次のいずれかに該当する場合には、返品および交換できないものとします。 <br>
&nbsp;&nbsp; 1.ユーザーの帰責事由により財貨などが滅失または毀損された場合(ただし、財貨などの内容を確認するために包装などを毀損した場合には、契約を解除できるものとします)<br>
&nbsp;&nbsp; 2.ユーザーの使用または一部消費などにより、財貨などの価値が著しく減少した場合<br>
&nbsp;&nbsp; 3.時間の経過により、再販売できないほどに財貨の価値が著しく減少した場合<br>
&nbsp;&nbsp; 4.同一性能の財貨などに複製できる場合、オリジナルの財貨などの包装を毀損した場合<br>
&nbsp;&nbsp; 5.関係法令により、韓国人が購入限度額3,000ドル(USD)と免税限度額600ドル(USD)以上購入し、入国時に税関から差し押さえされたか、商品の引渡しを受けられなかった場合<br>
③第2項第2号ないし第4号の場合、契約解除などが制限されるという内容を、「DONGHWA免税店」が事前にお客様の目に付く場所に明記しなかったり、試用品を提供するなどの措置を取っていない場合、ユーザーの契約解除などは制限されないものとします。<br>
④ユーザーは、第1項および第2項の規定にかかわらず、財貨などの内容に表示・広告内容と相違があったり、その履行に契約内容と相違がある場合、その財貨などを供給された日から３か月以内(その事実を認知した日または認知できた日から３０日以内)に契約解除などができるものとします。<br>
<br>
第16条(契約解除などの効果)<br>
①「DONGHWA免税店」は、ユーザーから財貨などを返還された場合、3営業日以内に、すでに支払いが行われた財貨などの代金を返金します。<br>
その場合、「DONGHWA免税店」がユーザーに財貨などの返金を遅延した場合、その遅延期間に対し、｢電子商取引などでの消費者保護に関する法律施行令｣第21条の2に定める遅延利息率を乗じて計算した遅延利息を支給するものとします。<br>
②「DONGHWA免税店」は、上記の代金を返金するにあたり、ユーザーがクレジットカードまたは電子貨幣などの決済手段で財貨などの代金を支給した場合、遅滞なく当該決済手段を提供した事業者に、財貨などの代金の請求を停止または取り消しするよう要請するものとします。<br>
③契約解除などの場合、供給された財貨などの返還に必要な費用は、ユーザーが負担するものとします。「DONGHWA免税店」は、ユーザーに契約解除などを理由に、違約金または損害賠償を請求しないものとします。ただし、財貨などの内容に表示・広告内容と相違があったり、その履行に契約内容と相違があり、契約解除などを行う場合、財貨などの返還に必要な費用は「DONGHWA免税店」が負担するものとします。<br>
④ユーザーが財貨などの提供を受ける際、配送費用を負担した場合、「DONGHWA免税店」は契約解除時にその費用負担の主体をわかりやすい方法でユーザーに明確に表示します。 <br>
<br>
第17条(個人情報の保護および利用)<br>
「DONGHWA免税店」は、「情報通信網の利用促進および情報保護などに関する法律」、「個人情報保護法」など、関係法令の定めに従い、ユーザーの個人情報を保護するため努力します。個人情報の保護に関する事項は、関係法令およびプライバシーポリシーを準用します。 <br>
☞ プライバシーポリシーに移動 <br>
<br>
第18条(「DONGHWA免税店」の義務)<br>
①「DONGHWA免税店」は、法令と本規約により禁じられたり、公序良俗に違反する行為を行わず、本規約の定めに従い、持続的で安定的に財貨・用役を提供できるよう万全を期するものとします。<br>
②「DONGHWA免税店」は、ユーザーが安全にインターネットサービスを利用できるよう、ユーザーの個人情報(信用情報を含む)を保護するための保安システムを設けなければなりません。<br>
③「DONGHWA免税店」が商品や用役に対し、「表示・広告の公正化に関する法律｣第3条に定める所定の不当な表示・広告行為を行ったことにより、ユーザーに損害がかかった場合、賠償の責任があるものとします。<br>
④「DONGHWA免税店」は、ユーザーが望まない営利目的の広告メールを配信しないものとします。<br>
<br>
第19条(会員のIDおよびパスワードに関する義務)<br>
①第17条の場合を除き、IDとパスワードの管理責任は会員本人にあります。<br>
②会員は本人のIDおよびパスワードを第三者に利用させてはなりません。<br>
③会員は本人のIDおよびパスワードを盗まれたり、第三者が使用していることを認知した場合、直ちに「DONGHWA免税店」に知らせ、「DONGHWA免税店」の案内がある場合、それに従わなければなりません。<br>
<br>
第20条(ユーザーの義務)<br>
ユーザーは次の行為をしてはなりません。<br>
&nbsp;&nbsp; 1.申し込みまたは変更時に虚偽の内容を記入する行為<br>
&nbsp;&nbsp; 2.他人の情報を盗用する行為<br>
&nbsp;&nbsp; 3.「DONGHWA免税店」に掲示された情報を変更する行為<br>
&nbsp;&nbsp; 4.「DONGHWA免税店」が定める情報以外の情報(コンピュータプログラムなど）を送信または掲示する行為<br>
&nbsp;&nbsp; 5.「DONGHWA免税店」その他第三者の著作権など知的財産権を侵害する行為<br>
&nbsp;&nbsp; 6.「DONGHWA免税店」その他第三者の名誉を損傷したり、業務を妨害する行為<br>
&nbsp;&nbsp; 7.猥褻または暴力的なメッセージ・画像・音声その他公序良俗に違反する情報を「DONGHWA免税店」にて公開または掲示する行為<br>
<br>
第21条(接続ショップと被接続ショップ間の関係)<br>
①上位のショップと下位のショップがハイパーリンク(例：ハイパーリンクの対象としてはテキスト、イメージおよびムービーなどを含む)などの方法により接続されている場合、前者を接続ショップ(ウェブサイト)、後者を被接続ショップ(ウェブサイト)といいます。<br>
②接続ショップは、被接続ショップが独自に提供する財貨・用役により、ユーザーとの間で行われる取引に対して、保証責任を負わないという内容を接続ショップの初期画面、または接続される時点のポップアップ画面で明示した場合、その取引に対する保証責任を負わないものとします。<br>
<br>
第22条(著作権の帰属および利用制限)<br>
①「DONGHWA免税店」が作成した著作物に対する著作権その他知的財産権は、「DONGHWA免税店」に帰属するものとします。<br>
②ユーザーは「DONGHWA免税店」の利用により得た情報のうち、「DONGHWA免税店」に知的財産権が帰属した情報を「DONGHWA免税店」の事前承諾に複製、送信、出版、配布、放送その他の方法により営利目的で利用したり、第三者に利用させたりしてはなりません。<br>
③「DONGHWA免税店」は規約により、ユーザーに帰属する著作権を使用する場合、当該ユーザーに知らせなければなりません。<br>
<br>
第23条(紛争解決)<br>
①「DONGHWA免税店」は、ユーザーが申し立てる正当な意見や苦情を反映し、その被害を補償するため、被害補償機構を設置・運営するものとします。<br>
②「DONGHWA免税店」は、ユーザーが申し立てる意見および苦情を優先的に処理します。ただし、迅速な処理が困難な場合、ユーザーにその事由と処理日程を速やかに連絡するものとします。<br>
③「DONGHWA免税店」とユーザーとの間に発生した電子取引紛争に関して、ユーザーの被害救済申請がある場合、公正取引委員会または自治体の長が依頼する紛争調整機関の調整に従うことができるものとします。 <br>
<br>
<br>
第24条(裁判権および準拠法)<br>
①「DONGHWA免税店」とユーザーの間に発生した電子取引紛争に関する訴訟は、提訴当時のユーザーの住所によるものとし、住所がない場合、居所を管轄する地方裁判所の管轄に転属するものとします。ただし、提訴当時のユーザーの住所または居所が明らかでなかったり、外国居住者の場合、民事訴訟法場の管轄裁判所に提起するものとします。<br>
②「DONGHWA免税店」とユーザーの間に提起された電子商取引訴訟には、韓国法を適用するものとします。<br>
<br>
[付則]<br>
本規約は、2017年11月1日からから試行され、従来の規約は本規約で代替するものとします。