1.個人識別情報の取得および利用<br>
<br>
<table>
	<tbody>
		<tr>
			<th align="center">
				目的
			</th>
			<th align="center">
				項目
			</th>
			<th align="center">
				保有期間
			</th>
		</tr>
		<tr>
			<td align="center">
				<span class="inline-block">会員サービスの提供および</span>
				<span class="inline-block">会員識別/確認</span>
			</td>
			<td align="center">
				パスポート番号
			</td>
			<td align="center">
				<span class="inline-block">目的達成時まで</span><span class="inline-block">(同意撤回時まで)</span>
			</td>
		</tr>
	</tbody>
</table>
<br>
※ 同意を拒否する権利および同意を拒否する場合<br>
- 上記 に対して同意を拒否することはできますが、サービスを提供させていただく際、個人識別情報の取得および利用の同意は必須となります。サービスをご利用いただくためには、上記にご同意くださいますようお願い致します。