当社は より良質のサービスと、お客様に各種便宜を提供するなど、円滑な業務遂行のため、お客様の個人情報をご同意を得た利用目的の範囲内で、取得、保管、処理などを次のように外部に委託しています。お客様とのサービス契約を履行するため、当社が個人情報の取り扱いを委託する会社以外に、提携マーケティングにより個人情報の処理を委託する場合、該当のサービス画面に受託者、個人情報の取り扱い委託業務に関する事項を、ホームページで事前に告知し、お客様のご同意を確認させていただきます。<br>
<br>
当社は 次のようにお客様の個人情報を委託しています。<br>
<br>
<table border="" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<th align="center">
				受託会社
			</th>
			<th align="center">
				委託業務の内容
			</th>
		</tr>
		<tr>
			<td align="center">
				韓国免税店協会
			</td>
			<td align="center">
				商品発送、 引渡しカウンターの管理
			</td>
		</tr>
		<tr>
			<td align="center">
				KICC、KSNET、FDSK、Alipay、<br>
				Alliex、ダナル、LG CNS
			</td>
			<td align="center">
				決済処理<br>(LG CNS：カカオトークのお知らせトーク)
			</td>
		</tr>
		<tr>
			<td align="center">
				㈱STAFF SOLUTION、㈱S-TEC System、<br>
				㈱Job&amp;People Korea、㈱HumanLeader、<br>
				㈱interbiz systems、㈱KISTEMP、<br>
				㈱Manpower Korea
			</td>
			<td align="center">
				物流、 駐車、販売、事務
			</td>
		</tr>
		<tr>
			<td align="center">
				㈱DutyFree24
			</td>
			<td align="center">
				<span class="inline-block">オンライン関係業務および</span><span class="inline-block">マーケティング活動、</span><span class="inline-block">広報</span>
			</td>
		</tr>
		<tr>
			<td align="center">
				㈱MPC
			</td>
			<td align="center">
				コールセンター業務(再委託)
			</td>
		</tr>
		<tr>
			<td align="center">
				㈱CHEOMSERVICE
			</td>
			<td align="center">
				顧客メール配信サービス
			</td>
		</tr>
		<tr>
			<td align="center">
				㈱ビズアンドブロック、㈱ROVERMOOT、<br>
				㈱Highone Systems、㈱エイストムテク
			</td>
			<td align="center">
				情報システムの維持補修
			</td>
		</tr>
		<tr>
			<td align="center">
				㈱MobileE&amp;Mad
			</td>
			<td align="center">
				モバイルプレゼントの発送
			</td>
		</tr>
		<tr>
			<td align="center">
				㈱mcom、㈱SK planet
			</td>
			<td align="center">
				メンバーシップサービスの提供
			</td>
		</tr>
		<tr>
			<td align="center">
				URSPACE
			</td>
			<td align="center">
				オンラインイベントサービス
			</td>
		</tr>
		<tr>
			<td align="center">
				㈱LG U+
			</td>
			<td align="center">
				<span class="inline-block">IDCの賃貸および</span><span class="inline-block">携帯メッセージ配信サービス</span>
			</td>
		</tr>
	</tbody>
</table>
<br>
当社は 委託契約を取り付ける際、関係法令により委託業務の目的以外の個人情報の取り扱いを禁じています。また、受託会社が個人情報の取り扱いに万全を期すように管理・監督しています。<br>
<br>
※ 同意を拒否する権利および同意を拒否する場合<br>
- 上記に対して同意を拒否することはできますが、サービスを提供させていただく際、個人識別情報の取得および利用の同意は必須となります。当社の会員サービスをご利用いただくためには、上記にご同意くださいますようお願いいたします。