- 신규 서비스(컨텐츠) 개발 및 특화, 이벤트 및 프로모션 참여시 경품 및 물품배송 서비스, 광고성 정보 전달, 통계학적 특성에 따른 서비스 제공 및 광고 게재, 접속 빈도 파악 또는 회원의 서비스 이용에 대한 통계 등을 목적으로 개인정보를 처리합니다.<br>
<br>
<table>
	<tbody>
		<tr>
			<th align="center">
				목적
			</th>
			<th align="center">
				항목
			</th>
			<th align="center">
				보유기간
			</th>
		</tr>
		<tr>
			<td align="center">
				광고/행사/<span class="inline-block">마케팅활용/</span><span class="inline-block">상품정보안내 및 경품/</span><span class="inline-block">물품배송</span>
			</td>
			<td align="center">
				<span class="inline-block">휴대폰번호,</span>
				<span class="inline-block">이메일,</span>
				<span class="inline-block">주소,</span>
				<span class="inline-block">생년월일</span>
			</td>
			<td align="center">
				<span class="inline-block">목적달성시까지</span><span class="inline-block">(동의철회시까지)</span>
			</td>
		</tr>
	</tbody>
</table>
<br> ※ 동의를 거부할 권리 및 동의를 거부할 경우<br> - 위 사항에 대한 동의를 거부할 수 있으나 미동의 시 회원가입은 가능하나, 서비스 혜택 등 이용에 제한이 있을 수 있습니다.