- 新規サービス(コンテンツ)の開発および特化、イベントおよびプロモーション時の景品・商品発送サービス、広告性情報のお届け、統計学的特性によるサービスの提供および広告掲載、接続頻度の把握または会員のサービス利用に関する統計などを目的として個人情報を取得します。<br>
<br>
<table>
	<tbody>
		<tr>
			<th align="center">
				目的
			</th>
			<th align="center">
				項目
			</th>
			<th align="center">
				保有期間	
			</th>
		</tr>
		<tr>
			<td align="center">
				<span class="inline-block">広告/</span><span class="inline-block">イベント/マーケティング活動/</span><span class="inline-block">商品情報の案内および景品/</span><span class="inline-block">商品発送</span>
			</td>
			<td align="center">
				<span class="inline-block">携帯番号、</span><span class="inline-block">メールアドレス、</span><span class="inline-block">住所、</span><span class="inline-block">生年月日</span>
			</td>
			<td align="center">
				目的達成時まで<br>(同意撤回時まで)
			</td>
		</tr>
	</tbody>
</table>
<br> 
※ 同意を拒否する権利および同意を拒否する場合<br>
- 上記に対して同意を拒否することができます。同意しない場合、会員登録はできますが、サービス特典などのご利用が制限されることがあります。