1. 고유식별 수집 및 이용<br>
<br>
<table>
	<tbody>
		<tr>
			<th align="center">
				목적
			</th>
			<th align="center">
				항목
			</th>
			<th align="center">
				보유기간
			</th>
		</tr>
		<tr>
			<td align="center">
				<span class="inline-block">회원서비스 제공 및</span> 회원 식별/확인
			</td>
			<td align="center">
				여권번호
			</td>
			<td align="center">
				<span class="inline-block">목적달성시까지</span><span class="inline-block">(동의철회시까지)</span>
			</td>
		</tr>
	</tbody>
</table>
<br> ※ 동의를 거부할 권리 및 동의를 거부할 경우<br> 위 사항에 대한 동의를 거부할 수 있으나 고유식별 정보수집, 이용에 대한 동의는 서비스 이행을 위하며 필수적이므로, 위 사항에 동의하셔야만 당사의 회원 서비스 제공이 가능합니다.