div#main_con { float:left; width:835px; position:relative; }
        
div#main_left { float:left; width:182px; text-align:center; }

div#main_center { float:left; }

/* *********************************************************
 * 페이징
/* *********************************************************/
.paging{clear:both;overflow:hidden;margin:0 auto;padding:10px 0 20px;text-align:center;}
.paging a{display:inline-block;position:relative;min-width:19px;margin-right:1px; padding:3px 3px; border:1px solid #fff;font-family:tahoma,'굴림',gulim,sans-serif;font-size:12px;color:#666;line-height:19px; text-decoration:none; vertical-align:top;}
.paging img {vertical-align:middle;}
.paging .p_num:hover{border-color:#e8e8e8; background-color:#508230; font-weight:bold; color:#FFFFFF}
.paging .p_num:active{border-color:#e8e8e8; background-color:#508230; font-weight:bold; color:#FFFFFF}
.paging .p_num:visited{border-color:#e8e8e8; background-color:#508230; font-weight:bold; color:#FFFFFF}
.paging .hover_num { border-color:#e8e8e8; background-color:#508230; font-weight:bold; color:#FFFFFF}