/* *********************************************************
 *	신규컬렉션
/* *********************************************************/
h3#collection_t { margin:15px 0 0 0; font-size:16px; }
div.collection_box { margin:15px 0 15px 0; }
div.collection_box .c_tit { float:left; width:340px; }
div.collection_box .c_txt { float:left; width:375px; height:260px; }
div.collection_box .c_txt dl { padding:15px; padding-top:5px; }
div.collection_box .c_txt dl dt { height:35px; font-weight:bold; font-size:15px; }
div.collection_box .c_txt dl dd { line-height:17px; font-size:11px; color:#555555; }
    
table#collection_list { width:100%; margin-top:20px; }
table#collection_list .c_list_img { width:160px; padding:40px 0 40px 0; border-bottom:solid 1px #cccccc; position:relative; }
table#collection_list .c_list_img div.c_img_box { border:solid 1px #cccccc; width:150px; position:relative; }
table#collection_list .c_list_img div.c_img_box div.color_view_tooltip { position:absolute; top:-1px; left:-1px; width:140px; padding:0 5px 10px 5px; border:solid 1px #cccccc; background-color:White; display:none; text-align:left; line-height:16px; }
table#collection_list .c_list_desc { padding:0 0 0 15px; width:240px; border-bottom:solid 1px #cccccc; }
table#collection_list .c_list_desc dl { font-size:12px; }
table#collection_list .c_list_desc dl dt { height:21px; padding-top:2px; }
table#collection_list .c_list_desc dl dd.desc_tit { height:21px; line-height:16px; padding-right:10px; }
table#collection_list .c_list_desc dl dd.desc_color { border:solid 1px #cccccc; padding:5px; height:30px; margin-top:13px; overflow:scroll; overflow-x:hidden; }
table#collection_list .c_list_desc dl dd.desc_txt { font-size:11px; padding:10px 0 10px 0; line-height:16px; position:relative; }
table#collection_list .c_list_info { border-bottom:solid 1px #cccccc; }
table#collection_list .c_list_info table { width:300px; text-align:left; margin-left:30px; }
table#collection_list .c_list_info table th { width:110px; height:25px; text-align:left; }
table#collection_list .c_list_info table td.c_info_btn { vertical-align:bottom; padding-top:22px; text-align:center; }
table#collection_list .c_list_info table td.c_info_btn div#buynow { width:85px; height:18px; padding-top:6px; color:White; float:left; background-color:#999999; text-align:center; cursor:pointer; }
table#collection_list .c_list_info table td.c_info_btn div#cart { width:85px; height:18px; padding-top:6px; margin-left:5px; color:#777777; float:left; background-color:#eeeeee; text-align:center; cursor:pointer; }
table#collection_list .c_list_info table td.c_info_btn div#wishlist { width:85px; height:18px; padding-top:6px; margin-left:5px; color:#777777; float:left; background-color:#eeeeee; text-align:center; cursor:pointer; }

.mb5 {margin-bottom: 5px;}
.mb10 {margin-bottom: 10px;}
.mb15 {margin-bottom: 15px;}
.mb20 {margin-bottom: 20px;}
.mb45 {margin-bottom: 45px;}

/* *********************************************************
 *	리스트
/* *********************************************************/
h3#plist_t { margin:15px 0 0 0; font-size:16px; position:relative; font-weight:bold; color:#333; }
div.plist_area { width:100%; margin-top:20px; }
div.plist_area div.plist_box { padding-left:10px; }
div.plist_area div.plist_box ul { float:left; margin-top:10px; width:157px; text-align:left; color:#666666; }
div.plist_area div.plist_box ul li.plist_img { text-align:center; border:solid 1px #dddddd; }
div.plist_area div.plist_box ul li.plist_brand { font-weight:bold; padding:10px 0 0 10px; }
div.plist_area div.plist_box ul li.plist_desc { color:#7f7f7f; font-size:11px; height:30px; padding:3px 0 0 10px; line-height:15px; }
div.plist_area div.plist_box ul li.plist_price { padding:6px 0 0 10px; font-size:11px; }
div.plist_area div.plist_box ul li.plist_order { padding:6px 0 0 10px; font-size:11px; }

/* *********************************************************
 *	메뉴 선택
/* *********************************************************/
.skip{display:none}
.sideNav{position:relative;width:149px;padding-top:0px; z-index:2; margin:0 auto; margin-top:20px;}
.sideNav a{display: block;text-decoration: none} 
.sideNav li li ul.bdskip{border-bottom:none;}
.sideNav li{padding:0;margin:0;font-size:13px;color:#000;text-align:left;}
.sideNav li a{padding:6px 0 6px 6px;border-bottom:1px solid #dedede;background:url(http://image.dutyfree24.com/FileStroage/BRAND/MAC/dot.gif) no-repeat 139px 50%;color:#000}
.sideNav li a:hover,.sideNav li.selected a,.sideNav li a:focus,.sideNav li a:active {font-weight:bold;text-decoration:none;background:url(http://image.dutyfree24.com/FileStroage/BRAND/MAC/dot_on.gif) no-repeat 139px 50%;color:#000}
.sideNav li ul{padding: 6px 0 5px 0;border-bottom:1px solid #dedede;}
.sideNav li li{font-size:11px;padding:0;line-height:0;min-height:18px;}
.sideNav li li a{line-height:1;border:0;background:none;color:#555}
.sideNav li.selected li a{font-weight:normal;background:none;color:#555}
.sideNav li li a:hover,.sideNav li li.selected a,.sideNav li li a:focus,.sideNav li li a:active{font-weight:bold;background:none;color:#555;white-space: pre-line;}
.sideNav li li ul{padding:2px 0 1px 4px;border:0}
.sideNav li.selected li li a{padding:0 0 0 6px; line-height:17px;font-weight:normal;color:#888}
.sideNav li.selected li li a:hover, .sideNav li.selected li li.selected a,.sideNav li.selected li li a:focus,.sideNav li.selected li li a:active{font-weight:bold}
.sideNav li.selected ul,.sideNav li.selected li.selected  ul{display:block;border-bottom:1px solid #dedede}

ul.dev_subMenu li { letter-spacing:-2px; }

.sidepro {width:110px;margin-top: 56px; position:absolute; top:60px; right:20px; }
.sidepro h5{font-size:12px;color:#757575;letter-spacing:-1px}
.sidepro ul{width:110px}
.sidepro ul li{text-align:center;padding-top:10px}
.sidepro a{display:block;width:110px;font-size:11px;color:#777;text-decoration:none;text-align:center}
.sidepro img{border:1px solid #e7e7e7;width:110px;margin-bottom:6px;display:block}

.quantity input{width:38px;height:12px;padding:1px 1px 1px 8px;border:1px solid #abadb3;font-size:11px;vertical-align:middle;color:#777}
.quantity img{vertical-align:middle}
.big_price{font-size:14px;color:#ff0072} /*so@140317 추가*/

.info_text a{color:#999}
.info_text a span{display:none;position:absolute;top:0;left:0;margin-top:2px;padding:8px;_padding:12px; *padding:12px;border:1px solid #ddd;background:#fff;color:#666;text-decoration:none}

/* *********************************************************
 *	상품설명
/* *********************************************************/
.movetop{z-index:9999}
.detail_info{clear:both;margin: 0 20px 0 0;position: relative;width: 917px}
.detail_info{padding-bottom:60px}
.detail_info .morecolor{padding-left:18px}
.detail_info .morecolor:after {content:""; display:block; clear:both}
.detail_info .morecolor ul li{padding: 0 10px 10px 0;border:0;float:left}
.detail_info .morecolor ul li a.photo_box{position:relative;display:block}
.detail_info .morecolor ul li a.photo_box span strong { font-weight: bold !important;}
.detail_info .morecolor ul li img.noselect { width:50px; height: 50px;} /* 20140321 컬러칩 보더 */
.detail_info .morecolor ul li img.select { border: 3px solid #424242; width:44px; height: 44px;} /* 20140321 컬러칩 보더 */
.photo_box .best{display:block;position:absolute;top:-11px;width:24px;height:11px;background:url(http://image.dutyfree24.com/FileStroage/BRAND/MAC/lab_best.gif) no-repeat 0 0;text-indent: -5000em}
.detail_info .morecolor ul li a.photo_box:hover{position:relative;z-index:9000}
.detail_info .morecolor ul li a.photo_box  span{display:none;position:absolute;top:0px;left:0px;width:110px;*width:116px;padding:4px;border:1px solid #ccc;font-size:11px;background:#fff;color:#313131;line-height:15px;z-index:8888;text-decoration:none}
.detail_info .morecolor ul li a.photo_box  span strong{font-weight: normal; letter-spacing:-1px;}
.detail_info .morecolor ul li a.photo_box  span em{display:block;margin-bottom:3px;font-style:normal;color:#777;letter-spacing: -2}
.detail_info .morecolor ul li a.photo_box  span img{_width:116px;*width:116px;height:110px;_height:116px;padding-bottom:8px;border:0;display:block}
.detail_txt{clear:both;padding:27px 0 15px 0; border: 1px solid #dddddd; border-top: none;}
.detail_txt .pro_explain dt{float:left;padding-left:35px}
.detail_txt .pro_explain dd{padding-left:144px;font-size:12px;color:#777;line-height:1.7; background: url(http://image.dutyfree24.com/FileStroage/BRAND/MAC/cl_dot.gif) 135px 7px no-repeat;}
.detail_txt .detail_title{margin-bottom:19px}
.detail_txt table a{text-decoration: none;color:#333;}
.detail_txt th{background:#e4e4e4;text-align: center; color: #333333;}
.detail_txt td{background:#f1f1f1;color: #323232;}
.detail_txt td ol li { line-height: 18px; }
.detail_txt td ol li.intxt { padding-left: 15px; }

/* *********************************************************
 *	상품상세보정보
/* *********************************************************/
.detail_txt #tabMenu0,.detail_txt #tabMenu1,.detail_txt #tabMenu2,.detail_txt #tabMenu3,.detail_txt #tabMenu4{padding-left:38px;padding-right:47px;font-size:12px;color:#333}
.detail_txt #tabMenu0 th{ width:200px;padding:10px 0}
.detail_txt #tabMenu0 td{margin-left:202px;padding:10px 10px 10px 20px}

.detail_table { padding: 0 0 30px 0; }

.path {color:#000;font-size:12px}
.path a {margin-right:6px;padding-right:10px;background:url(http://image.dutyfree24.com/FileStroage/BRAND/MAC/location.gif) no-repeat right 1px;color:#555; text-decoration:none}

/* tab */
.tabtit {position: relative;height: 30px;background: url(http://image.dutyfree24.com/FileStroage/BRAND/MAC/line_tab.gif) repeat-x;overflow: hidden;z-index: 2;font-size:11px;color:#444}
.tabtit li {position: relative;float: left;width: 135px;height: 32px;margin-left: -1px;background: #f3f0ea;border: 1px solid #e3e0d9;border-bottom: 0px;color: #666;z-index: 0}
.tabtit li.first {border-left: 2px solid #e3e0d9;}
.tabtit li.on {height: 30px;margin-left:0;border: 1px solid #3c3c3c;border-bottom: 0px;background: #fff;color: #353535;z-index: 1}
.tabtit li.on a,.tabtit li.on strong{font-weight:bold; color:#442c20}
.tabtit li a, .tabtit li strong{display:block;padding-top:10px;text-align:center;text-decoration:none;color:#444}

.tab {position: relative;height: 30px;border-bottom: 1px solid #3c3c3c;overflow: hidden;z-index: 2;font-size:11px;color:#444}
.tab li {position: relative;float: left;width: 135px;height: 32px;margin-left: -1px;background: #ffffff;border: 1px solid #e3e0d9;color: #666;z-index: 0}
.tab li.first {border-left: 2px solid #e3e0d9;}
.tab li.on {height: 30px;margin-left:0;border: 1px solid #3c3c3c;border-bottom: 0px;background: #3c3c3c;color: #353535;z-index: 1}
.tab li.on a,.tab li.on strong{font-weight:bold; color:#ffffff}
.tab li a, .tab li strong{display:block;padding-top:10px;text-align:center;text-decoration:none;color:#444}
.colorcopy{position:absolute;left:155px;top:11px;padding-left:15px;color:#999999;font-size:11px;background:url(http://image.dutyfree24.com/FileStroage/BRAND/MAC/icon_colorblit.gif) no-repeat 0 1px;z-index:1000;}

#tabMenu2 .notice_area1{padding-bottom:45px;background:url(http://image.dutyfree24.com/FileStroage/BRAND/MAC/num01.gif) 0 0 no-repeat;}
#tabMenu2 .notice_area1 li { padding-left: 60px; color: #777777; line-height: 18px;}
#tabMenu2 .notice_area2{background:url(/images/BrandMac/num02.gif) 0 0 no-repeat;}
#tabMenu2 .notice_area2 li { padding-left: 60px; color: #777777; line-height: 18px;}
#tabMenu2 .notice_area2 li.n_active { padding-left:70px;background:url(http://image.dutyfree24.com/FileStroage/BRAND/MAC/icon_arrow2.gif) 60px 6px no-repeat;}

#tabMenu3 .give_area1{padding-bottom:45px;background:url(http://image.dutyfree24.com/FileStroage/BRAND/MAC/num01.gif) 0 0 no-repeat;}
#tabMenu3 .give_area1 li { padding-left: 60px; color: #777777; line-height: 18px;}
#tabMenu3 .give_area2{padding-bottom:45px;background:url(http://image.dutyfree24.com/FileStroage/BRAND/MAC/num02.gif) 0 0 no-repeat;}
#tabMenu3 .give_area2 li {padding-left:70px; color: #777777; background:url(http://image.dutyfree24.com/FileStroage/BRAND/MAC/icon_arrow2.gif) 60px 6px no-repeat; line-height: 18px;}
#tabMenu2 .give_area2 li.tit { padding-left: 60px; background: none !important;}
#tabMenu3 .give_area3{background:url(http://image.dutyfree24.com/FileStroage/BRAND/MAC/num03.gif) 0 0 no-repeat;}
#tabMenu3 .give_area3 li { padding-left: 60px; color: #777777; line-height: 18px;}
#tabMenu3 .give_area3 .dutyfree_tab{ height: 22px; overflow: hidden; border-bottom: 1px solid #d4d4d4; margin: 0 0 10px 0;}
#tabMenu3 .give_area3 .dutyfree_tab li { float: left; margin: 0 1px 10px 0; padding:0;}
#tabMenu3 .give_area3 .dutyfree_list { margin-bottom: 18px; }
#tabMenu3 .give_area3 .dutyfree_list li {padding-left:13px; color: #777777; background:url(http://image.dutyfree24.com/FileStroage/BRAND/MAC/icon_arrow2.gif) 0px 6px no-repeat; line-height: 18px;} 

#tabMenu4 .as_area1 {padding-bottom:45px;background:url(http://image.dutyfree24.com/FileStroage/BRAND/MAC/num01.gif) 0 0 no-repeat;}
#tabMenu4 .as_area1 li { padding-left: 60px; color: #777777; line-height: 18px;}
#tabMenu4 .as_area2 {background:url(http://image.dutyfree24.com/FileStroage/BRAND/MAC/num02.gif) 0 0 no-repeat;}
#tabMenu4 .as_area2 li { padding-left: 60px; color: #777777; line-height: 18px;}
#tabMenu4 .as_area2 li.n_active { padding-left:70px;background:url(http://image.dutyfree24.com/FileStroage/BRAND/MAC/icon_arrow2.gif) 60px 6px no-repeat;}


/*2017.02 MAC Layout 수정*/
.macwrapper {clear:both;position:relative;width:980px;margin:0 auto;overflow:hidden;letter-spacing:0;}
.macwrapper #main_left2 {float:left;width:236px;margin-right:17px;text-align:center;}
.macwrapper #main_left2 .sideNav {width:188px;}
.macwrapper #main_left2 .sideNav li a {background:url(http://image.dutyfree24.com/FileStroage/BRAND/MAC/dot.gif) no-repeat 178px 50%;}
.macwrapper #main_center { }
.macwrapper .sidepro {right:2px;}
.macwrapper .detail_info {width:auto;margin:0;}
