@charset "UTF-8";

/* 3시간전샵 */
.hour3-banner {position:relative; height:303px;}
.hour3-banner.type-txt {background:url("../images/dpoint/dpoint-banner-type-txt.jpg") 0 0 no-repeat;}
.hour3-banner.type-img {background:url("../images/3hour/threehour-banner.jpg") 0 0 no-repeat;}
.hour3-banner_textarea1 {color:#fff; text-align:center; padding-top:72px;}
.hour3-banner_textarea1-1 {font-size:34px;}
.hour3-banner_textarea1-1 span {color:#ffd02d;}
.hour3-banner_textarea1-2 {color:#a7a4a9; margin-top:5px;}
.hour3-banner_textarea2 {position:absolute; width:100%; height:100px; bottom:0px;}
.hour3-banner_textarea2:before {background:#000; position:absolute; z-index:1; content:''; top:0px; left:0px; right:0px; bottom:0px; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter:alpha(opacity=80); opacity:.8;}
.hour3-banner_textarea2-wrap {position:relative; z-index:2; margin-top:30px;}
.hour3-height40px {}
.hour3-banner_txt1 {padding:0 20px 0 28px; background:url("../images/3hour/threehour-flying.png") 0 center no-repeat; vertical-align:middle;}
.hour3-banner_txt2 span {position:relative; z-index:2; display:inline-block; border:1px solid #2e1d5d; width:547px; height:40px; line-height:40px; padding:0 16px; text-align:left; box-sizing:border-box; vertical-align:middle;}
.hour3-banner_txt2 a {position:relative; z-index:2; display:inline-block; border:2px solid #8561ec; padding:0 14px; height:40px; line-height:40px; box-sizing:border-box; vertical-align:middle;}
.hour3-banner_select1 {width:174px;}
.hour3-banner_date {}
.hour3-banner_select2 {width:84px;}
.hour3-banner_select3 {width:84px;}
.hour3-banner_link {position:relative; z-index:2; display:inline-block; border:2px solid #8561ec; padding:0 30px; margin-left:2px;}
.hour3-banner_txt1, 
.hour3-banner_txt2,
.hour3-banner_select1, 
.hour3-banner_date,
.hour3-banner_date .input1,
.hour3-banner_date .datepicker-btn1, 
.hour3-banner_select2, 
.hour3-banner_select3, 
.hour3-banner_link {height:40px; line-height:40px; display:inline-block; vertical-align:middle; box-sizing:border-box; margin-right:1px;}
.hour3-banner_date .input1 {width:143px;}

.hour3-bullet1 {padding:30px 20px; background:#f0f0f0;}
.hour3-bulletitem {font-size:11px; height:19px;}

.hour3-searchbar {margin:50px 0 40px 0;}

