@charset "UTF-8";

/* 브랜드 */
.brand-searchbar {margin-top:62px;}
.brand-tab {margin-top:40px;}


/* 브랜드 탭 관련 2 */
.brand-tab3 {position:relative; border-top:1px solid #e5e5e5; z-index:5;}
.brand-tab3_head {padding:12px 0;}
.brand-tab3 .tab9 {height:34px !important;}
.brand-tab3_title {font-size:12px; color:#999999; height:34px; line-height:3;}
.brand-tab3_title .type-tab3title {color:#8561ec; font-weight:bold; text-transform:uppercase;}
.brand-tab3_tabarea {position:absolute; top:12px; right:0px; width:207px; height:34px;}
.brand-tab3_body {}
.brand-tab3 .search-detail__tab3 {border-top:1px solid #f2f2f2;}
.brand-tab3_foot {position:relative;}
.brand-tab3_foot .brand-tab_content-group { /*display:none;*/ box-sizing:border-box; height:310px; border:1px solid #f2f2f2; background-color:#fafafa; overflow:auto;}

/* 브랜드 배너 */
.brand-banner { overflow:hidden; position:relative; height:422px; }
.brand-banner-ctrl-play,
.brand-banner-ctrl-pause  { overflow:hidden; position:absolute; z-index:200; bottom:0; right:0; width:39px; height:40px; border:1px solid #e5e5e5; background-color:#fff; cursor:pointer; text-indent:-100%; }
.brand-banner-ctrl-play:before { position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 0; height: 0; margin: auto; border-width: 5px 0 5px 9px; border-style: solid; border-color: transparent transparent transparent #999; content: ''; }
.brand-banner-ctrl-pause:before { position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 3px; height: 10px; margin: auto; border-left: 3px solid #999; border-right: 3px solid #999; content: ''; }
.brand-banner-list { white-space:nowrap; }
.brand-banner-list__item { position:absolute; top:0; left:0; right:0; bottom:0; }
.brand-banner-list__item.is-on { z-index:10; }
.brand-banner-pagination { display:table; position:absolute; z-index:100; left:0; right:0; bottom:0; height:42px; padding-left: 1px; padding-right:40px; table-layout:fixed; background-color:#fff; text-align:center; line-height:1; font-size:14px; color:#333; }
.brand-banner-pagination li { display:table-cell; width:1%; height:inherit; }
.brand-banner-pagination li a { position:relative; display: table-cell; width: 1000px; height: inherit; color: inherit; vertical-align: middle;}
.brand-banner-pagination li a:after { -webkit-box-sizing:border-box; box-sizing:border-box; position: absolute; top: 0; left: -1px; right: 0; height:inherit; border: 1px solid #e5e5e5; content: ''; }
.brand-banner-pagination li a:hover { color: #845de5; }
.brand-banner-pagination li.is-on a { color: #845de5; z-index: 1; }


















