.subpop {position:fixed!important;top:0;left:0;right:0;bottom:0;width:100%;height:100%;background-color:#000;background:none/*url('http://image.dutyfree24.com/FileStroage/images/subpopup_bg.png')*/; z-index:10000;display:none;}
.subpop img{ border:0} 
.subpop a:focus{outline: none;} 
.subpop > .popup-inner {position:relative;width:100%; height:100%;margin:auto;}

.subpop > .popup-inner > .chanel_pop{ position:absolute; width: 540px; height:540px; top:100px; left:50%; margin-left:-270px; display: none; z-index: 98}
.subpop > .popup-inner > .chanel_pop .btn_close{ position:absolute; width:27px; height:28px; left:510px; top:3px}
.subpop > .popup-inner > .chanel_pop .chk_ipnut{ position:absolute; width:12px; height:12px; margin:0; padding:0; left:180px; top:241px }
.subpop > .popup-inner > .chanel_pop .chk_ipnut:hover,
.subpop > .popup-inner > .chanel_pop .chk_ipnut:active{ border:1px #000 solid}
.subpop > .popup-inner > .chanel_pop .chk_ipnut_label{position:absolute; width:194px; height:22px; left:195px; top:236px;cursor:pointer}
.subpop > .popup-inner > .chanel_pop .btn{ position:absolute; width:198px; height:54px; left:171px; top:462px}

.subpop > .popup-inner > .amor_pop{ position:absolute; width: 640px; height:540px; top:100px; left:50%; margin-left:-320px; display: none;z-index: 97}
.subpop > .popup-inner > .amor_pop .btn_close{ position:absolute; width:27px; height:28px; left:553px; top:10px}
.subpop > .popup-inner > .amor_pop .chk_ipnut{ position:absolute; width:21px; height:20px; margin:0; padding:0; left:256px; top:405px }
.subpop > .popup-inner > .amor_pop .chk_ipnut:hover,
.subpop > .popup-inner > .amor_pop .chk_ipnut:active{ border:1px #000 solid}
.subpop > .popup-inner > .amor_pop .chk_ipnut_label{position:absolute; width:103px; height:19px; left:284px; top:406px;cursor:pointer}
.subpop > .popup-inner > .amor_pop .btn{ position:absolute; width:198px; height:54px; left:220px; top:434px}