@charset "UTF-8";


/* 푸터 */
.noline {border-bottom:none !important; padding-bottom:0px !important;}
.footerline {height:1px; background:#efefef; margin-top:20px; border:none;}
.footer-paddingarea {padding:0 21px;}
.footer-titlearea {position:relative;}
.footer-tit1 {margin-bottom:40px; border-bottom:1px solid #333333;}
.footer-select {position:absolute; right:0px; top:0px; width:314px;}
.footer-select .select1 {width:100%; height:40px; background-color:#f7f7f7; cursor:pointer;}
.footer-rule_list {border:1px solid #f2f2f2; border-top:1px solid #333333; border-bottom:1px solid #cccccc; margin-bottom:37px;}
.footer-rule_list:after {content:''; display:block; clear:both;}
.footer-rule_left {float:left; width:50%; box-sizing:border-box;}
.footer-rule_right {float:left; width:50%; border-left:1px solid #f2f2f2; box-sizing:border-box;}
.footer-rule_left, 
.footer-rule_right {padding:17px;}
.footer-rule_items {position:relative; display:block; font-size:13px; color:#999999;}
.footer-rule_items + .footer-rule_items {margin-top:20px;}
.footer-rule_items span {margin-right:15px;}
.footer-rule_items:hover,
.footer-rule_items:focus {color:#845de5;}
.footer-rule_items:hover,
.footer-rule_items:focus {padding-left:14px; font-weight:bold;}
.footer-rule_items:hover:before,
.footer-rule_items:focus:before {content:'\00b7'; font-weight:bold; position:absolute; top:-6px; left:0px; font-size:23px;}
.footer-tit2 {font-size:18px; color:#010101; text-align:left; margin:56px 0 0 0;}
.footer-tit3 {font-size:14px; padding-left:.7em; margin:30px 0 0 0; text-align:left; color:#333; text-shadow:0.5px 0 0 #333;}
.footer-tit3:before { position:absolute; content:'\00b7'; margin-left:-.6em; color:inherit; font-weight:700; font-size:1.5em; line-height:1;}
.footer-tit3 + .footer-tit3 { margin-top:.3em;}
.footer-content {text-align:left; font-size:13px; color:#555555; line-height:1.6; margin-top:5px;}
.footer-content b,
.footer-content strong { font-weight:600; }
.footer-table_bold {font-weight:bold; color:#010101;}
.footer-gap1 {padding-left:5px;}
.footer-blt1 {font-size:14px; padding-left:.7em; margin:10px 0 0 0; text-align:left;}
.footer-blt1:before { position:absolute; content:'\00b7'; margin-left:-.6em; margin-top:5px; color:inherit; font-weight:700; opacity:0.8; font-size:1.5em; line-height:1;}
.footer-blt1 + .footer-blt1 { margin-top:1.5em;}
.footer-blt2 {font-size:14px; padding-left:21px; text-indent:-21px; margin:10px 0 0 0; text-align:left;}
.footer-content-terms {padding:20px; border:1px solid #f2f2f2; border-top:1px solid #333333; border-bottom:1px solid #cccccc;}
.footer-redbullet {border:1px solid #f9cedb; padding:17px; background:#fee5ed;}
.footer-redbullet_row {font-size:13px;}
.footer-redbullet_row + .customer-redbullet_row {margin-top:10px;}
.footer-redbullet_row:after {content:''; display:block; clear:both;}
.footer-redbullet_title {position:relative; display:table-cell; color:#cf3463; font-weight:bold; box-sizing:border-box; padding-right:16px;}
.footer-redbullet_title:after {position:absolute; content:' l '; top:4px; right:0px; color:#f8c6d5;}
.footer-redbullet_description {display:table-cell; color:#e05f85; box-sizing:border-box; padding-left:14px; line-height:1.7;}

.footer-mailform {position:relative; display:inline-block;margin-left:50px;}
.footer-mailform:before {content:''; width:16px; height:12px; position:absolute; top:0px; left:-27px; background:url(../../images/footer/footer-email_ico.png) 0 center no-repeat;}
.footer-mailform:hover, 
.footer-mailform:focus {color:#845de5;}
.footer-mailform:hover:after {content:''; display:block; position:absolute; width:100%; border-bottom:1px solid #845de5;}

.footer-table1 {margin-top:13px; margin-bottom:18px;}
.footer-table1-col-1 {width:104px;}
.footer-table1-col-2 {width:150px;}
.footer-table1-col-3 {}
.footer-table1-col-4 {width:240px;}

.footer-table2 {margin-top:13px; margin-bottom:18px;}
.footer-table2 table { line-height:1.5;}
.footer-table2-col-1 {}
.footer-table2-col-2 {width:243px;}
.footer-table2-col-3 {width:222px;}

.footer-table3 {margin-top:13px; margin-bottom:18px;}
.footer-table3-col-1 {width:257px;}
.footer-table3-col-2 {}

.footer-table4 {margin-top:13px; margin-bottom:18px;}

.footer-table5 {margin-top:13px; margin-bottom:18px;}
.footer-table5-col-1 {width:186px;}
.footer-table5-col-2 {width:197px;}

.footer-table6 {margin-top:13px; margin-bottom:12px;}
.footer-table6-col-1 {width:88px;}
.footer-table6-col-2 {}

.footer-table7 {margin-top:13px; margin-bottom:12px;}
.footer-table7 th {font-weight:bold;}
.footer-table7-col-1 {width:218px;}
.footer-table7-col-2 {}







