@charset "UTF-8";



.join-merit {margin-top:77px;}
.join-merit__title {font-size:24px; color:#333333; text-align:center; padding-bottom:20px;}
.join-merit__content {position:relative; margin-bottom:77px;}
.join-merit__content:before {position:absolute; top:-1px; left:-1000%; right:-1000%; border-top:1px solid #e5e5e5; content:'';}
.join-merit__content:after {display:block; content:''; clear:both;}
.join-merit__content-left,
.join-merit__content-right {float:left; width:50%; position:relative; z-index:1; text-align:center; box-sizing:border-box;}
.join-merit__content-right {float:right;}


/* 로그인 레이어팝업 */
.member-account__option {position:relative; padding-top:30px; padding-bottom:14px; font-size:12px; font-weight:500; }
.member-account__option:after {position:absolute; bottom:0px; content:''; /* border-bottom:1px solid #d8d8d8; */ /* left:-1000%; right:-1000%; */ left:0px; right:0px;}
.member-account__option-wrap {position:relative; max-width:433px; margin:0 auto;}
.member-account__option-wrap:after {display:block; position:relative; z-index:1; clear:both; content:'';}
.member-account__option-left {float:left;}
.member-account__option-left {}
.member-account__option-right {float:right;}
.member-account__option-right:after {content:''; clear:both; display:block;}
.member-account__option-right a { display:inline-block; position:relative; z-index:1; color:#666; margin-left:17px;}
.member-account__option-right a:focus,
.member-account__option-right a:hover {color:#8561ec;}
.member-account__option-right a:before {content:'|'; position:absolute; top:1px; left:-12px; height:14px; overflow:hidden; color:#d9d9d9;}
.member-account__option-right a:first-child:before {content:"";}
.member-account__option-right a.type-login { color:#845de5; border-bottom:1px solid #845de5; }



/* 비회원주문 */
.member-order { }
.member-order .member-order__formbutton {margin:50px 0;}
.member-order .member-order__btn-login {height:52px!important; line-height:48px!important;}
.member-order__head { border-top:1px solid #b8b8b8;  }
.member-order__title {font-size:26px; color:#333333; text-align:center; padding:15px; }
.member-order__desc {font-size:13px; color:#999999; padding:15px;}
.member-order__desc ul {list-style:none;}
.member-order__desc ul li {padding-left:12px; text-indent:-12px;}
.member-order__form {background:#fafafa;}
/*.member-order__form table {border-top:1px solid #d8d8d8; width:100%;}*/
/*.member-order__form table tr th,*/
/*.member-order__form table tr td {border-bottom:1px solid #d8d8d8; font-size:12px; color:#666666;}*/
/*.member-order__form table tr th {background:#fafafa; width:120px; text-align:left; height:48px; line-height:48px; padding:0 17px; font-weight:400; }*/
/*.member-order__form table tr td {border-left:1px solid #f2f2f2; padding:9px 0 9px 30px; background:#fff;}*/
/*.member-order__form table tr td.member-order__password input[type="text"] {max-width:348px; box-sizing:border-box;}*/
.member-order__form1 { width:182px; }
.member-order__form2 { width:168px; }
.member-order__form3 { width:110px; }
.member-order__form4 { width:140px; }

.member-order__formbutton {text-align:center;}
.member-order__form table tr td.member-order__gender:after {display:block; content:''; clear:both;}
.member-order__form table tr td .member-order__date {float:left; }
.member-order__form table tr td .member-order__radio {float:left; margin-left:3px;}



/* 비회원 주문조회 */
.member-order__input {width:433px; margin:0 auto;}



/* 비회원 로그인 레이어팝업 */
/*.login_tab {border:1px solid red; text-align:center; margin:10px;}*/
.layer-login .login-welcome-title {background:#fafafa; font-weight:500;}
.layer-popup__foot.layer-login__footcommon a:after {display:block; content:''; clear:both;}
.layer-popup__foot.layer-login__footcommon a img {float:left;}



/* 비회원 주문 레이어팝업 */
.layer-member__ordertitle {font-size:14px; color:#333; text-align:center; font-weight:500;}
.layer-member__order input {box-sizing:border-box;}
.layer-member__order .member-order__form {padding:0 22px;}
.layer-member__order .member-order__formbutton {margin:40px 0;}
.layer-member__order .member-order__formbutton input[type="button"] {height:42px; box-sizing:border-box;}
.layer-member__order .layer-member__ordertitle {padding-bottom:10px;}
.layer-member__order .member-order__form {background:#fff;}



/* 비회원 주문조회 레이어팝업 */
.layer-member__orderview .member-order__viewtitle {padding-bottom:38px;}
.layer-member__orderview .member-order__input {width:340px;}
.layer-member__orderview .layer-member__ordertitle {background:#fafafa;}


/* 회원 로그인 레이어팝업 */
.layer-member__login .member-order__input,
.layer-member__login .member-account__option-wrap {width:340px;}
.layer-member__login .member-order__btn-login { height:48px; line-height:44px; font-size:15px; }
.layer-member__login .member-account__option {background:#fafafa;}
.layer-member__login .layer-member__ordertitle {background:#fafafa;}



/* 내국인 아이디찾기 */
.layer-findid-local .login-welcome-title {background:#fafafa;}



/* 외국인 아이디/비밀번호 찾기 */
.layer-findid-global .layer-member__ordertitle {background:#fafafa;}
.layer-findid-global .member-order__form {padding:1px 0 40px 0;}
.layer-findid-global .member-order__viewtitle,
.layer-findpass-global .member-order__viewtitle {margin-top:0px; padding-bottom:0px;}
.layer-findid-global .member-order__formbutton,
.layer-findpass-global .member-order__formbutton {border-top:1px solid #d8d8d8; padding:30px 0;}
.layer-findpass-global .layer-member__ordertitle {background:#fafafa;}
.layer-findpass-global .member-order__form {padding-bottom:43px;}





/* 아이디찾기 완료화면 */
.layer-findid-complete .member-order__viewtitle {padding-bottom:0px;}
.layer-findid-complete .member-order__formbutton {margin:0; padding:0 0 30px 0;}
.layer-findid-complete .findpassword {color:#8561ec !important; background:none !important; border-bottom:1px solid #8561ec; margin:0 0 0 10px;}
.layer-findid-complete .findpassword:focus,
.layer-findid-complete .findpassword:hover {text-decoration:none!important;}





/* 내국인 비밀번호찾기 */
.layer-findpass-local .login-welcome-title {background:#fafafa; font-weight:500;}
.member-findpass-inputid {padding:0 0 20px 0; border-bottom:1px solid #e5e5e5; width:315px; margin:0 auto;}
.member-findpass-inputid input {box-sizing:border-box;}




/* 외국인 비밀번호찾기 */
.layer-findpass-global {}




/* 비밀번호찾기 완료화면 */
.layer-findpass-complete .login-welcome-title {}
.layer-findpass-complete .member-order__formbutton {margin:30px 0!important;}
.layer-findpass-complete .member-order__form {background:#fff;}




/* 로그인 공통 */
.login-title {font-size:30px; color:#333; font-weight:400; letter-spacing:15px; text-align:center; margin:20px 0;}
.layer-popup .member-order__input {width:344px;}

.login-content_title {padding-top:37px; padding-bottom:10px;}
.login-content_title-bottom38 {padding-bottom:38px;}
.login-content_title-bottom24 {padding-bottom:24px;}
.login-content_title-bottom21 {padding-bottom:21px;}
.login-content_title-top48 {padding-top:48px;}

.login-input {padding-top:11px;}
.login-input.is-no1 {padding-top:0px;} 
.login-input_no1, 
.login-input_no2, 
.login-input_no3,  
.login-input_no4 {font-size:15px}

.layer-popup .login-input {padding-top:6px;}
.layer-popup .login-input.is-no1 {padding-top:0px;}
.layer-popup .login-input_no1, 
.layer-popup .login-input_no2, 
.layer-popup .login-input_no3,  
.layer-popup .login-input_no4 {font-size:13px}
.layer-popup .login-input.is-loginbutton {padding-top:10px;}

.layer-popup {visibility:hidden; background:#fff; z-index:9999; position:fixed; border:1px solid #000; font-size:13px; overflow:hidden;}
.layer-popup__wrap {width:480px;}
.layer-popup__head {border-bottom:1px solid #000;}
.layer-popup__head div {height:57px; line-height:57px; font-size:18px; color:#010101; text-align:center; position:relative; font-weight:500;}
.layer-popup__head a {position:absolute; top:19px; right:19px;}
.layer-popup__body {}
.layer-popup__foot {}


.login-fieldset { margin:0 41px; }
.login-fieldset.type-last { margin-bottom:40px;  }
.login-fieldset__row+.login-fieldset__row { margin-top:6px; }
.login-fieldset__row.type-btn { margin-top:10px; }

.login-option { margin:28px 0 -9px; text-align:justify;line-height:1.5;}
.login-option:after { display:inline-block; width:100%; content:''; }
.login-option__col { display:inline-block; }