@charset "UTF-8";

.page-main { margin-bottom: 93px; }

.main-tit1 { margin-bottom: 22px; font-size: 26px; color: #333; font-weight: 400; text-align: center; font-family: "Arya", sans-serif; letter-spacing: .46em; text-transform: uppercase; font-weight: 400; text-indent: .46em; line-height: 1; }
.main-tit1 .font1 { font-size: 0.9230769230769231em; }

.main-tit2 { font-size: 24px; color: #222; font-weight: 400; text-align: left; line-height: 1; }

.main-visual { position: relative; height: 490px; }
.main-visual a:focus, .main-visual a:hover { text-decoration: none; }
.main-visual img { vertical-align: top; }
.main-visual__bg { position: absolute; z-index:-1; top: 0; bottom: 0; left:-10000px; right:-10000px; margin:auto; background-position:50% 50%; background-repeat:no-repeat;}
.main-visual__pager { z-index: 20; position: absolute; bottom: 0; left: 0; right: 0; margin-right: 40px; line-height: 1; font-size: 13px; color: #333; border-left: 1px solid #e5e5e5;}
.main-visual__pager>li { position: relative; display: table-cell; border: 1px solid #e5e5e5; border-left: none; background-color: #fff; }
.main-visual__pager a { cursor:pointer; }
.main-visual__pager>li>a { display: table-cell; position: relative; z-index: 10; width: 1000px; height: 40px; text-align: center; vertical-align: middle; }
.main-visual__pager>li.is-on>a { color: #845de5; }
.main-visual_cn .main-visual__pager>li.is-on>a { color: #d53f6c; }
.main-visual__pager>li>a:before { position: absolute; z-index: 1; top: -1px; left: -1px; right: -1px; height:inherit; border: 1px solid transparent; content: ''; }
.main-visual__pager>li.is-hover>a:before { border-color: #8F71D9 #845de5 #845de5; }
.main-visual_cn .main-visual__pager>li.is-hover>a:before { border-color: #d56385 #d53f6c #d53f6c; }
.main-visual__pager>li.is-hover>a:focus:before,
.main-visual__pager>li.is-hover>a:hover:before { border-color: #8F71D9 #7449e4 #7449e4; }
.main-visual_cn .main-visual__pager>li.is-hover>a:focus:before,
.main-visual_cn .main-visual__pager>li.is-hover>a:hover:before { border-color: #d56385 #d52459 #d52459; }
.main-visual__pager>li.is-on>a:before {  }
.main-visual__pager>li>a:focus:after,
.main-visual__pager>li>a:hover:after,
.main-visual__pager>li.is-on>a:after { height: 490px; top: auto; bottom: 0; }
.main-visual__pager>li>ul { display: none; position: absolute; z-index: 1; bottom: 0; left: -1px; right: -1px; padding-bottom: 40px; }
.main-visual__pager>li.is-hover>ul { display:block; }
.main-visual__pager>li>ul>li { color: #fff; border-bottom: 1px solid #8F71D9; background-color: #845de5; }
.main-visual_cn .main-visual__pager>li>ul>li { border-bottom: 1px solid #d56385; background-color: #d53f6c; }
.main-visual__pager>li>ul>li:nth-of-type(n) { position:absolute; left:0; right:0; bottom:0; }
.main-visual__pager>li>ul>li:nth-of-type(1) { bottom:40px; }
.main-visual__pager>li>ul>li:nth-of-type(2) { bottom:80px; }
.main-visual__pager>li>ul>li:nth-of-type(3) { bottom:120px; }
.main-visual__pager>li>ul>li:nth-of-type(4) { bottom:160px; }
.main-visual__pager>li>ul>li:nth-of-type(5) { bottom:200px; }
.main-visual__pager>li>ul>li:nth-of-type(6) { bottom:240px; }
.main-visual__pager>li>ul>li:nth-of-type(7) { bottom:280px; }
.main-visual__pager>li>ul>li:nth-of-type(8) { bottom:320px; }
.main-visual__pager>li>ul>li:nth-of-type(9) { bottom:360px; }
.main-visual__pager>li>ul>li:nth-of-type(10) { bottom:400px; }
.main-visual__pager>li>ul>li>a { display: table-cell; width: 1000px; height: 39px; text-align: center; vertical-align: middle; }
.main-visual__pager>li.is-hover ul { /* display:block; */  }
.main-visual__pager>li.is-hover ul a:focus,
.main-visual__pager>li.is-hover ul a:hover { background-color: #7449e4; color:#fff;}
.main-visual_cn .main-visual__pager>li.is-hover ul a:focus,
.main-visual_cn .main-visual__pager>li.is-hover ul a:hover { background-color: #d52459; }
.main-visual__img { overflow: hidden; z-index: 10; position: absolute; top: 0; left: 0; right: 0; height: 490px; margin: auto; }
.main-visual__img>li { position: absolute; top: 0; bottom: 0; left: 0; right: 0; height: 490px; }
.main-visual__img>li a { display: none; position:relative; z-index:100; height: 490px;}
.main-visual__img>li img { position:absolute;top:0;height:100%;left:-1000px; right:-1000px;margin:auto;}
.main-visual__ctrl { display:none; position: absolute; bottom: 0; right: 0; z-index: 100; }
.main-visual__btn { position: relative; display: block; width: 39px; height: 40px; border: 1px solid #e5e5e5; border-left: none; background-color: #fff; overflow: hidden; text-indent: 100%; white-space: nowrap; }
.main-visual__btn.is-pause { display: block; }
.main-visual__btn.is-pause:before { position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 3px; height: 10px; margin: auto; border-left: 3px solid #999; border-right: 3px solid #999; content: ''; }
.main-visual__btn.is-play { display: none; }
.main-visual__btn.is-play:before { position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 0; height: 0; margin: auto; border-width: 5px 0 5px 9px; border-style: solid; border-color: transparent transparent transparent #999; content: ''; }
.main-visual__txt-left { position:absolute; -webkit-box-sizing:border-box; box-sizing:border-box; width:355px; top:220px; left:50%; margin-left:-508px; padding-top:18px; font-size:42px; color:#333; line-height:1.142857142857143; text-align:center; font-weight:100; letter-spacing:-0.06em; padding-left:0.06em;}
.main-visual__txt-right { position:absolute; -webkit-box-sizing:border-box; box-sizing:border-box; width:494px; top:220px; right:50%; margin-right:-508px; padding-top:18px; font-size:42px; color:#333; line-height:1.142857142857143; text-align:center; font-weight:100; letter-spacing:-0.06em; padding-left:0.06em;}

.main-box1 { position: relative; margin-top: 54px; }
.main-box1_margin-s { margin-top:20px; }
.main-box1__head { position: relative; z-index: 100; border-bottom: 1px solid #ccc; margin-bottom: -1px; }
.main-box1__head.type-none-border { border: none; }
.main-box1__head.type-none-border:after { display: none; }
.main-box1__head:after { position: absolute; z-index: 1; bottom: -1px; left: -1000px; right: -1000px; border-bottom: 1px solid #ccc; content: ''; }
.main-box1__foot { position: relative; border-top: 1px solid #ccc; margin-top: -1px; }
.main-box1__foot:before { position: absolute; z-index: 1; top: -1px; left: -1000px; right: -1000px; border-top: 1px solid #f2f2f2; content: ''; }

.main-slider1 { position: relative; margin: 0 auto; z-index:10; }
.main-slider1 .bx-viewport { height:auto !important; padding-bottom: 50px; margin-bottom: -51px; padding-right: 1px; }
.main-slider1 .bx-viewport:before { position:absolute; z-index:300; top:1px; bottom:51px; left:0; border-left:1px solid #fff; content:'';}
.main-slider1 .bx-viewport:after { position:absolute; z-index:300; top:1px; bottom:51px; right:0; border-left:1px solid #fff; content:'';}
.main-slider1 .bx-viewport ul { /*width:100% !important; */ }
.main-slider1 .bx-controls { position: absolute; z-index: 1000; top: -49px; right: 0; }
.main-slider1 .bx-pager { display: none; }
.main-slider1 .bx-controls-direction a:hover { background-position: 0 -29px; }
.main-slider1 .bx-controls-direction a.bx-next { background-position: -29px 0; }
.main-slider1 .bx-controls-direction a.bx-next:hover { background-position: -29px -29px; }

.main-slide-ctrl1 { overflow: hidden; position: absolute; z-index: 300; top: 0; right: 0; }
.main-slide-ctrl1__pager { float: left; line-height: 27px; font-size: 11px; color: #aaa; margin-right: 15px; }
.main-slide-ctrl1__btn { float: left; }
.main-slide-ctrl1__btn.type-next { margin-left:3px;  }
.main-slide-ctrl1__btn a { display: block; position:relative; width: 25px; height: 25px; border:1px solid #e6e6e6; border-radius:50%; background-color:#fff; text-indent: -1000px; }
.main-slide-ctrl1__btn a:before { position:absolute; top:6px; left:0; right:2px; margin:auto; width:6px; height:14px; background: url(../images/main/main-slider1-controls.png) no-repeat; content:'';  }
.main-slide-ctrl1__btn a:hover { background-color:#845de5; border-color:#845de5;}
.main-slide-ctrl1__btn a:hover:before { background-position: 0 -14px; }
.main-slide-ctrl1__btn.type-next a:before { left:2px; right:0; background-position: -6px 0; }
.main-slide-ctrl1__btn.type-next a:hover:before { background-position: -6px -14px; }

.main-slide-ctrl2 { overflow: hidden; position: absolute; z-index: 1; bottom: 0; right: 0; }
.main-slide-ctrl2__pager { float: left; }
.main-slide-ctrl2__pager div { float: left; }
.main-slide-ctrl2__pager a { float: left; overflow: hidden; text-indent: 100%; white-space: nowrap; background-color: #d6d6d6; width: 12px; height: 12px; margin-left: 7px; border-radius: 50%; }
.main-slide-ctrl2__pager a.active { background-color: #845de5; }
.main-slide-ctrl2__play { float: left; margin-left: 12px; }
.main-slide-ctrl2__play div { float: left; }
.main-slide-ctrl2__play a[class*="start"] { display: block; float: left; position: relative; overflow: hidden; text-indent: 100%; white-space: nowrap; width: 12px; height: 12px; }
.main-slide-ctrl2__play a[class*="start"]:before { position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto; width: 0; height: 0; border-width: 5px 0 5px 10px; border-style: solid; border-color: transparent transparent transparent #999; content: ''; }
.main-slide-ctrl2__play a[class*="stop"] { display: block; float: left; position: relative; overflow: hidden; text-indent: 100%; white-space: nowrap; width: 12px; height: 12px; }
.main-slide-ctrl2__play a[class*="stop"]:before { position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto; width: 3px; height: 10px; border-left: 3px solid #999; border-right: 3px solid #999; content: ''; }
.main-slide-ctrl2__play a.active { display: none; }

.promotion-wrap { position: relative; margin: 0 auto; overflow: hidden; }
.promotion-wrap .bx-viewport { }
.promotion-wrap .bx-viewport:before,
.promotion-wrap .bx-viewport:after { z-index:10; position:absolute; border-left:1px solid #f2f2f2; height:76px; bottom:0; content:''; }
.promotion-wrap .bx-viewport:before { left:0; }
.promotion-wrap .bx-viewport:after  {right:0; }

.main-list1>li { position: relative; -webkit-box-sizing: border-box; box-sizing: border-box; }
.main-list1>li:before { position: absolute; z-index: -1; top: 0; bottom: 0px; right: -1px; left: 0; border: 1px solid #f2f2f2; content: ''; }
.main-list1>li a { display: block; margin-left: 1px; }

.main-tab1 { position: relative; border-top: 1px solid #ccc; height: 46px; text-align: justify; font-size: 10px; padding: 0 36px; }
.main-tab1:before { position: absolute; bottom: 0; left: 0; right: 0; border-bottom: 1px solid #f2f2f2; content: ''; }
.main-tab1:after { display: inline-block; width: 100%; content: ''; }
.main-tab1>li { position: relative; display: inline-block; font-size: 13px; color: #888; }
.main-tab1>li a { display: table-cell; width: 1%; height: 45px; padding: 0 10px 1px; vertical-align: middle; }
.main-tab1>li a:focus, .main-tab1>li a:hover, .main-tab1>li.is-on a { text-decoration: none; color: #845de5; padding-bottom: 0; border-bottom: 1px solid #845de5; }


.main-edge1 { position: absolute; top: 0; right: 0; }
.main-edge1__item { float:left; margin-left:3px;}

.main-brands-wrap { position: relative; margin: 0 auto; border-left: 1px solid #fff; overflow: hidden; }
.main-brands-wrap .bx-viewport { margin-left: -1px; }

.partner-banner-wrap { padding-bottom: 26px; }

.main-box2-wrap { overflow: hidden; margin-left: -60px; }

.main-box2 { float: left; width: 100%; padding-top: 60px; }
.main-box2.col-2 { width: 478px; padding-left: 60px; }
.main-box2__head { position: relative; margin-bottom: 38px; padding-bottom: 20px; border-bottom: 1px solid #ccc; }



.main-oneday { position: relative; height: 241px; }
.main-oneday__head { z-index:10; position: absolute; left: -10000px; right: 761px; /*margin-left:10000px-253px; */ height: 241px; background: #f6d2dd url(../images/main/main-oneday-head-bg.png) no-repeat 100% 0; }
.main-oneday__body { 	position: absolute; left: 254px; width: 759px; }
.main-oneday__body-bg { position: absolute; z-index: 100; top: -1px; bottom: -1px; left:100%; width: 379px; }
.main-oneday__body-bg:before { position:absolute; top:0; bottom:0; left:0; width:297px; background: url(../images/main/main-oneday-body-bg.png) repeat-y 100% 0; content:''; }
.main-oneday__body-bg:after { position:absolute; top:0; bottom:0; left:296px; right:-1px; background-color:#fff; content:''; }
.main-oneday__list-wrap .bx-viewport { overflow: visible !important; height:auto !important; padding-right: 1px; }
.main-oneday__tit { overflow: hidden; position: absolute; width: 0; height: 0; }
.main-oneday__tit.is-view { position: static; width: auto; height: auto; }
.main-oneday__time { position: absolute; top: 123px; right: 50px; font-size: 38px; color: #fff; line-height: 1; font-family: "Arya", sans-serif; letter-spacing: .2em; text-transform: uppercase; font-weight: 400; text-indent: .2em; letter-spacing: -.03em; text-indent: 0; }
.main-oneday__time-colon { position: relative; top: -2px; }
.main-oneday__ctrl { position: absolute; bottom: 22px; right: 73px; width:182px; }
.main-oneday__ctrl-pager { display: block; color: #d9839e; text-align: center; font-size: 12px; line-height: 27px; }
.main-oneday__ctrl-btn { position: absolute; bottom: 0; left: 0; }
.main-oneday__ctrl-btn a { display: block; position:relative; width: 25px; height: 25px; border:1px solid #d8829e; border-radius:50%; text-indent: -1000px; }
.main-oneday__ctrl-btn a:before { position:absolute; top:6px; left:0; right:2px; margin:auto; width:6px; height:14px; background: url(../images/main/main-oneday-controls.png) no-repeat; content:'';  }
.main-oneday__ctrl-btn a:hover { background-color:#d8829e; border-color:#d8829e;}
.main-oneday__ctrl-btn a:hover:before { background-position: 0 -14px; }
.main-oneday__ctrl-btn.type-next { left: auto; right: 0; }
.main-oneday__ctrl-btn.type-next a:before { left:2px; right:0; background-position: -6px 0; }
.main-oneday__ctrl-btn.type-next a:hover:before { background-position: -6px -14px; }
.main-oneday__ctrl-more { position: absolute; bottom: 0; right: -29px; }
.main-oneday__ctrl-more a { display: block; position:relative; width: 25px; height: 25px; border:1px solid #d8829e; border-radius:50%; text-indent: -1000px;}
.main-oneday__ctrl-more a:focus,
.main-oneday__ctrl-more a:hover { border-color:#d8829e; background-color:#d8829e; }
.main-oneday__ctrl-more a:before,
.main-oneday__ctrl-more a:after { position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; border-width:0; border-style:solid; border-color:#d8829e; content:''; }
.main-oneday__ctrl-more a:before { width:13px; height:0; border-top-width:1px; }
.main-oneday__ctrl-more a:after { width:0; height:13px; border-top-width:1px; border-left-width:1px; }
.main-oneday__ctrl-more a:focus:before,
.main-oneday__ctrl-more a:focus:after,
.main-oneday__ctrl-more a:hover:before,
.main-oneday__ctrl-more a:hover:after { border-color:#fff; background-color:#fff; }

.main-oneday-off { height:120px; background:url(../images/main/main-oneday-off-bg.jpg) no-repeat; }
.main-oneday-off:after {display:inline-block;height:100%;vertical-align:middle;content:'';}
.main-oneday-off__timer { display:inline-block;vertical-align:middle;margin-left:151px;}


.main-btn-more1 { overflow:hidden; -webkit-box-sizing:border-box; position:relative; box-sizing:border-box;display:inline-block; width:27px; height:27px; border-radius:50%; border:1px solid #845de5; background-color:#fff; text-indent:-200%; text-align:left; white-space:nowrap; }
.main-btn-more1:before,
.main-btn-more1:after { position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; border-width:0; border-style:solid; border-color:#845de5; content:''; }
.main-btn-more1:before { width:13px; height:0; border-top-width:1px; }
.main-btn-more1:after { width:0; height:13px; border-top-width:1px; border-left-width:1px; }

.page-main .product-item { height:338px; }
.page-main .product-item__label1 { display:none; }
.page-main .product-item__brand1 { margin-top:12px; }
.page-main .product-list.list-22>li:first-child .product-item,
.page-main .product-list.list-22>li:first-child+li .product-item,
.page-main .product-list.list-22-22>li:first-child .product-item,
.page-main .product-list.list-22-22>li:first-child+li .product-item,
.page-main .product-list.list-22-22>li:first-child+li+li .product-item,
.page-main .product-list.list-22-22>li:first-child+li+li+li .product-item,
.page-main .product-list.list-211>li:first-child .product-item,
.page-main .product-list.list-211-112>li:first-child .product-item,
.page-main .product-list.list-211-112>li:first-child+li+li+li+li+li+li+li+li+li .product-item,
.page-main .product-list.list-112>li:first-child+li+li+li+li .product-item,
.page-main .product-list.list-112-211>li:first-child+li+li+li+li .product-item,
.page-main .product-list.list-112-211>li:first-child+li+li+li+li+li .product-item { height: 675px; }

.main-banner1 { margin-top:10px; margin-bottom:20px; }
.main-banner1 img { vertical-align:top; }


/*중문*/
.rolling-box { position:relative; display:table; width:100%; box-sizing:border-box; height:421px; border:1px solid #e5e5e5; }
.rolling-box__head { display:table-cell; vertical-align:top; width:198px;}
.rolling-box__body { display:table-cell; vertical-align:top; border-left:1px solid #e5e5e5; }
.rolling-box__content { }
.rolling-box__content:after { clear:both; display:table; height:0; content:''; }
.rolling-box__col1 { float:left; position:relative; width:308px; border-right:1px solid #f2f2f2; }
.rolling-box__col2 { float:left; position:relative; width:508px; margin-left:-2px; margin-bottom:-1px;}

.rolling-menu { /*border:1px solid #e5e5e5;*/ color:#333; font-size:14px; line-height:1.3; text-align:left; }
.rolling-menu__item { }
.rolling-menu__link { position:relative; display:block; height:38px; line-height:36px; padding:0 16px; }
.rolling-menu__link:before { display:block; border-top:1px solid #f2f2f2; content:''; margin-top:-1px; }
.rolling-menu__item:first-child .rolling-menu__link:before { border-top:none; }
.rolling-menu__item.is-on .rolling-menu__link,
.rolling-menu__link:hover { z-index:1; background-color:#d53f6c; color:#fff; margin-left:-1px; margin-right:-1px; padding-left:17px; padding-right:17px; }
.rolling-menu__item.is-on .rolling-menu__link:before,
.rolling-menu__link:hover:before { border-top-color:#d53f6c; }

.rolling-slide-wrap {position:relative; margin-top:-1px; }
.rolling-slide { overflow:hidden; margin-top:-1px; height:418px; line-height:1.3; text-align:center; }
.rolling-slide-wrap .rolling-slide { margin-top:0; }
.rolling-slide__link { float:left; display:block; height:418px;}
.rolling-slide__pager { z-index:1; position:absolute; top:15px; right:14px; }
.rolling-slide__pager .bx-pager-item { float:left; margin-left:7px; }
.rolling-slide__pager .bx-pager-item a { overflow:hidden; display:block; width:12px; height:12px; border-radius:50%; background-color:#000; background-color:rgba(0,0,0,.16); text-align:left; white-space:nowrap; text-indent:-100%; -ms-transition:background-color .5s; -webkit-transition:background-color .5s; transition:background-color .5s; }
.rolling-slide__pager .bx-pager-item .active{ background-color:#d53f6c; }

.rolling-list { overflow:hidden; position:relative; left:1px; width:508px; height:421px; margin-top:-1px; word-break:break-all; background:url(../images/main/rolling-list-bg.png); }
.rolling-list:before { position:absolute; top:0; bottom:0; left:0; right:0; border:1px solid #e5e5e5; content:''; }
.rolling-list__item { float:left; position:relative; width:124px; height:104px; margin:1px 1px 0 1px; padding-left:1px; background-color:#f2f2f2;text-align:center; }
.rolling-list__link { display:block; position:relative; height:100%; width:125px; margin-left:-1px; background-color:#fff; font-size:0; white-space:nowrap; }
.rolling-list__link:before { display:inline-block; height:100%; content:''; vertical-align:middle; }
.rolling-list__link:after { visibility:hidden; opacity:0; position:absolute; top:-1px; left:-1px; bottom:-1px; right:-1px; background-color:#000; background-color:rgba(0,0,0,.8); content:''; -ms-transition:opacity .3s; -webkit-transition:opacity .3s; transition:opacity .3s; }
.rolling-list__img { position:absolute; top:0; right:0; bottom:0; left:0; max-width:100%; max-height:100%; margin:auto; vertical-align:middle; }
.rolling-list__txt { visibility:hidden; opacity:0; z-index:1; position:relative; display:inline-block; font-size:12px; color:#fff; -ms-transition:opacity .3s; -webkit-transition:opacity .3s; transition:opacity .3s; white-space:normal; vertical-align:middle; }
.rolling-list__link:hover .rolling-list__txt { visibility:visible; opacity:1; }
.rolling-list__link:hover:after { visibility:visible; opacity:1; }

.rolling-list-refresh { position:absolute; bottom:1px; right:0; width:125px; height:103px; padding:0; background-color:#fff; border:none; text-indent:-100%; overflow:hidden; white-space:nowrap;text-align:left; -ms-transition:background-color .3s; -webkit-transition:background-color .3s; transition:background-color .3s;}
.rolling-list-refresh:before { position:absolute; top:50%; left:50%; width:59px; height:59px; margin:-29px 0 0 -29px; background:url(../images/main/rolling-list-refresh.png) no-repeat; content:''; }
.rolling-list-refresh:hover { bottom:0; right:-1px; width:127px; height:105px; background-color:#d53f6c; }
.rolling-list-refresh:hover:before { transform:rotate(360deg); -ms-transition:transform .3s; -webkit-transition:transform .3s; transition:transform .3s; background-position:100% 0;}

.main-best { }
.main-best_color1 .main-best__tit { color:#5b9e8e; }
.main-best_color1 .main-best__body { border-color:#5b9e8e; background-color:#61bdaa; }
.main-best_color2 .main-best__tit { color:#a63e4f; }
.main-best_color2 .main-best__body { border-color:#a63e4f; background-color:#cd5768; }
.main-best_color3 .main-best__tit { color:#df8770; }
.main-best_color3 .main-best__body { border-color:#df8770; background-color:#ea9f8a; }
.main-best_color4 .main-best__tit { color:#d07381; }
.main-best_color4 .main-best__body { border-color:#d07381; background-color:#e58798; }
.main-best_color5 .main-best__tit { color:#9b896c; }
.main-best_color5 .main-best__body { border-color:#9b896c; background-color:#bd9a61; }
.main-best_color6 .main-best__tit { color:#787eaf; }
.main-best_color6 .main-best__body { border-color:#787eaf; background-color:#7d83c9; }
.main-best_color7 .main-best__tit { color:#af7c66; }
.main-best_color7 .main-best__body { border-color:#af7c66; background-color:#cc8b69; }
.main-best_color8 .main-best__tit { color:#548f52; }
.main-best_color8 .main-best__body { border-color:#548f52; background-color:#57aa58; }
.main-best_color9 .main-best__tit { color:#4587a9; }
.main-best_color9 .main-best__body { border-color:#4587a9; background-color:#559fc9; }
.main-best_color10 .main-best__tit { color:#8c9740; }
.main-best_color10 .main-best__body { border-color:#8c9740; background-color:#a5b73f; }
.main-best__head { margin:39px 0 25px; }
.main-best__tit { color:#d53f6c; font-size:26px; line-height:1; }
.main-best__body { display:table; width:100%; height:660px; border-top:2px solid #d53f6c; background-color:#d53f6c; }
.main-best__col1 { width:200px; }
.main-best__col2 { display:table-cell; width:816px; background-color:#fff; vertical-align:top; }
.main-best__single-item { height:225px; background-color:#D56A8A; }

.main-menu { font-size:14px; color:#fff; text-align:left; margin-bottom:-1px; padding-top:1px; }
.main-menu_margin { margin:25px 16px 0; }
.main-menu__item { position:relative; margin-top:-1px; }
.main-menu__item:first-child .main-menu__link { padding-top:1px; }
.main-menu__item:last-child .main-menu__link { padding-bottom:1px; }
.main-menu__item:first-child .main-menu__link:not(:hover) { border-top:none; }
.main-menu__item:last-child .main-menu__link:not(:hover) { border-bottom:none; }
.main-menu__item:first-child .main-menu__link:hover { padding-top:0; }
.main-menu__item:last-child .main-menu__link:hover { padding-bottom:0; }
.main-menu__link { overflow:hidden; display:block; padding-left:2px; padding-right:10px; border-width:1px 0 1px 0; border-style:solid; border-color:#fff; border-color:rgba(255,255,255,.1); line-height:36px; vertical-align:middle; white-space:nowrap; text-overflow:ellipsis;  }
.main-menu__link::after { position:absolute; right:5px; top:50%; margin-top:-3px;  width:5px; height:5px; border-width:0 2px 2px 0; border-style:solid; border-color:#fff; border-color:rgba(255,255,255,.3); content:''; -ms-transform:rotate(-45deg); -webkit-transform:rotate(-45deg); transform:rotate(-45deg); -ms-transition:border-color .5s; -webkit-transition:border-color .5s; transition:border-color .5s; }
.main-menu__link:hover { background-color:rgba(255,255,255,.1); border-color:rgba(255,255,255,.1); }
.main-menu__link:hover { }
.main-menu_margin .main-menu__link:hover { margin-left:-16px; margin-right:-16px; padding-left:18px; padding-right:26px; }
.main-menu__link:hover::after { border-color:#fff; }
