@charset "UTF-8";

/* 기획전 */
.plan {}
.plan-banner {}
.plan-banner2 {border-top:1px solid #333333;}
.plan-search {}
.plan-search_detail-button {position:relative; display:inline-block; height:inherit; vertical-align:middle; border:1px solid #c3b1f6; box-sizing:border-box; font-size:15px; line-height:1;}
.plan-search_detail-button span {display:inline-block; line-height:1; word-break:keep-all; vertical-align:middle; color:#845de5; font-weight:bold; padding:0 12px 0 14px;}
.plan-search_detail-button:before {display:inline-block; content:''; height:100%; vertical-align:middle;}
.plan-search_detail-button:after {content: ''; width:36px; height:18px; vertical-align:middle; border-left:1px solid #e7e0fb; display:inline-block; background:url(../images/plan/search-arrow-ico.png) center center no-repeat;}
.plan-search_detail-area {display:none;}
.plan .tit1 {position:relative;}

.plan-brandlist {position:relative;}
.plan-brandlist:after {content:''; position:absolute; top:0; left:-9999px; right:-9999px; border-top:1px solid #cccccc;}
.timesale-brand_ci2 {max-height:128px; overflow:hidden;}
.timesale-brand_ci2 ul {position:relative;}
.timesale-brand_ci2 ul:before {content:''; position:absolute; top:1px; left:0px; bottom:0px; z-index:2; border-left:1px solid #ffffff;}
.timesale-brand_ci2 ul:after {content:''; display:block; clear:both;}
.timesale-brand_ci2 ul li {position:relative; float:left; width:16.66%; height:64px; box-sizing:border-box; text-align:center; border-bottom:1px solid #f2f2f2;}
.timesale-brand_ci2 ul li:before {content:''; position:absolute; top:20px; left:0px; height:22px; border-left:1px solid #f2f2f2;}
.timesale-brand_ci2 ul li a {display:block; height:inherit; vertical-align:middle;}
.timesale-brand_ci2 ul li a:before {content:''; display:inline-block; height:100%; vertical-align:middle;}
.timesale-brand_ci2 ul li a img {vertical-align:middle;}

.brand-list2 {max-height:128px; overflow:hidden;}
.brand-list2 ul {position:relative;}
.brand-list2 ul:before {content:''; position:absolute; top:1px; left:0px; bottom:0px; z-index:2; border-left:1px solid #ffffff;}
.brand-list2 ul:after {content:''; display:block; clear:both;}
.brand-list2 ul li {position:relative; float:left; width:16.66%; height:64px; box-sizing:border-box; text-align:center; border-bottom:1px solid #f2f2f2;}
.brand-list2 ul li:before {content:''; position:absolute; top:20px; left:0px; height:22px; border-left:1px solid #f2f2f2;}
.brand-list2 ul li a {display:block; height:inherit; vertical-align:middle;}
.brand-list2 ul li a:before {content:''; display:inline-block; height:100%; vertical-align:middle;}
.brand-list2 ul li a img {vertical-align:middle;}




.banner-list1 { overflow:hidden; position:relative; height:392px; }
.banner-list1 img { max-width:100%;}
.banner-list1__tit { position:relative; z-index:1; width:270px; height:46px; background:#041a3b url(../images/common/banner-list1-tit-bg.png) no-repeat; color:#fff; font-size:13px; font-family:'Arya','Nanum Barun Gothic',sans-serif; letter-spacing:.5em; text-indent:.5em; text-transform:uppercase; }
.banner-list1__tit-inner { display:table-cell; width:1%; height:inherit; vertical-align:middle; text-align:center; }
.banner-list1__ctrl { position:absolute; bottom:0; left:0; }
.banner-list1__btn-prev { display:none; }
.banner-list1__btn-next { overflow:hidden; display:block; position:relative; z-index:1;height:17px; width:268px; border-width:1px; border-style:solid; border-color:#e9e9e9 #ccc #ccc; background-color:#f7f7f7; text-indent:-100%; }
.banner-list1__btn-next:before { position:absolute; top:0; left:0; right:0; bottom:0; width:11px; height:5px; margin:auto; background:url(../images/common/banner-list1-btn.png) 0 100% no-repeat; content:''; }
.banner-list1__list { width:268px; border-left:1px solid #ccc; border-right:1px solid #ccc; background-color:#fff; }
.banner-list1__item { border-bottom:1px solid #f2f2f2; }
.banner-list1__subject { position:relative; z-index:1; height:40px; font-size:13px; line-height:40px;  }
.banner-list1__subject a { overflow:hidden;display:block; height:100%; padding:0 19px;white-space:nowrap; text-overflow:ellipsis; }
.banner-list1__img-wrap { display:none; position:absolute; top:0; right:0; left:0; text-align:right; }
.banner-list1__img-wrap:before { position:absolute; z-index:100; right:10px; bottom:10px; color:blue; font-size:30px; }
.banner-list1__btn-play { display:none; position:absolute; z-index:2; top:0; right:0; }
.banner-list1__btn-pause { display:none; position:absolute; z-index:2; top:0; right:0; }

.banner-list1__item.is-on .banner-list1__subject { background-color:#845de5; color:#fff; }
.banner-list1__item.is-on .banner-list1__img-wrap { display:block; }

.brand-head1 { position:relative; height:53px;}
.brand-head1__tit { display:table-cell; width:1%; height:inherit; vertical-align: middle;text-align: center;}
.brand-head1__tit>img {vertical-align: middle;}
.brand-head1__edge-right { position: absolute; top: 0;bottom: 0;right: 0;margin: auto;}
.brand-head1__edge-right:before { display: inline-block;vertical-align: middle;height: 100%;content:''; }