@charset "UTF-8";

.popup-wrap { background-color:#fff; }
.popup-head { position:relative; height:58px; padding:0 65px; border-bottom:1px solid #333; text-align:center; }
.popup-head:before,
.popup-head:after { display:inline-block; height:100%; content:''; vertical-align:middle; font-size:0; }
.popup-head__center { display:inline-block; vertical-align:middle; }
.popup-head__right { position:absolute; top:0; right:0; height:100%; }
.popup-head__left { position:absolute; top:0; left:0; height:100%; }
.popup-tit { text-align:center; color:#010101; font-size:18px; line-height:1.3; font-weight:400; text-shadow:0.5px 0 0;}
.popup-close { overflow:hidden; width:65px; height:inherit; padding:0; border:none; background:url(../images/common/dialog-close1.png) no-repeat 50% 50%; text-indent:-200%; }

.popup-head2 { margin:12px 0; position:relative; text-align:center; }
.popup-head2_next { margin-top:40px; }
.popup-head2__right { position:absolute; bottom:0; right:0; }
.popup-head2__left { position:absolute; bottom:0; left:0; }
.popup-tit2 { color:#010101; font-size:15px; line-height:1; font-weight:400; text-shadow:0.5px 0 0;}

.popup-body { padding:30px 24px; }

.popup-order-item-col1 { width:170px; }
.popup-order-item-col2 { }
.popup-order-item-col3 { width:50px; }
.popup-order-item-col4 { width:90px; }

.popup-payment-info-col2 { width:200px; }

.popup-price-total { position:relative; overflow:hidden; padding:0 20px; border-top:1px solid #8561ec; border-bottom:1px solid #8561ec; background-color:#efeafb; line-height:60px; font-size:15px; color:#855bef; }
.popup-price-total__term { float:left; }
.popup-price-total__discribe { float:right; font-size:18px; }
.popup-price-total__color1 { color:#ab95ec; }

.popup-payment-system-col { width:180px;}

.popup-button-group { text-align:center; }

@page {

 }

@media print {
	.popup-head,
	.popup-button-group { display:none; }
}