@charset "UTF-8";

/* 상품상세페이지 (테이블공통) */
.product-detail_table {width:100%; height:100%; max-height:100%; border-bottom:1px solid #d8d8d8;}
.product-detail_table thead th,
.product-detail_table tbody th {background:#fafafa;}
.product-detail_table thead th {border-bottom:1px solid #d8d8d8; height:53px; font-weight:700; color:101010; font-size:15px; }
.product-detail_table tbody th {-webkit-box-sizing:border-box;box-sizing:border-box;padding:0 21px; width:130px; text-align:left; border-right:1px solid #f2f2f2; font-size:15px; color:#666666;}
.product-detail_table td {background:#fff; color:#333; font-size:19px;}
.product-detail_table tbody th,
.product-detail_table tbody td {border-top:1px dotted #d8d8d8; height:51px; padding:9px 20px; box-sizing:border-box; font-weight:500;}
.product-detail_table__full:nth-child(n) { height:100% !important; padding-top:0; padding-bottom:0; }

/* 상품상세페이지 (체크포인트) */

/* 상품상세페이지 (타이틀) */
.product-detail_title { position:relative; margin-top:45px; padding:0 160px 22px;text-align:center; border-bottom:1px solid #333; line-height:1; }
.product-detail_title-pbrand { margin-bottom:7px; font-size:24px;color:#8561ec;}
.product-detail_title-pname { font-size:18px; color:#333; line-height:1.3;}
/*.product-detail_title-pcode {position:relative; margin-top:22px; padding:17px 0; border-top:1px solid #333333; border-bottom:1px solid #d8d8d8;}*/
.product-detail_product-brandmall {position:absolute; bottom:22px; right:0px;}
.product-detail_product-brandmall img {vertical-align:middle;}
.product-detail_product-brandmall span {padding-right:10px; background:url("../images/product/product-detail_arrow.png") right center no-repeat;}

/* 상품상세페이지 (상품정보) */
.product-detail_info {margin-top:30px;}
.product-detail_info-wrap { position:relative; border-top:2px solid #8561ec;}
.product-detail_info-wrap:after {display:block; content:''; clear:both;}
/*.product-detail_info-price {float:left; width:50%; box-sizing:border-box;}*/
.product-detail_info-price {width:50%; box-sizing:border-box;}
.product-detail_info-price .after-login {border-bottom:1px solid #845de5;}
/*.product-detail_info-buying {float:left; width:50%; box-sizing:border-box; border-left:1px solid #f2f2f2;}*/
.product-detail_info-buying {position:absolute; top:0; right:0; bottom:0; width:50%; box-sizing:border-box; border-left:1px solid #f2f2f2;}
.product-detail .product-detail_buying {display:inline-block;width:100%;}
.product-detail .buying-info { background-color:#fafafa; text-align:center;}
.product-detail .buying-info a,
.product-detail .buying-info button { color:#666; display:inline-block; border:none; background-color:transparent; font-size:15px; }
.product-detail_buying {}
.product-detail_buying-totalinfo {border-bottom:1px solid #d8d8d8; padding-bottom:12px; line-height:24px;}
.product-detail_buying-totalinfo:after {display:block; content:''; clear:both;}
.product-detail_soldout {font-size:18px; margin:15px 0; line-height:1.4; text-align:center;}
.product-detail_buying-totaltitle {float:left; font-size:18px; color:#845de5; }
.product-detail_buying-totalprice {float:right; font-size:24px; color:#845de5; }
.product-detail_buying-totalprice .subspan {color:#c2b1f4; font-size:22px;}
.product-detail_info-buttongroup1 {margin-top:10px;}
.product-detail_info-buttongroup1:after {content:''; display:block; clear:both;}
.product-detail_info-buttonwrap {width:33.33%; float:left;}
.product-detail_info-buttonwrap a {display:block; width:100%;}
.product-button1 {padding:0 2px 0 0;}
.product-button2 {padding:0 1px 0 1px;}
.product-button3 {padding:0 0 0 2px;}
.product-detail_info-button1 {float:left; width:232px;}
.product-detail_info-button2 {float:right; width:232px;}
.product-detail_info-buttongroup2 {margin-top:3px;}
.product-detail_info-button3 {width:100%; height:56px; border:1px solid #d8d8d8; font-size:16px; color:#666;}
.product-detail_info-warning {padding:13px 0; margin-top:10px; border:1px solid #e5e5e5; text-align:center; font-size:13px; }

/* 상품상세페이지 (탭) */
.product-detail_tab {margin-bottom:60px;}
.product-detail_tab-menu {padding-top:60px;}
.product-detail_tab-menu .tab3 li.is-on a {background:#845de5; color:#fff;}
.product-detail_tab-cont {}
.product-detail_tab1 {}
.th-w230px {margin-bottom:50px !important;}
.th-w230px th {width:230px !important;}
.td-p10px td {padding:16px 30px !important;}
.product-detail_tab1-title {padding:20px 0;}
.product-detail_tabtitle {display:inline-block; padding:0 10px;}
.product-detail_tabtitle + .product-detail_tabtitle {border-left:1px solid #f2f2f2;}
.product-detail_tab2 {}

/* 상품상세페이지 (이벤트) */
.product-detail_event {position:relative; margin-top:40px;  /* border-right:none; border-bottom:none; /* 1px solid #8561ec */}
.product-detail_event:before {position:absolute; z-index:1; content:''; border:1px solid #d8d8d8; top:0px; left:0px; right:0px; bottom:0px;}
.product-detail_event ul {position:relative; z-index:2; overflow:hidden; font-size:0;}
.product-detail_event-moresub {position:relative;z-index:-1;max-height:0;overflow:hidden;visibility:hidden;}
.product-detail_event ul:before {content:''; position:absolute; width:0; top:0; left:0; right:0; bottom:0; border-left:1px solid #d8d8d8; margin:auto;}
.product-detail_event ul:after {content:''; display:block; clear:both;}
.product-detail_event-item {display:inline-block; width:50%; box-sizing:border-box; position:relative; vertical-align:top;font-size:12px; }
.product-detail_event-item:after {content:''; border-top:1px solid #d8d8d8; position:absolute; top:0px; left:-1000px; right:-1000px;}
.product-detail_event-itemwrap {padding:30px;}
.product-detail_event-info { margin-bottom:20px;}
.product-detail_event-info:after {content:''; display:block; clear:both;}
.product-detail_event-txt {overflow:hidden;}
.product-detail_event-title {display:table-cell;position:relative; padding-left:50px; line-height:1.4; max-height:2.8em; height:2.8em;color:#8561ec; font-size:15px; font-weight:bold;vertical-align:middle;}
.product-detail_event-title:before {position:absolute; top:0px; left:0px; content:''; display:inline-block; width:36px; height:36px; border:1px solid #e5e5e5; background:url("../images/common/ico-gift1.png") center center no-repeat;}
.product-detail_event-date {padding:5px 0 20px 0; line-height:1.5; color:#333; font-size:12px;overflow:hidden}
.product-detail_event-desc { line-height:1.5; color:#666; font-size:13px;}
.product-detail_event-img {float:right;max-height:144px;max-width:144px;margin-left:10px;text-align:center;}
.product-detail_event-img img {max-width:inherit; max-height:inherit; }
.product-detail_event-description {border-top:1px solid #e5e5e5; padding-top:18px;}


/* 상품상세페이지 - 팝업 */
.product-detail_popuptable {border:1px solid #d8d8d8;}
.product-detail_popuptable th {background:#fff; border-right:1px solid #d8d8d8;}
.product-detail_popuptable td {font-size:13px; color:#666;}
.product-detail_popup-addtd {background:#fafafa!important; border-left:1px solid #d8d8d8; line-height:1.6;}
.product-detail_popuptable.last-table {margin-bottom:40px;}

/* 상품상세페이지 - 상품평 테이블관련*/
.productdetail-col-num { width:100px; }
.productdetail-col-grade { width:103px; }
.productdetail-col-photo { width:80px; }
.productdetail-col-writer { width:140px; }
.productdetail-col-date { width:100px; }
.grade-star {position:relative; z-index:1; width:60px; height:11px; margin:0 auto; background:url("../images/product/grade-star_off.png") 0 0 no-repeat;}
.grade-star:after {position:absolute; top:0px; left:0px; content:''; width:0px; height:inherit; background:url("../images/product/grade-star_on.jpg") 0 0 no-repeat;}
.grade-star.s1:after {width:12px;}
.grade-star.s2:after {width:24px;}
.grade-star.s3:after {width:36px;}
.grade-star.s4:after {width:48px;}
.grade-star.s5:after {width:60px;}
.product-detail_reviews-label {display:inline-block; padding: 2px 7px; border: 1px solid #e5e5e5; border-radius: 10px; background-color: #fff; font-size: 11px; color: #888; line-height: 1; }
.product-detail_reviews-title {text-align:left; padding:0 20px;}
.product-detail_reviews-link {display:inline-block; width:auto; height:inherit; max-width:405px; color:#101010; font-size:13px; font-weight:500; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; vertical-align:middle;}
.product-detail_reviews-link.type-img {padding-left:28px; max-width:375px; background:url("../images/product/reviews-camera_ico.png") 0 center no-repeat;}
.product-detail_reviews-content {background:#fafafa; padding:0px!important; height:0px!important; text-align:left!important; border-top:none!important;}
.product-detail_reviews-contentwrap {display:none; padding:30px 100px; line-height:1.7; border-top:1px solid #d8d8d8;}
.product-detail_reviews-nodata {padding:42px 0!important;}

/* 상품상세페이지 - 브랜드스토리 */
.product-detail_brandstory-img {margin-top:25px;}
.product-detail_brandstory-img:after {display:block; content:''; clear:both;}
.product-detail_brandstory-img img {width:100%; float:left;}
.product-detail_brandsotry-info {border:1px solid #e5e5e5;}
.product-detail_brandstory-description {line-height:1.7;}
.product-detail_brand-ci {margin:41px 0 8px 0; text-align:center;}
.product-detail_brandstory-text {padding:0 24px 40px 24px;}

/* 상품상세페이지 - 상품평 페이지네이션 */
.product-detail_review-pagination {margin:50px 0;}

/* 상품상세페이지 - 브랜드평 페이지네이션 */
.product-detail_brandreview-pagination {margin:50px 0;}

/* 상품상세페이지 - 취소/교환/환불 블릿 */
.product-detail_brandstory-bltwrap {counter-reset:section;}
.product-detail_brandstory-blt { padding-left:.8em; line-height:1.3;}
.product-detail_brandstory-blt:before { position:absolute; counter-increment:section; content:counter(section)". "; margin-left:-.9em; margin-top:0; color:inherit; }

/* 상품상세페이지 - 상품인도 */
.product-detail_accordion-map {}
.product-detail_accordion-mapdesc {padding:30px;}

/* 상품상세페이지 - 면세점 유의사항*/
#product-detail_tab7 .blt1 {line-height:1.6;}

/* 상품상세페이지 - 메인슬라이드 */
.product-detail_pslide {position:relative;}
.product-detail_slide-saleinfo {position:absolute; top:0px; left:0px;}
.product-detail_slide-labelgroup {width:73px; text-align:center;}
.product-detail_gearlabel {display:block; font-size:23px; height:60px; color:#fff; letter-spacing:-1px; padding:16px 0 0 2px; background:url("../images/product/product-detail_gear-abel.png") 0 0 no-repeat;}
.product-detail_gearlabel-percenttxt {font-size:14px; margin-left:3px;}
.product-detail_gearlabel-saletxt {display:block; font-size:13px; letter-spacing:3px; margin-top:-6px;}
.product-detail_slide-labelgroup .label1 {margin-top:2px;}
.product-detail_pslide {margin:30px 0;}
.product-detail_mainslide .bx-wrapper {margin:0 auto;}
.product-detail_mainslide .slider4 {height:350px; white-space:nowrap; text-align:center; }
.product-detail_mainslide .slide { display:inline-block; position:relative; width:350px; height:350px; vertical-align:middle;}
.product-detail_mainslide .bx-pager {text-align:center; margin-top:0px; width:77px; position: absolute; right: 0; top:0}
.product-detail_mainslide .bx-pager a {display:inline-block; width:65px!important; margin-left:1px; margin-right: 1px; padding:4px; border:1px solid #d8d8d8; border-top:none; border-bottom:none;}
.product-detail_mainslide .bx-pager a img {width:100%; height:100%;}
.product-detail_mainslide .bx-pager a.active,
.product-detail_mainslide .bx-pager a.active + a,
.product-detail_mainslide .bx-pager a.cssClone {border:1px solid #8561ec; border-top:none; border-bottom:none;}
.product-detail_mainslide .bx-pager a.active {}

.product-detail_mainslide .bx-wrapper2{text-align:center; margin-top:0px; width:77px; position: absolute; right: 0; top:20px}
.product-detail_mainslide .bx-wrapper2 .bx-controls.bx-has-controls-direction{ position: absolute; top:-20px; left:0; display: none}
.product-detail_mainslide .bx-wrapper2 .bx-controls.bx-has-controls-direction .bx-prev{ position: absolute;left:0;top:0px;display: block ;width: 75px; height:21px; background: url(http://image.dwdfs.com/DH/HTML/MPP/2017/09/before_arrow.jpg) no-repeat; text-indent: -9999px; margin-left: 1px}
.product-detail_mainslide .bx-wrapper2 .bx-controls.bx-has-controls-direction .bx-next{ position: absolute;left:0; top:328px;display: block ;width: 75px; height:21px; background: url(http://image.dwdfs.com/DH/HTML/MPP/2017/09/after_arrow.jpg) no-repeat; text-indent: -9999px; margin-left: 1px }

/* 상품상세페이지 - 모든페이지 공통 */
.product-detail .gray-d8d8d8 {color:#d8d8d8;}
.product-detail_spinner {width:92px;}
.color-141414 {color:#141414;}
.color-010101 {color:#010101;}
.color-888888 {color:#888888;}
.product-detail_label {background:#8561ec; color:#fff; border-radius:15px; font-size:11px; padding:2px 7px; margin-left:5px;}
.tab5 li.is-on .product-detail_label { background-color:#fff; color: #8561ec; z-index: 1; }



#productTab.js-fixed { position:fixed;z-index:700; top:55px; margin-top:14px; /* left:0; right:0; */ width:1016px; margin-left:auto; margin-right:auto;}
.js-tab-bg { z-index:100; position:fixed; top:0; left:0; right:0; width:1016px; height:70px; margin:auto; background-color:#fff; }


.product-info-box { min-height:100px;  line-height:1.6;  padding: 20px 10px;  border: none;  border-top:1px solid #8561ec;  font-size: 13PX; line-height: 23PX!important}
.product-info-box strong{ color: #333333!important}
.product-info-box img { position: relative; vertical-align:middle; margin: 10px 0 ;left:50%;transform:translateX(-50%);}

.product-card-info { display:none; z-index:100; position:absolute; right:0; width:508px; background-color:#fff; }
.product-card-info .dialog-layout { display:block;}
.product-card-info-table { font-size:12px; }
.product-card-info-table-col { width:33.333%; }