@charset "UTF-8";



/* 통합검색 상세페이지 탭관련 */
.search-detail_tab2wrap {padding:11px 0;}
.search-detail_tab2wrap:after {display:block; content:''; clear:both;}
.search-detail_tab2menu {float:right; }
.search-detail_tab2-1cont {width:100%; border-left:1px solid #f2f2f2; box-sizing:border-box;}
.search-detail_bottomline {background-color:#f2f2f2; height:1px; margin-top:-1px; margin-bottom:70px;}
.search-detail_tab2-1cont:after {content:''; display:block; clear:both;}
.search-detail_tab2-1cont li {float:left; width:16.66%; border:1px solid #f2f2f2; border-top:none; border-left:none; text-align:center; box-sizing:border-box;}
.search-detail_tab-listitems {display:block; height:112px; padding:10px; vertical-align:middle;}
.search-detail_tab-listitems:before {display:inline-block; height:100%; content:''; vertical-align:middle;}
.search-detail_tab-listitems img {vertical-align:middle; max-width:144px;}
.searchdetail-accordion_content {background:#fafafa; padding:30px 20px;}
.searchdetail-pagination {margin:50px 0 80px 0;}



/* 고객센터 탭 - 이용안내 결과 */
.searchdetail-infouse_result {border-bottom:1px solid #d8d8d8;}
.searchdetail-infouse_li {position:relative; border-top:1px solid #b8b8b8;}
.searchdetail-infouse_li-a {display:block; height:48px; line-height:48px; padding-left:20px; background:#fafafa; cursor:default;}
.searchdetail-infouse_content {border-top:1px solid #d8d8d8;}
.searchdetail-infouse_content-wrap {padding:27px 20px;}
.searchdetail-infouse_cont-title {}
.searchdetail-infouse_cont-desc {padding:20px 0; line-height:1.7;}
.searchdetail-infouse_cont-more {margin-bottom:20px;}
.searchdetail-infouse_cont-more a {display:inline-block; padding-bottom:2px; border-bottom:1px solid #8e60eb;}



/* 고객센터 탭 - 공지사항 */
.searchdetail-col-num { width:100px; }
.searchdetail-col-writer { width:120px; }
.searchdetail-col-date { width:120px; }
.search-detail_reviews-label {display:inline-block; padding: 2px 7px; border: 1px solid #e5e5e5; border-radius: 10px; background-color: #fff; font-size: 11px; color: #888; line-height: 1; }
.search-detail_reviews-title {text-align:left; padding:0 20px;}
.search-detail_reviews-link {display:inline-block; width:auto; height:inherit; max-width:565px; color:#101010; font-size:13px; font-weight:500; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; vertical-align:middle;}
.search-detail_reviews-link.type-img {padding-left:28px; max-width:375px; background:url("../images/product/reviews-camera_ico.png") 0 center no-repeat;}
.search-detail_reviews-content {background:#fafafa; padding:0px!important; height:0px!important; text-align:left!important; border-top:none!important;}
.search-detail_reviews-contentwrap {display:none; padding:30px 100px; line-height:1.7; border-top:1px solid #d8d8d8;}
.search-detail_reviews-nodata {padding:42px 0!important;}



/*슬라이드토클*/
.option-pick{ margin-top: -1px}
.slide_toggle{ display: none}
.option-pick__cell.add_btn { position: relative; width: 55px; padding: 10px 0; text-align: center; }
.option-pick__cell.add_btn .slide_btn{ display:block; width: 32px; height: 32px; background: url(http://image.dwdfs.com/DH/HTML/MPP/2017/09/add_btn.jpg) no-repeat; text-indent: -99999px}
.option-pick__cell.add_btn .slide_btn.on{background: url(http://image.dwdfs.com/DH/HTML/MPP/2017/09/min_btn.jpg) no-repeat;}