@charset "UTF-8";



/* 스페셜오더 */
.special {}
.special-banner {position:relative; text-align:center;}
.special-banner_button {position:absolute; left:435px; top:185px; background:#845de5; color:#fff; width:146px; height:42px; line-height:2.7; font-size:15px; color:#fff;}
.special-title {position:relative; font-size:24px; color:#333333; text-align:center; margin-top:45px; padding-bottom:24px;}
.special-intro {position:relative; padding:36px 0; border-bottom:1px solid #f2f2f2;}
.special-intro:before {content:''; position:absolute; top:0px; right:-1000px; left:-1000px; border-top:1px solid #cccccc;}
.special-intro_row {}
.special-intro_text {font-size:18px; color:#101010; padding-left:358px; background:url(../images/special/special-text.png) 150px 0 no-repeat; line-height:1.6;}
.special-intro_list {display:block; padding:32px 75px 0 75px;}
.special-intro_list li {display:table-cell; width:1%; text-align:center; font-size:13px; color:#333333; line-height:3.3; position:relative;}
.special-intro_list-item {position:relative; display:inline-block; padding-left:45px;}
.special-intro_list-item:before {content:''; position:absolute; background:url(../images/special/special-ico.png) 0 0 no-repeat; width:40px; height:40px; top:0px; left:0px;}
.special-intro_list li + li .special-intro_list-item:before {background-position:-39px 0px;}
.special-intro_list li + li + li .special-intro_list-item:before {background-position:-79px 0px;}
.special-orderstep {padding:36px 0; border-top:1px solid #cccccc; border-bottom:1px solid #f2f2f2;}
.special-orderstep ul {}
.special-orderstep ul li {position:relative; display:table-cell; width:1%; padding:0 20px;}
.special-orderstep ul li:before {content:''; display:block; width:7px; height:7px; position:absolute; top:36px; left:-3px; background:url(../images/special/special-arrow.png) 0 0 no-repeat;} 
.special-orderstep ul li:first-child:before {display:none;}
.special-orderstep_title {text-align:center; font-size:15px; color:#8f61ec;  padding-bottom:20px; margin-bottom:20px; border-bottom:1px solid #d8d8d8; text-shadow:0 0 0; }
.special-orderstep_title:before {content:''; background:url(../images/special/special-ico.png) 0 0 no-repeat; width:40px; height:40px; margin:0 auto 7px auto; display:block;}
.is-title1:before {background-position:-120px 0;}
.is-title2:before {background-position:-160px 0;}
.is-title3:before {background-position:-200px 0;}
.is-title4:before {background-position:-240px 0;}
.is-title5:before {background-position:-280px 0;}
.special-orderstep_description {font-size:13px; color:#555555; line-height:1.5;}
.special-infouse {}
.special-infouse-col-1 {width:230px;}
.special-infouse-col-2 {width:305px;}
.special-infouse-col-3 {}
.special-orderbrand {}
.special-orderbrand__head { display:table-cell; width:1%; height:50px; border:1px solid #d8d8d8; background-color:#fafafa; text-align:center; vertical-align:middle; color:#999; line-height:1.3; font-size:13px; }
.special-orderbrand_blt {padding:20px 30px; border:1px solid #e5e5e5; margin-top:12px;}
.special-buybrand {}
.special-button {padding:52px 0 0 0; text-align:center;}
.special-checkpoint {margin-top:52px;}



/* 리스트없음 */
.special-ordernone-col-1 {width:211px;}
.special-ordernone-col-2 {}
.special-ordernone-col-3 {width:167px;}
.special-ordernone-col-4 {width:130px;}
.special-ordernone-col-5 {width:150px;}
.special-list_nodata {font-size:13px; color:#101010; padding:42px 0; font-weight:bold;}
.special-searchbar .hour3-searchbar_wrap {padding:50px 0 40px 0; border-top:1px solid #cccccc;}
.special-ordernone_checkpoint {margin:50px 0;}




/* 신청불가 */
.special-searchkeyword {margin-bottom:20px;}
.special-list_nodata .is-ordercancle {}






/* 신청가능 */
.special-list-skucode {font-size:13px; color:#855bef; text-shadow:0 0 0;}
.special-list-pcnt {width:92px; margin:0 auto;}
.special-list_quaedit-btn {display:block; margin-top:6px; background:#e9e9e9; height:30px; line-height:30px; font-size:12px; color:#666666; text-align:center;}
.special-list_quaedit-btn:hover {background:#8561ec; color:#fff; text-decoration:none;}
.special-list-pcnt {padding:20px 0;}
.special-list-pname {line-height:1.4; height:2.8em;}
.special-ordercancle-button {text-align:center; margin-top:52px;}
.special-list-username {text-transform:uppercase; font-weight:bold;}
.special-list-form1 {width:143px;}
.special-list-form2 {width:81px;}
.special-list-form3 {width:140px;}







