@charset "UTF-8";

/* 타임세일 */
.timesale-title {position: relative; z-index:100; border-bottom:1px solid #ccc; margin-bottom:-1px; margin-top:53px;}
.timesale-title_text {margin-bottom: 22px; font-size:26px; color:#333; font-weight:400; text-align:center; font-family:"Arya", sans-serif; letter-spacing:.2em; text-transform:uppercase; font-weight:400; text-indent:.2em; line-height:1;}
.timesale-title:after {position:absolute; z-index:1; bottom:-1px; left:-1000px; right:-1000px; border-bottom:1px solid #ccc; content:'';}
.timesale {}
.timesale-banner:after {content:''; display:block; clear:both;}
.timesale-banner img {float:left;}
.timesale-brand_list {margin-top:62px;}
.timesale-brand_list .sub-list1 {margin-bottom:45px;}
.timesale-checkpoint {margin:52px 0;}
.timesale-tab ul li a {text-transform:uppercase;}
.timesale-brand_list-title {position:relative; height:54px; margin-top:28px;}
.timesale-brand_listtile-img {text-align:center; height:inherit; display:table-cell; width:1%; vertical-align:middle;}
.timesale-brand_listtile-img img {vertical-align:middle;max-height:56px; }
.timesale-brand_listtile-more {position:absolute; top:12px; right:0px; height:inherit;}
.main-btn-more1 {overflow:hidden; -webkit-box-sizing:border-box; position:relative; box-sizing:border-box; display:inline-block; width:27px; height:27px; border-radius:50%; border:1px solid #845de5; background-color:#fff; text-indent:100%;}
.main-btn-more1:before, .main-btn-more1:after {position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; border-width:0; border-style:solid; border-color:#845de5; content:'';}
.main-btn-more1:before {width:13px; height:0; border-top-width:1px;}
.main-btn-more1:after {width:0; height:13px; border-top-width:1px; border-left-width:1px;}




