@charset "UTF-8";

.wedding-header { position:relative;}
.wedding-header__tab { position:absolute; bottom:0; left:0; right:0; }

.wedding-banner { position:relative; height:374px; }
.wedding-banner__img-wrap { position:absolute; left:-1000%; right:-1000%; top:0; margin:auto; text-align:center; background-color:#030303;}
.wedding-banner__img-wrap img { vertical-align:top;}

.wedding-main-content { position:relative; text-align:center; margin-left:-1000px; margin-right:-1000px; }
.wedding-main-content img {vertical-align:middle; }

.wedding-main-btn-wrap1 { box-sizing:border-box; height:90px; padding-top: 35px; text-align:center; }
.wedding-main-btn-wrap2 { position:absolute; top:327px; left:50%; margin-left:-508px;}
.wedding-main-btn-wrap3 { position:absolute; top:317px; right:50%; margin-right:-265px;}

/* 웨딩샵 */
.wedding {}
.wedding-merit {}
.wedding-add {}
.wedding-add__head {border-top:1px solid #b8b8b8;}
.wedding-add__desc {font-size:13px; color:#999999; padding:15px; text-align:center;}
.wedding-add__body {}
.wedding-add__form1 {width:181px;}
.wedding-add__form2 {width:170px;}
.wedding-add__form3 {width:803px;}
.wedding-add__form4 {width:450px;}
.wedding-add__formbutton {margin:50px 0; text-align:center;}
.wedding-list {}
.wedding-list-col-num { width:100px; }
.wedding-list-col-grade { width:103px; }
.wedding-list-col-writer { width:200px; }
.wedding-list-col-date { width:100px; }
.wedding-list-col-state { width:200px; }
.wedding-list__label {display:inline-block; padding: 2px 7px; border: 1px solid #e5e5e5; border-radius: 10px; background-color: #fff; font-size: 11px; color: #888; line-height: 1; }
.wedding-list__title {text-align:left; padding:0 20px;}
.wedding-list__link {display:inline-block; width:auto; height:inherit; max-width:405px; color:#101010; font-size:13px; font-weight:500; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; vertical-align:middle;}
.wedding-list__link.type-img {padding-left:28px; max-width:375px; background:url("../images/product/reviews-camera_ico.png") 0 center no-repeat;}
.wedding-list__content {background:#fafafa; padding:0px!important; height:0px!important; text-align:left!important; border-top:none!important;}
.wedding-list__contentwrap {display:none; padding:30px 100px; line-height:1.7; border-top:1px solid #d8d8d8;}
.wedding-list__nodata {padding:42px 0!important;}
.wedding-list__pagination {margin:50px 0;}
.wedding-list__button {text-align:center;}




.wing-left {display:none;}




/* 웨딩버튼 */
.btn-effect1 { display: inline-block; position: relative; width: 180px; height: 54px; font-size: 16px; line-height: 54px; text-align:center; text-decoration: none; font-weight: 700; color:inherit; border-width:0; border-style:solid; border-color:inherit; stroke:inherit; background:url(../images/common/blank.png);}
.btn-effect1:before,
.btn-effect1:after { box-sizing:border-box; position:absolute;content:''; top:0; left:0; bottom:0; right:0;border-width:1px; border-style:solid; border-color:inherit;  }
.btn-effect1:before { animation: btn-effect-before 3s infinite;}
.btn-effect1:after { animation: btn-effect-after 3s infinite;}

@keyframes btn-effect-before {
	0%{ top:0; bottom:100%; left:0; right:100%; border-width:1px 1px 0 0; }
	25%{ top:0; bottom:100%; left:0; right:-1px;  }
	50%{ top:0; bottom:0; left:0; right:-1px;  }
	75%{ top:0; bottom:0; left:100%; right:-1px;  }
	100%{ top:100%; bottom:0; left:100%; right:-1px; border-width:1px 1px 0 0;  }
}

@keyframes btn-effect-after {
	0%{ bottom:-1px; top:100%; right:0; left:100%; border-width:0 0 1px 1px; }
	25%{ bottom:-1px; top:100%; right:0; left:0; }
	50%{ bottom:-1px; top:0; right:0; left:0; }
	75%{ bottom:-1px; top:0; right:100%; left:0; }
	100%{ bottom:100%; top:0; right:100%; left:0;border-width:0 0 1px 1px;  }
}

.wedding-btn1 { color:#845de5;stroke:#845de5; border-color:#845de5; }
.wedding-btn2 { color:#333;stroke:#a5a5a5;border-color:#a5a5a5; }
.wedding-btn3  { color:#333; stroke:#bbb; border-color:#bbb;}



.wedding-plan-button {text-align:center; margin:50px 0;}
.wedding-plan-button a {display:inline-block; background-color:#d6567d; font-size:22px; color:#ffffff; height:70px; line-height:70px; padding:0 98px;}
.wedding-plan-button a:after {content:''; width:9px; height:18px; display:inline-block; background:url(../images/wedding/wedding-arrow.png) center center no-repeat; vertical-align:middle; margin-left:12px;}
.wedding-plan {position:relative;}
.wedding-plan:after {content:''; position:absolute; top:0px; right:-1000px; left:-1000px; border-top:1px solid #cccccc;}
.wedding-event-banner {position:relative; height:390px; }
.wedding-event-banner_minus-bottom {margin-bottom:-81px;}
.wedding-event-banner__bg {position:absolute; left:-1000px; right:-1000px; background:url(../images/wedding/wedding-banner.jpg) center center no-repeat; height:inherit; text-indent:-9999px;}
.wedding-event-banner__text {position:relative; z-index:1; font-size:14px; color:#333333; padding-top:255px; text-align:center;}
.wedding-event-banner__text2:before {content:'ㅣ'; margin:0 5px; display:inline-block; color:#b8b8b8;}
.wedding-event-slide {position:relative; padding-top:50px; padding-bottom:50px;}

.wedding-event-slide > .wedding-event-slide__text-wrap {float:left;}
.wedding-event-slide_bg-gray:before {background-color:#f2f2f2; position:absolute; top:0px; bottom:0px; left:-1000px; right:-1000px; content:'';}
.wedding-event-slide:after {content:''; display:block; clear:both;}
.wedding-event-slide__big-img {position:absolute; top:50px; bottom:50px; width:484px; min-height:520px; box-sizing:border-box; font-size:0px;}
.wedding-event-slide__big-img:after {content:''; display:inline-block; height:100%;}
.wedding-event-slide__big-img img {display:inline-block; vertical-align:bottom;}
.wedding-event-slide__text-wrap {width:486px; min-height:520px; box-sizing:border-box; padding-top:40px; position:relative;}
.wedding-event-slide__big-img + .wedding-event-slide__text-wrap {float:right;}
.wedding-event-slide__text-wrap + .wedding-event-slide__big-img {right:0px;}
.wedding-event-slide__title {font-size:40px; color:#010101; position:relative; margin-left:102px; margin-bottom:30px;}
.wedding-event-slide__title:before {content:''; background:url(../images/wedding/wedding-numbering.png) 0 0 no-repeat; width:38px; height:63px; position:absolute; top:0px; left:-50px;}
.wedding-event-slide__title-numbering {content:'1'; font-weight:400; display:block; font-size:88px; color:#010101; position:absolute; top:-20px; left:-102px;}
.wedding-event-slide__title-top {display:block; font-size:14px; color:#999999;}
.wedding-event-slide__subtitle {margin-left:102px; font-size:18px; color:#d6567d; margin-bottom:12px;}
.wedding-event-slide__description {margin-left:102px; font-size:14px; color:#555555; line-height:1.5;  margin-bottom:81px;}
.wedding-event-slide__thumbnail {position:absolute; bottom:0px; left:119px;}
.wedding-event-slide__item {width:64px; height:71px; display:block;}
.wedding-event-slide__item img {width:100%;}
.wedding-slide1,
.wedding-slide2 {font-size:0px;}
.wedding-slide1-control__prev, 
.wedding-slide1-control__next {position:absolute; top:0; width:15px; height:100%; text-align:center; display:block; background:#f5f5f5; color:#333;}
.wedding-slide2-control__prev, 
.wedding-slide2-control__next {position:absolute; top:0; width:15px; height:100%; text-align:center; display:block; background:#ffffff; color:#333;}
.wedding-slide1-control__prev:before, 
.wedding-slide1-control__next:before,
.wedding-slide2-control__prev:before, 
.wedding-slide2-control__next:before {content:''; display:inline-block; vertical-align:middle; height:100%;}
.wedding-slide1-control__prev:hover, 
.wedding-slide1-control__prev:focus,
.wedding-slide1-control__next:hover,
.wedding-slide1-control__next:focus,
.wedding-slide2-control__prev:hover, 
.wedding-slide2-control__prev:focus,
.wedding-slide2-control__next:hover,
.wedding-slide2-control__next:focus {background:#c1c1c1; color:#fff;}
.wedding-slide1-control__prev,
.wedding-slide2-control__prev {left:-17px;}
.wedding-slide1-control__next,
.wedding-slide2-control__next {right:-17px;}